/**
 *  Copyright notice
 */
.c-copyright-notice
  line-height 1.6
  color $lavender + 15%

  +below('xl')
    stack() // under legal links

  +above('xl')
    column(5/12)
    shift(-7/12) // shift left, swap position with legal links
