:php
  use ReBe\Routing\UserAgent;
  
  /**
   * Template Name: Workshops
   *
   * Lists all 'workshop' post type entries.
   *
   */

main.c-workshops__content

  - if (UserAgent::check('crawler')) : 
    - get_template_part('content/pages/workshops/crawler/workshops') // Output content for crawlers
  
  - else : // Output Angular app for browser user-agents + wp 'about' section template 
  
    div&attributes({'ng-app': 'workshopsApp', 'ng-strict-di': 'true'})
      <div ui-view></div>
    
    - get_template_part('content/pages/workshops/wp/about')

  - endif
