:php
  use ReBe\Routing\UserAgent;
  
  /**
   * Template Name: Events
   *
   * Lists all 'event' post type entries.
   *
   * Depending on user agent check this template outputs two separate views:
   * Content for crawlers and AngularJS view if user agent is NOT a crawler.
   * @uses events app (AngularJS)
   * @see assets/ng/events
   */

main.c-events__content
    
  - if (UserAgent::check('crawler')) :
    - get_template_part('content/pages/events/crawler/events') // Output content for crawlers
  
  - else : // Output Angular app for user
    
    div&attributes({'ng-app': 'eventsApp', 'ng-strict-di': 'true'})
      <div ui-view></div>
  
  - endif
