.u-cover
  position absolute
  right 0
  top 0
  bottom 0
  min-width 100%
  min-height 100%
  size auto
  z-index -101
  overflow hidden
  background-repeat no-repeat
  background-position 50% 50%
  background-size: cover