.u-image-container
  position relative
  width 100%
  background-position center
  background-size cover

.u-image-ratio--square
  padding-bottom 100%

// Landscape

.u-image-ratio--4x3
  padding-bottom 75%

.u-image-ratio--16x9
  padding-bottom: 56.25%;

.u-image-ratio--3x2
  padding-bottom 66.66%

.u-image-ratio--8x2
  padding-bottom 62.5%

// Portrait

.u-image-ratio--4x3--portrait
  padding-bottom 100%
  width 75%
