.c-media-credits
  margin-top rem(8px)
  display inline-block
  font-family $base--font-body
  font-size $size--zepto
  font-style normal
  font-weight $weight--light
  color #757575
  line-height 1.8
  &:hover,
  &:focus
    text-decoration underline
