.c-page__content
  col(12)
  +media-query($screen, $bp--tablet)
    padding-bottom rem(100px)
  +media-query($screen, $bp--tablet--landscape)
    col(8)
  +media-query($screen, $bp--desktop)
    col(7)
