.o-hero
  //row()
  display block
  min-height rem(500px)

.c-hero--workshops
  background-color $color--blueberry
  height rem(700px)

.c-hero--how-to
  background-color $color--indigo
  height rem(700px)

.c-hero--products
  background-color #e72939

.c-hero__title
  margin-bottom rem(35px)
  color $color--white
  font-size $size--yotta
  text-transform none
  strong, em, b
    font-size rem(100px)
