.o-hero
  //row()
  display block

.c-hero--workshops
  background-color $color--blueberry
  height 700px

.c-hero__title
  margin-bottom rem(35px)
  color $color--white
  font-size $size--yotta
  text-transform none
  strong, em, b
    font-size 100px
