.c-sidebar-image
  clearfix()

.c-sidebar-image__item
  background-color $color--mint
  float none

.c-sidebar-image__title
  margin-top rem(15px)
  margin-bottom rem(12px)
  display block
  font-size $size--micro
  font-weight $weight--light
  line-height 1.2
  letter-spacing 0
  text-transform none !important
  strong, em, b
    font-weight $weight--semibold
  +media-query( $screen, $bp--tablet )
    margin-top rem(15px)
    margin-bottom rem(12px)
    line-height 1.3
  +media-query( $screen, $bp--desktop )
    font-size $size--nano
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--milli

.c-sidebar-image__caption
  color $color--dark-gray
