.c-workshop-preview
  col(3)
  margin-bottom rem(20px)
  padding rem(30px)
  background-color $color--light-gray
  min-height rem(490px)

.c-workshop-preview--featured
  col(6)

.c-workshop-preview__head
  padding-bottom rem(15px)
  margin-bottom rem(15px)
  border-bottom rem(4px) solid $color--blueberry

.c-workshop-preview__title
  @extend .c-heading--event-preview
  color $color--carbon-black
  font-weight $weight--medium
  strong
    font-weight $weight--semibold

.c-workshop-preview__info
  margin-bottom rem(30px)

.c-workshop-preview-specs__list
  margin-left 0

.c-workshop-preview-specs__item
  margin-bottom rem(13px)
  color $color--carbon-black
