/**
 * Modal menu
 *
 *    Wraps:
 *      - `c-modal-menu__content`
 *
 *    Modal menu appears when header menu toggle icon is taped.
 *
 */
.c-modal-menu
  @extend .o-overlay

  display none // hidden untill menu is toggled

  background-color $indigo // color fallback
  background-color rgba($indigo, .95)
