@import 'kouto-swiss'

meyer-reset()
box-sizing-reset()
normalize()

gs("fluid")

@import 'settings.styl'

// base styles
@import 'base/main.styl'
@import 'base/headings.styl'
@import 'base/paragraphs.styl'
@import 'base/hyperlinks.styl'
@import 'base/lists.styl'
@import 'base/buttons.styl'
@import 'base/dropdowns.styl'
@import 'base/social-icons.styl'

// utilities styles
@import 'utilities/vertical-centering.styl'
@import 'utilities/margins.styl'
@import 'utilities/position.styl'
@import 'utilities/text-alignment.styl'
@import 'utilities/video-container.styl'

// layouts
@import 'layouts/wrapper.styl'

// themes
@import 'themes/invert.styl'

// components
@import 'components/site-head.styl'
@import 'components/site-logo.styl'
@import 'components/site-nav.styl'
@import 'components/site-footer.styl'
@import 'components/home-intro.styl'
@import 'components/page-content.styl'
@import 'components/filter-list.styl'
@import 'components/event-preview.styl'
@import 'components/owl-carousel.styl'
@import 'components/lightbox.styl'
@import 'components/event.styl'
@import 'components/story.styl'
@import 'components/404.styl'
@import 'components/story-preview.styl'
@import 'components/categories-list.styl'
@import 'components/countries-switcher.styl'
@import 'components/filter-counter.styl'
