@import 'kouto-swiss'

meyer-reset()
box-sizing-reset()
normalize()

gs("fluid")

@import 'settings.styl'

// layouts
@import 'layouts/wrapper.styl'

// base styles
@import 'base/main.styl'

// components
@import 'components/filter-list.styl'
@import 'components/event-preview.styl'
@import 'components/page-head.styl'
@import 'components/site-logo.styl'
@import 'components/site-nav.styl'
