/*

  Settings
  ========

  Project specific setings which can be changed to modify the basic look and feel
  of the project with little effort.

  BEM + Namespaces classes naming convention
  ------------------------------------------

  BEM naming convention pattern:

  .block              represents the higher level of an abstraction or component.
  .block__element     represents a descendent of .block that helps form .block as a whole.
  .block--modifier    represents a different state or version of .block.

  Namespaces:

  * o-:         Signify that something is an Object, and that it may be used in any number of
                unrelated contexts to the one you can currently see it in. Making modifications
                to these types of class could potentially have knock-on effects in a lot of other
                unrelated places. Tread carefully.

  * c-:         Signify that something is a Component. This is a concrete, implementation-specific
                piece of UI. All of the changes you make to its styles should be detectable in the context
                you’re currently looking at. Modifying these styles should be safe and have no side effects.

  * u-:         Signify that this class is a Utility class. It has a very specific role (often providing
                only one declaration) and should not be bound onto or changed. It can be reused and
                is not tied to any specific piece of UI.

  * t-:         Signify that a class is responsible for adding a Theme to a view. It lets us know that
                UI Components’ current cosmetic appearance may be due to the presence of a theme.

  * s-:         Signify that a class creates a new styling context or Scope. Similar to a Theme,
                but not necessarily cosmetic, these should be used sparingly—they can be open to abuse and
                lead to poor CSS if not used wisely.

  * is-, has-:  Signify that the piece of UI in question is currently styled a certain way
                because of a state or condition. This stateful namespace is gorgeous, and comes from SMACSS.
                It tells us that the DOM currently has a temporary, optional, or short-lived style applied to it
                due to a certain state being invoked.

  * _:          Signify that this class is the worst of the worst—a hack! Sometimes, although incredibly rarely,
                we need to add a class in our markup in order to force something to work. If we do this, we need to
                let others know that this class is less than ideal, and hopefully temporary (i.e. do not bind
                onto this).

  * js-:        Signify that this piece of the DOM has some behaviour acting upon it, and that JavaScript binds onto it
                to provide that behaviour. If you’re not a developer working with JavaScript, leave these well alone.

  * qa-:        Signify that a QA or Test Engineering team is running an automated UI test which needs to find or
                bind onto these parts of the DOM. Like the JavaScript namespace, this basically just reserves
                hooks in the DOM for non-CSS purposes.


  Read more: http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces


  ToC
  ---

  1. BREAKPOINTS AND MEDIA QUERIES
  2. COLOURS
  3. TYPEFACES
  4. FONT SIZES
  5. BASE STYLES
  6. GRID
  7. DEBUG STYLING
  8. DEFAULT ENVIRONMENT

*/

//
// 1. BREAKPOINTS AND MEDIA QUERIES
// Setup standard widths to pass to media queries
//

$bp--mobile--portrait    = min-width 0px
$bp--mobile--landscape   = min-width 400px
$bp--tablet--portrait    = min-width 550px
$bp--tablet--landscape   = min-width 767px
$bp--desktop--small      = min-width 1024px
$bp--desktop--medium     = min-width 1280px
$bp--desktop--large      = min-width 1600px

// Common aliases
$bp--mobile              = $bp--mobile--portrait
$bp--tablet              = $bp--tablet--portrait
$bp--desktop             = $bp--desktop--small

$screen                  = only screen

//
// 2. COLOURS
//

$color--light-gray       = #eeeef1
$color--dark-gray        = #9b9ba5

$color--ash              = #232326
$color--mint             = #33d1dc
$color--indigo           = #2418b7
$color--blueberry        = #6231d2
$color--lemon            = #ffcc00
$color--yolk             = #ffb400

$color--red              = #e9424e

//
// 3. TYPEFACES
//

$font--main              = 'Open Sans', 'Helvetica', 'Arial'
$font--headings          = 'Proxima Nova W10', $font--main

//
// 4. FONT SIZES
//

$size--giga              = rem(230px)
$size--mega              = rem(61px)
$size--kilo              = rem(50px)

$size--alpha             = rem(36px)
$size--beta              = rem(30px)
$size--gamma             = rem(24px)
$size--delta             = rem(18px)
$size--epsilon           = rem(16px)
$size--zeta              = rem(14px)

$size--milli             = rem(12px)

$size--micro--desktop    = rem(10px)
$size--micro--tablet     = rem(10px)
$size--micro--mobile     = rem(10px)

//
// 5. BASE STYLES
//

$base--font-heading      = $font--main
$base--font-body         = $font--main
$base--font-color        = $color--black
$base--font-size         = $zeta-size
$base--line-height       = 1.6
$base--spacing           = ($base--line-height)em
$base--body-bg           = $color--white
$base--brand-bg          = $color--red

$base-font-size          = $zeta-size
$base-line-height        = $gamma-size
$base-font-color         = $color--ash
$base-font-family        = sans-serif

//
// 6. GRID
//

//
// 7. DEBUG STYLING
//

$debug--mode = false

//
// 8. DEFAULT ENVIRONMENT
// Projects may optionally pass through an environment variable to dictate
// whether development specific stylesheets are compiled into the final CSS.
// Set this variable to anything other than 'development' to manually override.
//

$environment ?= 'development'


