/**
 * Workshop preview head
 *
 *    Wraps:
 *      - `c-workshop-preview__title`
 *
 */
.c-workshop-preview__head
  margin-bottom rem(20px)
  padding-bottom rem(15px)
  min-height rem(65px)

  border-bottom rem(3px) solid $blueberry
