/**
 * Workshop preview title
 */
.c-workshop-preview__title
  @extend .o-heading

  font-weight $medium
  line-height 1.15
  color $carbon-black

  +below('l')
    font-size $centi

  +between('l', 'xl')
    font-size $milli

  +above('xl')
    font-size $centi

// Related post modifier
.c-workshop-preview__title--related
  @extend .c-workshop-preview__title

  +below('l')
    font-size $centi

  +between('l', 'xl')
    font-size $micro

  +above('xl')
    font-size $milli
