/**
 * Styles Index
 *
 * File structure and class namespaces inspired by Harry Roberts
 * [@csswizardry](https://twitter.com/csswizardry)
 *
 *    1. Settings    — Global variables, config switches
 *    2. Tools       — Default public mixins and functions (i.e. kuoto-swiss)
 *    3. Generic     — Ground-zero styles (normalize, resets, box-sizing)
 *    4. Base        — Unclassed HTML selectors (type selectors)
 *    5. Objects     — Cosmetic-free design patterns
 *    6. Components  — Designed components, chunks of UI
 *    7. Scopes      — New styling context (i.e. WordPress editor content)
 *    8. Trumps      — Helpers and overrides
 *
*/
@import 'settings/*'
@import 'tools/*'
@import 'generic/*'
@import 'base/*'
@import 'objects/**/*'
@import 'components/**/*'
@import 'scopes/**/*'
@import 'trumps/**/*'
