@import 'kouto-swiss'

meyer-reset()
box-sizing-reset()
normalize()

gs("fluid")

@import 'settings.styl'

// base styles
@import 'base/wrappers.styl'
@import 'base/headings.styl'
@import 'base/paragraphs.styl'
@import 'base/leads.styl'
@import 'base/hyperlinks.styl'
@import 'base/lists.styl'
@import 'base/buttons.styl'
@import 'base/dropdowns.styl'
@import 'base/icons.styl'

// utilities styles
@import 'utilities/vertical-centering.styl'
@import 'utilities/margins.styl'
@import 'utilities/position.styl'
@import 'utilities/text-alignment.styl'
@import 'utilities/image-container.styl'
@import 'utilities/video-container.styl'

// themes
@import 'themes/invert.styl'

// components
@import 'components/site-head.styl'
@import 'components/site-logo.styl'
@import 'components/site-nav.styl'
@import 'components/site-nav-toggle.styl'
@import 'components/site-footer.styl'

@import 'components/filter-list.styl'
@import 'components/filter-results.styl'
@import 'components/categories-list.styl'
@import 'components/timeline-switcher.styl'
@import 'components/event-preview.styl'
@import 'components/story-preview.styl'
@import 'components/workshop-preview.styl'
@import 'components/timeline-navigation.styl'

@import 'components/media-credits.styl'
@import 'components/social-icons.styl'

@import 'components/sidebar-quote.styl'
@import 'components/sidebar-note.styl'
@import 'components/sidebar-image.styl'
@import 'components/sidebar-video.styl'

@import 'components/home.styl'
@import 'components/lightbox.styl'
@import 'components/lightbox-nav.styl'
@import 'components/event.styl'
@import 'components/event-sidebar.styl'
@import 'components/story.styl'
@import 'components/story-sidebar.styl'
@import 'components/footnotes.styl'

@import 'components/page-hero.styl'
@import 'components/page-content.styl'
@import 'components/page-sidebar.styl'
@import 'components/page-workshops.styl'
@import 'components/page-how-to.styl'

@import 'components/404.styl'
@import 'components/donate-modal.styl'
@import 'components/modal-book-a-workshop.styl'
