/**
 * 404 page content
 */
.c-404__content
  align(both)
  width rem(290px)
  text-align center
  
  +media-query(mediatype, bp-tablet)
    width rem(240px)
  +media-query(mediatype, bp-tablet--landscape)
    width rem(640px)
  +media-query(mediatype, bp-desktop)
    width rem(860px)
  +media-query(mediatype, bp-desktop--medium)
    width rem(940px)
  +media-query(mediatype, bp-desktop--large)
    width rem(1040px)
