/**
 * 404 page main
 */
.c-404__main
  +media-query(mediatype, bp-tablet)
    center(240px)
  +media-query(mediatype, bp-tablet--landscape)
    center(640px)
  +media-query(mediatype, bp-desktop)
    center(860px)
  +media-query(mediatype, bp-desktop--medium)
    center(940px)
  +media-query(mediatype, bp-desktop--large)
    center(1040px)
