/**
 * 404 page title
 */
.c-404__title
  font-weight weight--medium
  font-size size--kilo
  color color--white
  +media-query(mediatype, bp-tablet--landscape)
    font-size size--tera
  +media-query(mediatype, bp-desktop--large)
    font-size size--exa
