/**
 * 404 page title
 */
.c-404__title
  font-weight $medium
  font-size $kilo
  color $white
  
  +media-query(mediatype, bp-tablet--landscape)
    font-size size--tera
  +media-query(mediatype, bp-desktop--large)
    font-size size--exa
