- if(get_sub_field('sidebar_content_type') == 'video') :
  - while(have_rows('video')) : the_row()            
      div.c-media-block
        div.u-video-container
          //- Construct video embed code if video ID and host are provided
          //- otherwise use video url.
          - if(get_sub_field('id') && empty(get_sub_field('video_url'))) :
              - echo 'We have video ID'
              - App\get_embed_video(get_sub_field('video_host'), get_sub_field('id'))
          - else :
            - the_sub_field('video_url')
          - endif

        - if (get_sub_field('credit')) :
            a(href!="<? the_sub_field('credit_link'); ?>").c-media-block__credits
              - the_sub_field('credit')
        - endif
      
        h4.c-media-block__title
          - the_sub_field('title')              
        p.c-media-block__caption
          - the_sub_field('caption')      
  - endwhile
- endif
