div(ng-if="event.resources").c-footnotes__column

  h4.c-section-title {{ siteConfig.event_resources_title }}

  ol.c-footnotes__list

    li(
      ng-repeat="item in event.resources" 
      ng-switch="item.resource_type"
    ).c-footnotes__item
    
      include ./references/book.pug
      include ./references/article.pug
      include ./references/website.pug
      include ./references/misc.pug
