div(ng-if="event.sources").c-footnotes__column

  h4.c-section-title {{ siteConfig.event_sources_title }}

  ol.c-footnotes__list

    li(
      ng-repeat="item in event.sources" 
      ng-switch="item.source_type"
    ).c-footnotes__item
    
      include ./references/book.pug
      include ./references/article.pug
      include ./references/website.pug
      include ./references/misc.pug
