/**
 * Story quote
 */
.c-story-quote
  @extend .o-quote

.c-story-quote__icon
  @extend .o-quote__icon
  color color--blueberry
  // The following overwrites `.o-quote__icon` properties
  // Specificly enlarges icon size starting from desktop screen size
  +media-query(mediatype, bp-desktop)
    margin-top rem(-25px)
    margin-bottom rem(15px) /* between icon and quote text */
    font-size rem(45px)
  +media-query(mediatype, bp-desktop--medium)
    margin-top rem(-40px)
    margin-bottom rem(25px)
    font-size rem(65px)
  +media-query(mediatype, bp-desktop--large)
    margin-top rem(-45px)
    margin-bottom rem(25px)
    font-size rem(80px)

.c-story-quote__content
  @extend .o-quote__content

.c-story-quote__text
  @extend .o-heading
  @extend .o-quote__text
  font-size size--milli
  line-height 1.2
  color color--dark-gray
  text-transform none /* overwrites `.o-heading` defaults */
  em
  strong
    color color--blueberry
  +media-query(mediatype, bp-tablet)
    font-size size--deci
    line-height 1.4
  +media-query(mediatype, bp-desktop)
    font-size size--centi
  +media-query(mediatype, bp-desktop--medium)
    font-size size--deca
    line-height 1.45
  +media-query(mediatype, bp-desktop--large)
    line-height 1.35
    font-size size--kilo

.c-story-quote__meta
  @extend .o-quote__meta
  float left

.c-story-quote__author
  font-weight weight--medium
