# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/mu-plugins/base-setup
web/app/upgrade
web/media/*
web/app/uploads/*
web/media/*

# WordPress
web/wp
web/.htaccess

# Theme
web/app/themes/rebe/dist
!web/app/themes/rebe/templates
web/app/themes/rebe/bower_components
web/app/themes/rebe/node_modules
web/app/themes/rebe/npm-debug.log
web/app/themes/rebe/vendor

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
