# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql
web/*.sql

# Dotenv
.env
.env.*
!.env.example
.DS_Store

# Application
web/app/themes/theme/dist/*
web/app/themes/theme/bower_components
web/app/themes/theme/node_modules
web/app/themes/theme/npm-debug.log
web/app/plugins
web/app/mu-plugins/*
web/app/upgrade
web/app/uploads
web/media/*

!web/app/themes/theme/dist/.gitkeep
!web/app/plugins/.gitkeep
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/bedrock-autoloader.php
!web/app/mu-plugins/base-setup
!web/media/.gitkeep

# Vendor (e.g. Composer)
vendor
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
