/**
 * Post sharing label
 */
.c-post-sharing__label
  display inline-block
  margin-right rem(20px)
  vertical-align middle

  font-family $base-heading-font
  font-weight $thin
  text-transform uppercase
  letter-spacing rem(.8)
  color $gray--medium

  +below('xl')
    font-size $nano

  +above('xl')
    font-size $micro
