/**
 * Post sharing (options)
 *
 *   Wraps:
 *      - `c-post-sharing__label`
 *      - `c-post-sharing__list`
 *
 */
.c-post-sharing
  clearfix()
  margin-bottom rem(25px)
  padding-top rem(25px) // between content and top-border

  width 100%
  border-top rem(1px) solid $gray--light - 2%
