/**
 * Footer content (container)
 *
 *   Wraps:
 *      - `c-directories`
 *      - `c-locale`
 *      - `c-legal`
 *      - `c-copyright-notice`
 *
 */
.c-footer__content
  @extend .o-centered-content
