aside.c-event__sidebar
  //- Sidebar objects from the content
  div(ng-repeat="item in event.sidebar" ng-switch="item.type")
    include ../../../../../partials/ng/media-blocks/video.jade
    include ../../../../../partials/ng/media-blocks/image.jade
    include ./sidebar/quote.jade
    include ./sidebar/sidenote.jade
    include ./sidebar/featured-story.jade
    include ./sidebar/featured-workshop.jade
  
  include ./sidebar/categories.jade
  include ./sidebar/share.jade
