aside.c-event__sidebar
  //- Sidebar objects from the content
  div(ng-repeat="item in event.sidebar" ng-switch="item.type")
    include ../../../../../partials/ng/media-blocks/video.jade
    include ../../../../../partials/ng/media-blocks/image.jade
    include ./quote.jade
    include ./sidenote.jade
  
  include ./categories.jade
  include ./share.jade
