blockquote(ng-if="story.excerpt").c-quote--story
  div.c-icon-quote.c-quote__icon--story
  div.c-quote__content
    h2(ng-bind-html="story.excerpt").c-quote__text--story {{ item.text }}
    div.c-quote__meta--story
      span.c-quote__author--story
        strong {{ story.hero }}, 
        | {{ story.city[0].term_name }}
