//- Related stories (within stories app)
div(ng-if="story.related_stories").c-story__content.c-story__related-stories
  h3.c-section-title {{ siteConfig.story_related_stories_title }}
  div.c-story__related-posts
    article(
      ng-repeat="story in story.related_stories"
      ng-click="openStory(story)"
      ng-mouseenter="mouseHover=true"
      ng-mouseleave="mouseHover=false"  
    ).c-story-preview--related
      include ../../preview--related-post.pug
