/**
 * Page subtitle
 */
.c-page__subtitle
  font-weight $regular

  strong
  em
  b
    font-weight $bold

  +below('m')
    font-size $micro

  +between('m', 'xl')
    font-size $centi

  +above('xl')
    font-size $deci
