// Gray line representing 'timeline'
.c-timeline-navigation__line
  display inline-block
  margin-top rem(35px)
  width 55%
  border-bottom rem(1px) solid $gray--light
  +media-query(mediatype, bp-tablet)
    margin-top rem(10px)
    width 80%
  +media-query(mediatype, bp-desktop)
    margin-top rem(10px)
    width 85%
  +media-query(mediatype, bp-desktop--medium)
    width 90%
