/**
 *  Owl Carousel Pagination overrides
 *
 *    We're using Owl Carousel as a temporary solution
 *    for displaying events in linear view (aka timeline).
 *    The following overrides default styles of Owl Carousel UI,
 *    so they look more native in our design.
 */

// Carousel dotted pagination wrapper
.owl-pagination
  margin-top rem(15px)
  padding 0 rem(15px)
  +media-query(mediatype, bp-tablet)
    margin-top rem(40px)
    padding 0 rem(60px)
  +media-query(mediatype, bp-desktop--medium)
    margin-top rem(50px)

// Carousel dotted pagination item
.owl-theme .owl-controls .owl-page span
  background $gray--medium !important

// Carousel dotted pagination item active
.owl-theme .owl-controls .owl-page.active span
  background $yolk !important
