.c-filter-list
  clearfix()
  float left
  width 100%
  margin 0
  padding 0

.c-filter-list__item
  float left
  margin 1px 1px 0 0

.c-filter-list__item--active--blueberry
  color $color--white
  background-color $color--blueberry

.c-filter-list__item--active--indigo
  color $color--white
  background-color $color--indigo
