.o-lightbox
  position fixed
  top 0
  right 0
  size 100%
  max-width 100%
  min-height 100%
  overflow-x hidden
  z-index 1000
  background-color rgba(0, 0, 0, .65)

// Because of post to post left/right navigation divs used
// on Event and Story post views we only set top and bottom
// padding for lightbox
.c-lightbox--event,
.c-lightbox--story
  +media-query($screen, $bp--tablet)
    padding rem(40px) 0
  +media-query($screen, $bp--desktop)
    padding rem(60px) 0
  +media-query($screen, $bp--desktop--medium)
    padding rem(60px) 0
  +media-query($screen, $bp--desktop--large)
    padding rem(60px) 0

.c-lightbox--donate
  display none
  +media-query($screen, $bp--tablet)
    padding rem(50px) rem(30px)
  +media-query($screen, $bp--desktop)
    padding rem(100px) rem(80px)
  +media-query($screen, $bp--desktop--medium)
    padding rem(150px) rem(220px)
  +media-query($screen, $bp--desktop--large)
    padding rem(180px) rem(350px)

.c-lightbox--book-a-workshop
  display none
  +media-query($screen, $bp--tablet)
    padding rem(50px) rem(30px)
  +media-query($screen, $bp--desktop)
    padding rem(100px) rem(80px)
  +media-query($screen, $bp--desktop--medium)
    padding rem(150px) rem(220px)
  +media-query($screen, $bp--desktop--large)
    padding rem(180px) rem(350px)

//.c-lightbox--newsletter

.o-lightbox__content-wrapper
  position relative
  float left
  width 100%
  background $color--white

.c-lightbox__content-wrapper--donate
  min-height 500px

// Set individual width for lightbox content wrappers
.c-lightbox__content-wrapper--event
  padding 0 rem(15px)
  +media-query($screen, $bp--tablet)
    padding rem(20px) rem(30px)
    padding-top rem(5px)
    width 90%
  +media-query($screen, $bp--desktop)
    padding rem(20px) rem(60px)
    padding-top rem(5px)
  +media-query($screen, $bp--desktop--medium)
    padding rem(20px) rem(80px)
  +media-query($screen, $bp--desktop--large)
    padding rem(20px) rem(80px)
    width 80%

.c-lightbox__content-wrapper--story
  padding 0 rem(15px)
  +media-query($screen, $bp--tablet)
    padding rem(20px) rem(30px)
    padding-top rem(5px)
    width 90%
  +media-query($screen, $bp--desktop)
    padding rem(20px) rem(30px)
    padding-top rem(5px)
  +media-query($screen, $bp--desktop--medium)
    padding rem(20px) rem(60px)
  +media-query($screen, $bp--desktop--large)
    padding rem(20px) rem(80px)
    width 80%

.c-lightbox__content-wrapper--donate
  padding rem(20px)
  +media-query($screen, $bp--tablet)
    padding rem(60px) rem(80px)
