.c-site-footer
  position relative
  z-index 100
  width 100%
  background-color $color--black
  clear both

.c-site-footer__language-switcher a
  @extend .c-site-nav__list--footer li a
  width 100%
  text-align center
  +media-query($screen, $bp--tablet)
    width auto
    float right
    padding-right rem(50px)

.c-site-footer__social-icons
  width 100%
  margin-top rem(5px)
  text-align center
  +media-query($screen, $bp--tablet)
    margin 0
    float right
    padding rem(12px) 0
    width auto

.c-site-footer__social-icons li
  display inline-block
  float none
  padding-left rem(15px)
  +media-query($screen, $bp--tablet)
    float left
    display block

.c-site-footer__social-icons li:first-of-type
  // Remove right margin from the first icon
  padding-left 0

.c-site-footer__social-icons li a
  display block
  size rem(22px)
  background-size 100%
  text-indent rem(-9999px)
