.o-site-logo
  background-size 100% auto

.c-site-logo--nav
  display inline-block
  margin-top rem(15px)
  margin-bottom rem(14px)
  size rem(211px) rem(20px)
  +media-query($screen, $bp--tablet)
    float left
    margin-top rem(6px)
    margin-bottom 0
    size rem(200px) rem(19px)

.c-site-logo--nav--home
  +media-query($screen, $bp--tablet)
    size rem(300px) rem(28px)
  +media-query($screen, $bp--desktop)
    float left
    size rem(250px) rem(25px)
