/**
 * Workshop preview details list
 */
.c-workshop-preview__details
  @extend .o-paragraph

  .is-detail
    font-size $pico
    line-height 1.8
    color $carbon-black + 20%

    strong
    em
    b
      font-weight $semibold
      color $carbon-black

// Related post modifier
.c-workshop-preview__details--related
  @extend .c-workshop-preview__details

  .is-detail
    font-size rem(13px)
    line-height 1.7
