.c-workshops-intro
  row()
  float left
  padding-top rem(60px)
  padding-bottom rem(40px)

.c-workshops-intro__about
  col(6)
  padding-right rem(60px)
  padding-bottom rem(40px)

.c-workshops-intro__featured
  col(6)

.c-workshops-intro__featured-title
  margin-top rem(10px)
  margin-bottom rem(35px)
