.c-workshop__lightbox
  display none
  +media-query(mediatype, bp-tablet)
    padding rem(50px) rem(30px)
  +media-query(mediatype, bp-desktop)
    padding rem(100px) rem(80px)
  +media-query(mediatype, bp-desktop--medium)
    padding rem(150px) rem(220px)
  +media-query(mediatype, bp-desktop--large)
    padding rem(180px) rem(350px)
