.c-workshop-list
  row()
  float left
  padding rem(40px) 0
  background-color color--blueberry
  clearfix()
  display block
  margin-bottom 40px

.c-workshop-list__title
  margin-top rem(10px)
  margin-bottom rem(35px)
  color color--white
