html,
body
  position relative
  height 100%

body
  background-color $color--light-gray

.o-site-wrapper
  overflow-x hidden
  overflow-y scroll
  width 100%
  max-width 100%
  min-height 100%
  background-color $color--white

.o-wrapper
  margin 0 rem(15px)
  +media-query($screen, $bp--tablet)
    margin 0 rem(25px)
  +media-query($screen, $bp--desktop)
    margin 0 rem(80px)
  +media-query($screen, $bp--desktop--large)
    margin 0 rem(140px)

.o-row
  row()
  float left
