/**
 * Filter dashboard
*/
.c-dashboard
  clearfix()
  margin-bottom rem(20px) /* between dashboard and entries list */
  font-family base--font-heading
  font-size size--femto
  font-style normal
  font-weight weight--thin
  letter-spacing rem(0.5px)
  text-transform uppercase
  color color--medium-gray
  strong
    font-weight weight--regular
    color color--carbon-black
  +media-query(mediatype, bp-tablet)
    font-size size--pico
    letter-spacing rem(1px)
  +media-query(mediatype, bp-desktop)
    font-size size--nano
  +media-query(mediatype, bp-desktop--medium)
    letter-spacing rem(2px)
    font-size size--micro

.c-dashboard__info
  margin-top rem(20px)
  stack()
  +media-query(mediatype, bp-tablet)
    unstack()
    column(1/2)

.c-dashboard__posts-total
.c-dashboard__posts-filtered
  float left
  margin-right rem(20px)
  +media-query(mediatype, bp-tablet)
    margin-right rem(25px)
  +media-query(mediatype, bp-desktop)
    margin-right rem(30px)
  +media-query(mediatype, bp-desktop--medium)
    margin-right rem(40px)

.c-dashboard__pagination
  @extend .c-dashboard__info
