/**
 *  Copyright notice
 */
.c-copyright-notice
  line-height 1.25
  color color--lavender + 15%
  stack() /* under legal links */
  +media-query(mediatype, bp-desktop)
    column(5/12)
    shift(-7/12) /* shift left, swapping position with legal links */
