/**
 *  Footer directory
 *
 *   Contaner for footer directory list.
 */
.c-directory
  stack()
  clearfix()
  margin-bottom rem(30px) /* between direcories and legal sections */
  +media-query(mediatype, bp-tablet--landscape)
    margin-bottom rem(65px)
  +media-query(mediatype, bp-desktop--medium)
    column(8/12)
