/**
 *  Footer legal section links
 */
.c-legal-links__list
  @extend .o-ui-list
  stack() /* above copyright notice */
  margin-bottom rem(30px) /* between list and copyright notice */
  +media-query(mediatype, bp-desktop)
    unstack()
    column(7/12)
    shift(5/12) /* shift right, swapping position with copyright notice */
    margin-bottom 0

  .c-menu__item
    display inline-block /* display legal links as inline blocks */
    padding-right rem(8px) /* between menu items */
    line-height 1.8
    +media-query(mediatype, bp-tablet)
      padding-right rem(20px)

  .c-menu__item:last-of-type
    padding-right 0

  .c-menu__item a
    padding rem(3px) 0 /* expand link's 'sensitive' zone */
    transition color .2s ease-in /* color transition animation */
    color $lavender + 35%
    &:hover
    &:focus
      color $lavender + 50%

  .c-menu__item--active a
    color $blueberry + 20%
