/**
 *  Footer legal section
 */
.c-footer__legal
  stack() /* under locale */
  font-weight weight--light
  font-size size--femto
  letter-spacing rem(1px)
  +media-query(mediatype, bp-desktop)
    column(8/12)
    shift(-4/12) /* shift right, swapping position with locale */
