/**
 * Footer social links
 */
.c-social-links__list
  @extend .o-ui-list
  margin-top rem(30px) /* space between the directory menu items social links */

.c-social-links__item
  display inline-block
  margin-left rem(-2px) /* optical circle icon alignment */
  padding-right rem(15px) /* right space between items */

.c-social-links__item:last-of-type
  padding-right 0

.c-social-links__icon
  @extend .o-btn
  font-size rem(28px)
  color color--lavender + 50%
  &:hover
  &:focus
    color color--lavender + 75%
