<div class="c-timeline-switcher">

  <h2 class="is-active" ng-click="ctrl.toggle()">
    <span class="c-timeline-switcher__timeline">{{ timeline.name }}</span>
    <span class="c-icon-arrow-down--circle c-timeline-switcher__icon">
      <span class="u-visually-hidden">Select Timeline</span>
    </span>
  </h2>

  <ul class="c-timeline-switcher__list" ng-show="ctrl.open">
    <li class="c-timeline-switcher__item" ng-repeat="country in siteConfig.timelines" ng-click="switchTimeline(country.slug)">
      {{ country.name }}
    </li>
  </ul>

</div>
