/**
 * Home tagline word
 */
.c-tagline__word
  display inline-block
  margin-right rem(3px)
  margin-bottom rem(3px)

  font-family $base-heading-font
  font-weight $thin
  letter-spacing rem(1.7px)
  line-height 1
  color $white
  background-color $mint // fallback color
  background-color rgba($mint, .6)

  // Mobile & Tablet screens
  +below('s', orientation: portrait)
    padding rem(10px) rem(12px)
    font-size $milli

  +between('s', 'm', orientation: portrait)
    font-size $deci

  +above('m', orientation: portrait)
    padding rem(12px) rem(14px)
    padding-bottom rem(14px) // Proxima Nova iPad rendering fix
    font-size $kilo

  +below('m', orientation: landscape)
    padding rem(10px) rem(12px)
    font-size $milli

  +between('m', 'l', orientation: landscape)
    padding rem(12px) rem(16px)
    font-size $deci

  // Laptops & Desktop screens
  +between('l', 'xl')
    padding rem(12px) rem(14px)
    padding-bottom rem(14px) // Proxima Nova iPad rendering fix
    font-size $kilo

  +at('xl')
    padding rem(14px) rem(16px)
    padding-top rem(16px) // Proxima Nova iPad rendering fix
    font-size $mega

  +at('hd')
    margin-right rem(5px)
    margin-bottom rem(5px)
    padding rem(16px) rem(20px)
    padding-top rem(18px) // Proxima Nova iPad rendering fix
    font-size $exa
    letter-spacing rem(1.8px)

  +at('uhd')
    margin-right rem(7px)
    margin-bottom rem(7px)
    padding rem(18px) rem(24px)
    padding-bottom rem(20px)
    font-size $zetta
