ul.c-social-links__list
  - if(get_field('facebook_page_url', 'option')) :
      li.c-social-links__item
        a(href!="<?php echo 'https://www.facebook.com/' . get_field('facebook_user_name', 'option'); ?>").c-icon-facebook--circle.c-social-links__icon
          span.u-visually-hidden
            - echo get_field('follow_label', 'option') . ' Facebook'
  - endif

  - if(get_field('twitter_url', 'option')) :
      li.c-social-links__item
        a(href!="<?php echo 'https://www.twitter.com/' . get_field('twitter_user_name', 'option'); ?>").c-icon-twitter--circle.c-social-links__icon
          span.u-visually-hidden
            - echo get_field('follow_label', 'option') . ' Twitter'
  - endif

  - if(get_field('vimeo_url', 'option')) :
      li.c-social-links__item
        a(href!="<?php echo 'https://www.vimeo.com/' . get_field('vimeo_user_name', 'option'); ?>").c-icon-vimeo--circle.c-social-links__icon
          span.u-visually-hidden
            - echo get_field('follow_label', 'option') . ' Vimeo'
  - endif
