/**
 * Button object
 */
.o-btn
  cursor pointer
  display inline-block
  transition all .35s ease-in /* transition animation */

.o-btn--disabled
  cursor default

.o-btn--xsmall
  padding rem(3px) rem(6px)

.o-btn--small
  padding rem(7px) rem(9px)
  +media-query(mediatype, bp-tablet)
    padding rem(10px) rem(12px)
  +media-query(mediatype, bp-desktop)
    padding rem(10px) rem(12px)
  +media-query(mediatype, bp-desktop--medium)
    padding rem(11px) rem(14px)

.o-btn--medium
  padding rem(8px) rem(12px)
  +media-query(mediatype, bp-tablet)
    padding rem(12px) rem(16px)

.o-btn--large
  padding rem(23px) rem(36px)
  +media-query(mediatype, bp-tablet)
    padding rem(16px) rem(24px)
    min-width rem(160px)
  +media-query(mediatype, bp-tablet--landscape)
    padding rem(19px) rem(26px)
    min-width rem(200px)
  +media-query(mediatype, bp-desktop)
    padding rem(19px) rem(26px)
    min-width rem(200px)
  +media-query(mediatype, bp-desktop--medium)
    padding rem(22px) rem(34px)

.o-btn--xlarge
  padding rem(20px) rem(40px)
