/*
 * Content wrapper
 *
 *    Container object that is used as main site content wrapper
 *
 *    To center the container we're using `center()` jeet mixin. To restore the rules
 *    applied by the `center()` mixin, use the `uncenter()` mixin.
 *    See: http://jeet.gs/
 */

 // Horizontally centered, with left/right paddings
.o-centered-content
  center(pad:15px)
  +media-query(mediatype, bp-tablet)
    center(pad:25px)
  +media-query(mediatype, bp-desktop)
    center(pad:80px)
  +media-query(mediatype, bp-desktop--large)
    center(max-width:1600px, pad:140px)
  +media-query(mediatype, bp-desktop--xlarge)
    center(max-width:1920px, pad:100px)
  +media-query(mediatype, bp-desktop--4k)
    center(max-width:2000px, pad:80px)
