/**
 * Heading object
 */
.o-heading
  font-family base--font-heading
  font-weight weight--thin
  letter-spacing rem(1px)
  text-transform uppercase
  strong
  em
  b
    font-weight weight--regular
