/**
 * Hero object
 *
 *    Page hero
 */
.o-hero
  display block
  min-height rem(500px)

.o-hero__title
  // Review if this is too specific!
  margin-bottom rem(35px)
  color color--white
  font-size size--yotta
  text-transform none
  strong
  em
  b
    font-size rem(100px)
