/**
 *  Lead object
 *
 *    Use to style an opening paragraph of a post, or page.
 *    link: https://en.wikipedia.org/wiki/Lead_paragraph
 */
.o-lead
  font-size $micro
  font-weight $thin
  line-height 1.4
  text-transform none
  strong
  em
  b
    font-weight $regular
  +media-query(mediatype, bp-tablet)
    font-size size--deca
  +media-query(mediatype, bp-desktop--medium)
    font-size $mega

.o-lead--small
  font-size $nano
  font-weight $thin
  line-height 1.6
  strong
  em
  b
    font-weight $medium
  +media-query(mediatype, bp-tablet)
    font-size $milli
  +media-query(mediatype, bp-desktop--medium)
    font-size $deci
