/**
 * Overlay
 *
 *    Top layer object for modals, lightboxes and theaters
 *
 */
.o-overlay
  fixed 0 0 false false
  overflow scroll
  z-index 1001 // this is the highest value!
  min-height 100%
  max-width 100%
  size 100%
