/**
 * Sidenote
 *
 *    - o-sidenote
 *      - o-sidenote__title
 *      - o-sidenote__caption
*/
.o-sidenote
  clearfix()

.o-sidenote__title
  margin-bottom rem(15px)
  font-weight $thin
  line-height 1.3
  strong
  em
  b
    font-weight $regular

.o-sidenote__caption
  color $gray--dark
