.o-text-link
  text-decoration none
  color $indigo
  transition all .35s ease // global color transitions

  &:hover
  &:focus
    text-decoration underline
    color $indigo + 50

  &:visited
    color $gray--dark-gray
