.o-text-link
  text-decoration none
  color color--indigo
  transition all .35s ease /* color transitions */
  &:hover
  &:focus
    color color--indigo + 50
    text-decoration underline
  &:visited
    color color--dark-gray-gray
