.o-text-link
  text-decoration none
  color $indigo
  transition all .35s ease /* color transitions */
  &:hover
  &:focus
    color $indigo + 50
    text-decoration underline
  &:visited
    color $gray--dark-gray
