{
  "root": true,
  "extends": "eslint:recommended",
  "extends": "angular",
  "globals": {
    "wp": true,
  },
  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "amd": true
  },
  "rules": {
    "no-console": 0
  }
}
