{
  "root": true,
  "extends": "eslint:recommended",
  "extends": "angular",
  "plugins": [
    "angular",
    "disable" # disable eslint for specific files, See https://github.com/mradionov/eslint-plugin-disable
  ],
  "globals": {
    "wp": true,
  },
  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "amd": true,
  },
  "rules": {
    "no-console": 0
  },
  "settings": {
    "eslint-plugin-disable": {
      "paths": {
        "angular": ["**/src/assets/scripts/main.js"] #disable angular eslint for main.js.
      }
    }
  }
}
