/**
 * Text list styles (modifiers)
 */
.o-text-list--disc
  list-style-type disc

.o-text-list--circle
  list-style-type circle

.o-text-list--decimal
  list-style-type decimal

.o-text-list--lower-roman
  list-style-type lower-roman

.o-text-list--lower-greek
  list-style-type lower-greek

.o-text-list--lower-latin
  list-style-type lower-latin

.o-text-list--lower-alpha
  list-style-type lower-alpha
