/**
 * Featured workshop
 */
.c-event__featured-workshop
  margin-bottom rem(50px)
  padding rem(25px)
  background-color $gray--light

  .has-title
    @extend .o-heading

    font-size $nano

    span
      padding rem(3px) rem(8px)
      letter-spacing rem(1px)
      color $white
      background-color $blueberry

    +below('l')
      margin-bottom rem(20px)

    +between('l', 'xl')
      margin-bottom rem(25px)

    +above('xl')
      margin-bottom rem(30px)
