/*

  Site buttons
  ============

  Markup: <button class="o-btn c-btn--{size} c-btn--{color}">Click me</button>

  1. Reset & defaults
  2. Size modifiers
  3. Color modifiers

*/

// 1. Reset & defaults
button,
.o-btn
  cursor pointer
  border none
  outline none
  background none
  appearance none
  border-radius 0
  box-shadow none
  &:active,
  &:focus
    outline: none

.o-btn
  display inline-block
  font-family $base--font-heading
  font-weight $weight--thin
  text-transform uppercase

// 2. Size modifiers
.c-btn--small
  padding rem(7px) rem(9px)
  font-size $size--atto
  letter-spacing rem(1px)
  +media-query($screen, $bp--tablet)
    padding rem(10px) rem(12px)
  +media-query($screen, $bp--desktop)
    padding rem(10px) rem(12px)
    font-size $size--femto
  +media-query($screen, $bp--desktop--medium)
    padding rem(11px) rem(14px)
    padding-bottom rem(10px)
    font-size $size--pico

.c-btn--medium
  padding rem(6px) rem(8px)
  font-size $size--femto
  letter-spacing rem(0.5px)
  +media-query($screen, $bp--tablet)
    padding rem(12px) rem(15px)
    font-size $size--pico
    letter-spacing rem(1px)
  +media-query($screen, $bp--desktop)
    font-size $size--nano
  +media-query($screen, $bp--desktop--medium)
    font-size $size--micro

.c-btn--large
  padding rem(25px) rem(40px)
  font-size $size--nano
  letter-spacing rem(2px)
  min-width 90%
  +media-query($screen, $bp--tablet)
    min-width rem(220px)
    font-size $size--nano
  +media-query($screen, $bp--tablet--landscape)
    min-width rem(240px)
  +media-query($screen, $bp--desktop)
    padding rem(23px) rem(35px)
    min-width rem(260px)
    font-size $size--femto
  +media-query($screen, $bp--desktop--medium)
    padding rem(21px) rem(50px)
    font-size $size--centi

// 3. Color modifiers
.c-btn--mint
  color $color--white
  background-color $color--mint

.c-btn--indigo
  color $color--white
  background-color $color--indigo

.c-btn--blueberry
  color $color--white
  background-color $color--blueberry

.c-btn--yolk
  color $color--white
  background-color $color--yolk

.c-btn--lightgray
  color $color--medium-gray
  background-color $color--light-gray

// Unique casses
.c-btn--selector
  padding rem(10px)
  font-size $size--nano
  letter-spacing rem(1px)
  +media-query($screen, $bp--tablet)
    padding rem(16px) rem(18px) rem(18px) rem(18px)
    font-size $size--centi
  +media-query($screen, $bp--desktop)
    padding rem(18px) rem(20px)
    font-size $size--deca
  +media-query($screen, $bp--desktop--medium)
    font-size $size--kilo
