// reset defaults
button,
.o-btn
  cursor pointer
  border none
  outline none
  background none
  appearance none
  border-radius 0
  box-shadow none
  &:active,
  &:focus
    outline: none

.o-btn
  display inline-block
  padding rem(25px) rem(45px)
  font-family $base--font-heading
  text-transform uppercase
  letter-spacing rem(1px)
  color $color--white

// Sizes
.o-btn--small
  padding rem(14px) rem(16px)

.o-btn--large
  padding rem(25px) rem(45px)

// Colors
.o-btn--mint
  background-color $color--mint

.o-btn--indigo
  background-color $color--indigo

.o-btn--blueberry
  background-color $color--blueberry

.o-btn--yolk
  background-color $color--yolk

.o-btn--lightgrey
  color $color--dark-gray
  background-color $color--light-gray

// Unique casses
.c-btn--selector
  padding rem(18px) rem(20px)

.c-btn--filter
  padding rem(12px) rem(15px)


