/*

  Site buttons
  ============

  Markup: <button class="o-btn c-btn--{size} c-btn--{color}">Click me</button>

  1. Reset & defaults
  2. Size modifiers
  3. Color modifiers

*/

// 1. Reset & defaults
button,
.o-btn
  cursor pointer
  border none
  outline none
  background none
  appearance none
  border-radius 0
  box-shadow none
  &:active,
  &:focus
    outline: none

.o-btn
  display inline-block
  font-family $base--font-heading
  font-weight 100
  text-transform uppercase

// 2. Size modifiers
.c-btn--small
  padding rem(14px) rem(16px)
  font-size $size--zeta
  +media-query($screen, $bp--tablet--landscape)
    padding rem(14px) rem(16px)
    font-size $size--delta

.c-btn--medium
  padding rem(10px) rem(12px)
  font-size $size--milli
  letter-spacing rem(1px)
  +media-query($screen, $bp--tablet)
    padding rem(12px) rem(15px)
    font-size $size--epsilon
  +media-query($screen, $bp--tablet--landscape)
    font-size $size--delta
  +media-query($screen, $bp--desktop--medium)
    font-size $size--gamma

.c-btn--large
  padding rem(25px) rem(40px)
  font-size $size--delta
  letter-spacing rem(2px)
  min-width 65%
  +media-query($screen, $bp--tablet)
    min-width rem(250px)
    font-size $size--delta
  +media-query($screen, $bp--desktop)
    padding rem(23px) rem(35px)
    min-width rem(260px)
    font-size $size--gamma
  +media-query($screen, $bp--desktop--medium)
    padding rem(25px) rem(45px)
    font-size $size--beta

// 3. Color modifiers
.c-btn--mint
  color $color--white
  background-color $color--mint

.c-btn--indigo
  color $color--white
  background-color $color--indigo

.c-btn--blueberry
  color $color--white
  background-color $color--blueberry

.c-btn--yolk
  color $color--white
  background-color $color--yolk

.c-btn--lightgrey
  color $color--dark-gray
  background-color $color--light-gray




