/*

  Site headings
  =============

  Markup: <h1 class="o-heading c-heading--{modifier}">

*/

.o-heading
  font-family $base--font-heading
  font-style normal
  font-weight $weight--thin
  letter-spacing rem(1px)
  text-transform uppercase
  color $base-font-color
  strong, em, b
    font-weight $weight--regular

/*

  Scope styling for WordPress `the_content` h2-h6
  -----------------------------------------------

*/

.o-wp-editor
  h2,h3,h4,h5,h6
    @extend .o-heading
    margin-top rem(30px)
    margin-bottom rem(10px)

.o-wp-editor
  h2
    font-size $size--deci
    font-weight $weight--regular
    line-height 1.3
    strong, em, b
      font-weight $weight--semibold
    +media-query( $screen, $bp--tablet )
      margin-top rem(35px)
      margin-bottom rem(20px)
      font-size $size--centi
    +media-query( $screen, $bp--desktop )
      margin-top rem(40px)
      margin-bottom rem(15px)
      font-size $size--deca
    +media-query( $screen, $bp--desktop--medium )
      font-size $size--kilo

  h2:first-of-type
    margin-top 0

  h3
    font-size $size--centi
    font-weight $weight--light
    line-height 1.2
    +media-query( $screen, $bp--tablet )
      margin-top rem(30px)
      margin-bottom rem(15px)
      font-size $size--micro
    +media-query( $screen, $bp--desktop )
      font-size $size--milli
      font-weight $weight--light
    +media-query( $screen, $bp--desktop--medium )
      margin-bottom rem(20px)
      font-size $size--deci
  h4
    font-size $size--micro
    font-weight $weight--light
    line-height 1.2
    +media-query( $screen, $bp--tablet )
      margin-top rem(30px)
      margin-bottom rem(10px)
      font-size $size--nano
    +media-query( $screen, $bp--desktop )
      font-size $size--micro
    +media-query( $screen, $bp--desktop--medium )
      margin-bottom rem(15px)
      font-size $size--milli
  h5
    margin-bottom rem(8px)
    font-size $size--nano
    font-weight $weight--light
    line-height 1.2
    +media-query( $screen, $bp--tablet )
      margin-top rem(30px)
      margin-bottom rem(10px)
      font-size $size--pico
    +media-query( $screen, $bp--desktop )
      font-size $size--nano
    +media-query( $screen, $bp--desktop--medium )
      margin-bottom rem(15px)
      font-size $size--micro
  h6
    margin-bottom rem(8px)
    font-size $size--nano
    font-weight $weight--semibold
    text-transform none
    letter-spacing normal
    line-height 1.2
    +media-query( $screen, $bp--tablet )
      margin-top rem(30px)
      margin-bottom rem(15px)
      font-size $size--pico
    +media-query( $screen, $bp--desktop )
      font-size $size--nano
    +media-query( $screen, $bp--desktop--medium )
      margin-bottom rem(12px)
      font-size $size--micro

// End of scope

/*

    Titles
    ------

*/

.c-heading--page-title
  font-size $size--deci
  line-height 1.2
  +media-query( $screen, $bp--tablet )
    font-size $size--tera
  +media-query( $screen, $bp--desktop )
    font-size $size--peta
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--yotta
    line-height 1

.c-heading--event-title
  @extend .c-heading--page-title
  margin-bottom 0
  +media-query( $screen, $bp--desktop )
    font-size $size--tera
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--zetta
    line-height 1

.c-heading--story-title
  @extend .c-heading--page-title
  margin-bottom 0
  font-size $size--nano
  font-weight $weight--regular
  text-transform none
  letter-spacing 0
  line-height 1.2
  +media-query( $screen, $bp--tablet )
    font-size $size--mega
  +media-query( $screen, $bp--desktop )
    font-size $size--giga
  +media-query( $screen, $bp--desktop--medium )
    line-height 1
    font-size $size--exa

//.c-heading--404-title

.c-heading--home
  margin-top rem(20px)
  font-size $size--femto
  letter-spacing rem(1px)
  color $color--white
  +media-query( $screen, $bp--tablet )
    letter-spacing rem(2px)
    font-size $size--mega
  +media-query( $screen, $bp--desktop )
    font-size $size--tera
  +media-query($screen, $bp--desktop--medium)
    margin-bottom rem(50px)


/*

    Subtitles
    ----------

*/

.c-heading--page-subtitle
  font-size $size--micro
  font-weight $weight--regular
  strong, em, b
    font-weight $weight--bold
  +media-query( $screen, $bp--tablet )
    font-size $size--centi
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--deci

.c-heading--section-title
  margin-top rem(25px)
  margin-bottom rem(15px)
  font-size $size--pico
  font-weight $weight--regular
  letter-spacing rem(1px)
  strong, em, b
    font-weight $weight--semibold
  +media-query( $screen, $bp--tablet )
    margin-top rem(10px)
    font-size $size--nano
  +media-query( $screen, $bp--desktop )
    font-size $size--micro
  +media-query( $screen, $bp--desktop--medium )
    margin-top rem(25px)
    margin-bottom rem(25px)
    font-size $size--milli

//.c-heading--404-subtitle


/*

    Preview Titles
    --------------

*/

.c-heading--event-preview
  font-size $size--deca
  font-weight $weight--thin
  line-height 1.2
  text-transform none
  color $color--white
  strong, em, b
    font-weight $weight--semibold
  +media-query( $screen, $bp--tablet )
    font-size $size--centi
    line-height 1.35
  +media-query( $screen, $bp--desktop )
    font-size $size--micro
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--centi

.c-heading--story-preview
  font-size $size--kilo
  font-weight $weight--thin
  line-height 1.15
  text-transform none
  color $color--white
  display inline
  background-size 200% // background size for 'marker highlight' animation
  transition: .5s ease-in-out
  background-position 0 0
  // Gradient colors for 'marker highlight' animation on .story-preview__title rollover
  &.red
    background-image linear-gradient(90deg, rgba(233, 66, 78, 0) 50%, rgba(233, 66, 78, .65) 50%)
  &.orange
    background-image linear-gradient(90deg, rgba(255, 115, 20, 0) 50%, rgba(254, 137, 41, .65) 50%)
  &.yellow
    background-image linear-gradient(90deg, rgba(250, 207, 26, 0) 50%, rgba(250, 207, 26, .65) 50%)
  &.green
    background-image linear-gradient(90deg, rgba(66, 255, 221, 0) 50%, rgba(66, 255, 221, .65) 50%)
  &.blue
    background-image linear-gradient(90deg, rgba(0, 201, 255, 0) 50%, rgba(0, 201, 255, .65) 50%)
  &.indigo
    background-image linear-gradient(90deg, rgba(47, 65, 224, 0) 50%, rgba(47, 65, 224, .65) 50%)
  &.violet
    background-image linear-gradient(90deg, rgba(158, 0, 255, 0) 50%, rgba(120, 0, 255, .65) 50%)
  strong, em, b
    font-weight $weight--semibold
  +media-query( $screen, $bp--mobile--landscape )
    font-size $size--mega
  +media-query( $screen, $bp--tablet )
    font-size $size--centi
  +media-query( $screen, $bp--desktop )
    font-size $size--deca
  +media-query( $screen, $bp--desktop--large )
    font-size $size--mega

  /*

      Colors
      ------

  */

.c-heading--mint
  color $color--mint

.c-heading--indigo
  color $color--indigo
