/*

  Site headings
  =============

  Markup: <h1 class="o-heading c-heading--{modifier}">

*/

h1,
h2,
//h3,
h4,
h5,
h6,
.o-heading
  font-family $base--font-heading
  font-style normal
  font-weight $weight--thin
  letter-spacing rem(1px)
  text-transform uppercase
  color $base-font-color
  strong, em, b
    font-weight $weight--regular

.c-heading--page-title
  font-size $size--alpha
  +media-query( $screen, $bp--tablet )
    font-size $size--kilo
  +media-query( $screen, $bp--desktop )
    font-size $size--mega
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--giga

.c-heading--story-title
  font-size $size--alpha
  +media-query( $screen, $bp--desktop )
    font-size $size--kilo
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--mega

// Temporary solution for the_content scope
h2,
//h3,
h4,
h5,
h6,
.c-heading--page-subtitle
  font-size $size--delta
  font-weight $weight--regular
  strong, em, b
    font-weight $weight--bold
  +media-query( $screen, $bp--tablet )
    font-size $size--gamma
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--beta

.c-heading--page-section-title
  font-size $size--epsilon
  font-weight $weight--regular
  letter-spacing rem(3px)
  strong, em, b
    font-weight $weight--semibold
  +media-query( $screen, $bp--tablet )
    font-size $size--delta
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--gamma

.c-heading--page-sidebar-title
  font-size $size--beta
  font-weight $weight--thin
  line-height 1.2
  text-transform none
  strong, em, b
    font-weight $weight--regular
  +media-query( $screen, $bp--tablet--landscape )
    font-size $size--gamma
    line-height 1.3
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--beta

.c-heading--page-sidebar-note
  font-size $size--gamma
  font-weight $weight--thin
  line-height 1.3
  strong, em, b
    font-weight $weight--regular
  +media-query( $screen, $bp--tablet )
    font-size $size--alpha
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--kilo

.c-heading--page-sidebar-note--mint
  margin-top rem(45px)
  color $color--mint

.c-heading--page-sidebar-quote
  font-size $size--alpha
  font-weight $weight--thin
  line-height 1.2
  text-transform none
  strong, em, b
    font-weight $weight--regular
  +media-query( $screen, $bp--tablet--landscape )
    font-size $size--beta
    line-height 1.4
  +media-query( $screen, $bp--desktop )
    font-size $size--alpha

.c-heading--event-preview
  font-size $size--gamma
  font-weight $weight--thin
  line-height 1.35
  text-transform none
  color $color--white
  strong, em, b
    font-weight $weight--semibold
  +media-query( $screen, $bp--tablet )
    font-size $size--gamma
  +media-query( $screen, $bp--desktop )
    font-size $size--delta
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--gamma

.c-heading--story-preview
  font-size $size--alpha
  font-weight $weight--thin
  line-height 1.15
  text-transform none
  color $color--white
  display inline
  background-size 200% // background size for 'marker highlight' animation
  transition: .5s ease-in-out
  background-position 0 0
  // Gradient colors for 'marker highlight' animation on .story-preview__title rollover
  &.red
    background-image linear-gradient(90deg, rgba(233, 66, 78, 0) 50%, rgba(233, 66, 78, .65) 50%)
  &.orange
    background-image linear-gradient(90deg, rgba(255, 115, 20, 0) 50%, rgba(254, 137, 41, .65) 50%)
  &.yellow
    background-image linear-gradient(90deg, rgba(250, 207, 26, 0) 50%, rgba(250, 207, 26, .65) 50%)
  &.green
    background-image linear-gradient(90deg, rgba(66, 255, 221, 0) 50%, rgba(66, 255, 221, .65) 50%)
  &.blue
    background-image linear-gradient(90deg, rgba(0, 201, 255, 0) 50%, rgba(0, 201, 255, .65) 50%)
  &.indigo
    background-image linear-gradient(90deg, rgba(47, 65, 224, 0) 50%, rgba(47, 65, 224, .65) 50%)
  &.violet
    background-image linear-gradient(90deg, rgba(158, 0, 255, 0) 50%, rgba(120, 0, 255, .65) 50%)
  strong, em, b
    font-weight $weight--semibold
  +media-query( $screen, $bp--mobile--landscape )
    font-size $size--kilo
  +media-query( $screen, $bp--tablet )
    font-size $size--gamma
  +media-query( $screen, $bp--tablet--landscape )
    font-size $size--beta
  +media-query( $screen, $bp--desktop--large )
    font-size $size--alpha

.c-heading--home
  margin-top rem(20px)
  font-size $size--gamma
  letter-spacing rem(1px)
  color $color--white
  +media-query( $screen, $bp--tablet )
    letter-spacing rem(2px)
    font-size $size--kilo
  +media-query( $screen, $bp--desktop )
    font-size $size--mega
  +media-query($screen, $bp--desktop--medium)
    margin-bottom rem(50px)
