a
  text-decoration none
  color $color--mint

p a,
.o-list a
  text-decoration none
  color $color--indigo
  variations = monochrome( $color--indigo )
  &:hover,
  &:focus
    color variations[0]
    text-decoration underline
  &:visited
    color $color--dark-gray
