/*

  Site icons
  ==========

  This project uses `gulp-iconify` task which monitors svg files from `assets/icons`
  directory, the task renames and cleans up svg files and outputs them in various formats
  to `dist/` folder.

  Icons naming convention is specified in mustache template: `assets/_icon_gen.mustache`

  Markup: <div class="o-icon c-icon-{icon-name}">Right Arrow</div>

*/

.o-icon {
  background-repeat: no-repeat;
  background-size 100%
  text-indent rem(-9999px)
}
