/*

  Site text lists
  ===============

  Markup: <ul class="o-list o-list--{modifier}">
            <li class="o-list_item c-list_item--{modifier}">Item 1</list>
            <li class="o-list_item c-list_item--{modifier}">Item 2</list>
            <li class="o-list_item c-list_item--{modifier}">Item 3</list>
          </ul>
*/

.o-list
  list-style-position outside
  margin-left rem(25px)

.o-list--disc
  list-style-type disc

.o-list--circle
  list-style-type circle

.o-list--decimal
  list-style-type decimal

.o-list--lower-roman
  list-style-type lower-roman

.o-list--lower-greek
  list-style-type lower-greek

.o-list--lower-latin
  list-style-type lower-latin

.o-list--lower-alpha
  list-style-type lower-alpha
