/*

  Site body text
  ==============

  Markup: <p class="o-paragraph c-paragraph--{modifier}">Some text here</p>

*/

p,
.o-paragraph
  margin-top rem(20px)
  margin-bottom rem(30px)
  font-family $base--font-body
  font-size $base--font-size
  font-style normal
  font-weight $weight--light
  color $base--font-color
  line-height 1.8
  strong, b
    font-weight $weight--semibold
  em, i
    font-style: italic
  +media-query( $screen, $bp--tablet--landscape )
    margin-top rem(30px)
    margin-bottom rem(50px)
    font-size $size--delta

.c-paragraph--sidebar
  +media-query( $screen, $bp--tablet--landscape )
    font-size $size--epsilon
    line-height 1.6

.c-paragraph--sidebar--grey
  color $color--dark-gray