/*

  Site body text
  ==============

  Markup: <p class="o-paragraph c-paragraph--{modifier}">Some text here</p>

*/

.o-paragraph
  margin-bottom rem(15px)
  font-family $base--font-body
  font-size $base--font-size
  font-style normal
  font-weight $weight--light
  color $base--font-color
  line-height 1.8
  strong, b
    font-weight $weight--semibold
  em, i
    font-style: italic
  +media-query( $screen, $bp--tablet--landscape )
    margin-bottom rem(20px)
    font-size $size--nano

.o-wp-editor
  // Scope add default paragraph style to the_content
  p
    @extend .o-paragraph
    //margin-bottom rem(40px)

.c-paragraph--sidebar
  +media-query( $screen, $bp--tablet--landscape )
    font-size $size--femto
    line-height 1.6
  +media-query( $screen, $bp--desktop--medium)
    font-size $size--pico
    line-height 1.7

//.c-paragraph--404-message
