.o-social-icons
  display block

.o-social-icons__list
  float left

.c-social-icons__list--site-footer
  margin-top rem(10px)
  margin-bottom rem(10px)
  float left
  +media-query($screen, $bp--tablet)
    margin 0
    float right

.o-social-icons__item
  float left

.o-icons-list__link
  display block
  margin-right rem(15px)
  size rem(45px)
  background-size 100%
  text-indent rem(-9999px)

.c-icons-list__link--footer
  display block
  size rem(28px)
  background-size 100%
  text-indent rem(-9999px)
