/*
 * Event post related stories
 */
.c-event__related-stories
  stack()
  padding-bottom rem(60px)
  //border-top rem(1px) solid $gray--light
  //background-color $gray--light
  //background-image linear-gradient(180deg, rgba($gray--light, .7) 5%, rgba($gray--light, 0) 30%)
