/**
 * Closed Captions notice content
 *
 *    c-closed-captions-notice__content
 *        c-closed-captions-notice__title
 *        c-closed-captions-notice__text
 */
.c-closed-captions-notice__content

  +below('m', orientation: portrait)
    stack()
    margin-bottom rem(25px)

  +above('m', orientation: portrait)
    column(7/8)

  +between('s', 'm', orientation: landscape)
    column(7/8)
    margin-bottom rem(25px)

  +above('l')
    stack()
    margin-bottom rem(40px)
