/**
 * Events page head
 *
 *    Wraps:
 *      - `c-timeline-title`
 *      - `c-timeline-switcher`
 *      - `c-categories-filter`
 *      - `c-dashboard`
 *
 */
.c-events__head
  @extend .o-centered-content

  clearfix()
