/**
 *  Theater view content
 *
 *    Theater container for the actual content
 *    Adds margins, paddings and background
*/
.c-theater-view__content
  position relative
  min-height 600px

  background-color $white

  +below('m')
    center(rem(600px))
    width 100%

  +between('m', 'l')
    center(rem(860px))
    width 90%

  +between('l', 'xl')
    center(rem(1050px))
    width 90%

  +between('xl', 'uhd')
    center(rem(1200px))
    width 80%

  +above('uhd')
    center(rem(1660px))
