main.c-workshop__main
  h1.c-workshop__title {{ workshop.title }}
  div(ng-bind-html="workshop.lead_text").c-lead
  div(ng-bind-html="workshop.main_text").s-headings.s-paragraphs.s-links.s-text-lists
