//- book
span(ng-switch-when="book")
  //- Authors, chapter, title
  span(ng-if="item.authors && item.author!='0'") {{ item.authors }}.&nbsp;
  span(ng-if="item.chapter") "{{ item.chapter }}".&nbsp;
  span(ng-if="item.title && item.url")
    em
      a(href="{{ item.url }}") {{ item.title }}.&nbsp;
  span(ng-if="item.title && !item.url")
    em {{ item.title }}.
  | &nbsp;
  //- Editors, translator
  span(ng-if="item.editor && item.editor!='0'") {{ siteConfig.event_source_editors }}&nbsp;{{ item.editors }}.&nbsp;
  span(ng-if="item.translator && item.translator!='0'") {{ siteConfig.event_source_translators }}&nbsp;{{ item.translators }}.&nbsp;
  span(ng-if="item.edition") {{ siteConfig.event_source_edition}}&nbsp;{{ item.edition }}.&nbsp;
  //- Volume, location, publisher, date/year
  span(ng-if="item.volume") {{ siteConfig.event_source_volume }}&nbsp;{{ item.volume }}.&nbsp;
  span(ng-if="item.location && !item.publisher") {{ item.location }}.&nbsp;
  span(ng-if="item.location && item.publisher") {{ item.location }}:&nbsp;
  span(ng-if="item.publisher && !item.date_published && !item.year_published") {{ item.publisher }}.&nbsp;
  span(ng-if="item.publisher && item.date_published || item.publisher && item.year_published") {{ item.publisher }},&nbsp;
  span(ng-if="item.date_published") {{ item.date_published }}.&nbsp;
  span(ng-if="item.year_published && !item.date_published") {{ item.year_published }}.&nbsp;
  //- Pages, ISBN
  span(ng-if="item.pages") {{ siteConfig.event_source_pages }}&nbsp;{{ item.pages }}.&nbsp;
  span(ng-if="item.isbn") {{ item.isbn }}.
