/**
 * Dashboard (filter information) container
 *
 *   Wraps:
 *      - `c-dashboard__info`
 *      - `c-dashboard__pagination`
 *
 */
.c-dashboard
  clearfix()
  margin-bottom rem(20px) // between dashboard and entries list

  font-family $base-heading-font
  font-weight $thin
  font-style normal
  text-transform uppercase
  letter-spacing rem(1px)
  color $gray--medium

  strong
    font-weight $regular
    color $carbon-black

  +below('m')
    font-size $femto

  +between('m', 'l')
    font-size $pico

  +between('l', 'xl')
    font-size $nano

  +above('xl')
    letter-spacing rem(2px)
    font-size $micro

// Workshops page modifier
.c-dashboard--workshops
  @extend .c-dashboard

  margin-bottom 0
  color $gray--light

  strong
    font-weight $regular
    color $white
