/**
 * Event preview images
 */
.c-event-preview__image
    position absolute
    size 100%
    transform scale(1.05) // hides blurred edges

  // Preview image container
  .has-image
    position absolute
    size 100%
    background-size cover
    background-position center

    transition all .3s ease-in-out
