/**
 * Event preview images
 */
.c-event-preview__image
    position absolute
    size 100%

  // Preview image container
  .has-image
    position absolute
    size 100%
    background-size cover
    background-position center
