.c-event-preview
  float left
  border-bottom solid rem(1px) color--white
  border-left solid rem(1px) color--white
  background-color color--lemon
  transition opacity .3s ease-in

.c-event-preview--disabled
  opacity 0.5
