/**
 * Event preview
 *
 *    Wraps:
 *      - `c-event-preview__gradient`
 *      - `c-event-preview__content`
 *
 *    Note: this class has nested `is-disabled` class. As a temporary solution `is-disabled` class
 *    is not applyied dynamically (as it should be), so by default it set to `opacity: 0`.
 *    When filter is applied, a `c-event-preview--disabled` modifier is added by Angular, thereofore
 *    we describe `is-disabled` class one more time under this modifier. This solution is clumsy and
 *    and should be reworked when the timeline functionality is refactored.
 *
 *    `is-in-focus` nested class helps to create animation on preview item hover/focus.
 *
 */
.c-event-preview
  @extend .o-btn

  position relative
  overflow hidden
  float left

  background-color $yolk // image fallback
  transition all .3s ease-in-out

  // Preview image
  .has-image
    position absolute
    z-index 0
    background-size cover
    transition all .3s ease-in-out

  // Conditional class (see note above)
  .is-disabled
    opacity 0
    transition opacity .3s ease-in-out

  // This sub-class presets our preview hover/focus animation
  .is-in-focus
    display block
    position absolute
    bottom 0

    width 100%

    height 20px
    height 0 // initial position

    background-image linear-gradient(0deg, rgba($yolk, 1) 5%, rgba($yolk, .55) 100%)

    transition all .13s ease-in-out

  &:hover
  &:focus

    // Blur image
    .has-image
      -webkit-filter blur(5px)
      -moz-filter blur(5px)
      -o-filter blur(5px)
      -ms-filter blur(5px)
      filter blur(5px)

    // Move content up
    .c-event-preview__content
      bottom 30%

    // Fill preview with solid color (from bottom up)
    .is-in-focus
      height 100%

// Disabled modifier
.c-event-preview--disabled
  cursor default

  .is-disabled
      opacity .7

      position absolute
      z-index 99
      size 100% // spans across entire preview

      background-color: $lemon + 30%

      transition opacity .3s ease-in-out
