/**
 * Event preview
 *
 *    Wraps:
 *      - `c-event-preview__gradient`
 *      - `c-event-preview__content`
 *
 */
.c-event-preview
  @extend .o-btn

  position relative
  overflow hidden
  float left

  // preview dimensions 1:1 ratio
  width 101% // adding extra 1% fixes strange 1px 'border' glitch when overflow: hidden
  padding-bottom 100%

  background-color $gray--medium // image fallback color
  transition all .3s ease-in-out

  // Conditional classes

  // Event is filtered out
  // When event is being filtered out (doesn't belong to selected topic)
  .is-filtered
    // Disable pointer
    // Eevents are still clickable yet, let's not encourage this behaviour
    cursor default

    .c-event-preview__image
      // Blur image, reduce opacity
      .has-image
        opacity .6

        -webkit-filter blur(7px)
        -moz-filter blur(7px)
        -o-filter blur(7px)
        -ms-filter blur(7px)
        filter blur(7px)

    .c-event-preview__content
      // Reduce content opacity
      opacity .5

  // Event is in focus (mouse enter)
  .in-focus
    transition all .3s ease-in-out

    .c-event-preview__image
      // Blur image
      .has-image
        -webkit-filter blur(5px)
        -moz-filter blur(5px)
        -o-filter blur(5px)
        -ms-filter blur(5px)
        filter blur(5px)

    .c-event-preview__gradient
      // Increase gradient opacity
      opacity 1

    .c-event-preview__content
      // Move content up
      bottom 20%

// Related event preview modifier
.c-event-preview--related
  @extend .c-event-preview

  +below('m')
    stack()
    padding-bottom 65% // aspect ratio

    margin-bottom rem(20px) // between stacked items

  +between('m', 'l')
    column(1/3, gutter: 2, cycle: 3)
    padding-bottom 35%

    margin-top 0
    margin-bottom 0

    &:nth-child(n+4) // add top margin to every element in the new row
      margin-top rem(15px)

  +between('l', 'xl')
    column(1/4, gutter: 2, uncycle: 3, cycle: 4)
    padding-bottom 25% // square ratio from here on

    &:nth-child(n+4) // reset margin set by rule above
      margin-top 0

    &:nth-child(n+5)
      margin-top rem(15px)

  +above('xl')
    column(1/5, gutter: 2, uncycle: 4, cycle: 5)
    padding-bottom 20%

    &:nth-child(n+5)
      margin-top 0

    &:nth-child(n+6)
      margin-top rem(22px)

  // Conditional classes

  // Event is filtered out
  // When event is being filtered out (doesn't belong to selected topic)
  .is-filtered
    // Disable pointer
    // Eevents are still clickable yet, let's not encourage this behaviour
    cursor default

    .c-event-preview__image
      // Blur image
      opacity .6
      -webkit-filter blur(7px)
      -moz-filter blur(7px)
      -o-filter blur(7px)
      -ms-filter blur(7px)
      filter blur(7px)

    .c-event-preview__content--related
      // Reduce content opacity
      opacity .5

  // Event is in focus (mouse enter)
  .in-focus
    transition all .3s ease-in-out

    .c-event-preview__image
      // Blur image
      -webkit-filter blur(5px)
      -moz-filter blur(5px)
      -o-filter blur(5px)
      -ms-filter blur(5px)
      filter blur(5px)

    .c-event-preview__gradient--related
      // Increase gradient opacity
      opacity 1

    .c-event-preview__content--related
      // Move content up
      bottom 15%
