.c-event-preview__title
  @extend .o-heading
  float left
  width 100%
  font-size size--deca
  font-weight $thin
  line-height 1.2
  text-transform none
  color $white
  strong
  em
  b
    font-weight $semibold
  +media-query(mediatype, bp-tablet)
    font-size $centi
    line-height 1.35
  +media-query(mediatype, bp-desktop)
    font-size $micro
  +media-query(mediatype, bp-desktop--medium)
    font-size $centi
