.c-event-preview__year
  float left
  margin-bottom rem(15px)
  padding rem(5px) rem(6px) rem(4px) rem(6px)
  font-family base--font-heading
  font-size size--milli
  font-weight weight--thin
  letter-spacing rem(2px)
  color color--white
  background-color rgba(color--yolk, 0.8)
  +media-query(mediatype, bp-tablet)
    margin-bottom rem(15px)
    padding rem(4px) rem(5px) rem(6px) rem(5px)
    font-size size--centi
    letter-spacing rem(0.5px)
  +media-query(mediatype, bp-desktop)
    margin-bottom rem(10px)
    padding rem(5px)
    font-size size--pico
  +media-query(mediatype, bp-desktop--medium)
    margin-bottom rem(15px)
    padding rem(5px) rem(6px) rem(4px) rem(6px)
    font-size size--milli
    letter-spacing rem(2px)
