article(
  ng-mouseenter="mouseHover=true"
  ng-mouseleave="mouseHover=false"
).c-story-preview
  //- Wrapper for nested classes (like `is-<color>`, `in-focus`)
  div(ng-class="{'in-focus': mouseHover}")
    //- Background image with fallback color
    div.c-story-preview__image
      div(
        class="has-image is-{{ color }}"
        style="background-image: url({{ image }})"
      )
    //- Color gradient layer
    div(class="c-story-preview__gradient")
      div(class="has-gradient is-{{ color }}")
    //- Preview content wrapper
    div.c-story-preview__content
      div.c-story-preview__caption
        //- Title with gradient background color animation on `ng-mouseenter`
        h2.c-story-preview__title
          span(class="has-background is-{{ color }}") {{ title }}
        h3.c-story-preview__protagonist
          strong {{ hero }},&nbsp;
          | {{ city }}
