article
  div(class="c-strory-preview__gradient c-strory-preview__gradient--{{ item.preview_image_color }}")
  div.c-story-preview__content--related
    div.c-story-preview__caption
      h2(class="c-story-preview__title--related c-story-preview__title--{{ item.preview_image_color }}")
        | {{ item.title }}
      h3.c-story-preview__protagonist--related {{ item.hero }}
