div(class="c-theater-view c-story__theater-backdrop--{{ story.preview_image_color }} js-overlay")
  include ../../../../partials/ng/post-navigation.jade
  //- Theater view content
  div(ng-cloak ng-show="story.video_url").c-theater-view__content.c-story.js-content
    include ../../../../partials/ng/close-button.jade
    include ./includes/content.jade
    include ./includes/footer.jade
