/**
 * Stories content
 *
 *   Wraps:
 *      - `c-stories__head`
 *      - `c-stories__list`
 *
 */
.c-stories__content
  clearfix()
  min-height rem(900px) // !hot fix, untill angular preloader is implemented
