/**
 * Stories list
 *
 *    Stories list spans to 100% of the view port on all screens
 *    except for 4k (<2560px) displays, where list is centered with the other content
 *
 *    Wraps:
 *      - `c-story-preview--(color modifier)`
 *
 */
.c-stories__list

  +below('uhd')
    width 100%

  +above('uhd')
    // make sure max-width and pad equal to
    // `o-centered-content` class
    center(max-width:2000px, pad:80px)
