/**
 * Workshops intro section
 *
 *   Wraps:
 *      - `c-workshops__head`
 *      - `c-workshops__intro`
 *      - `c-workshops__about`
 *      - `c-workshops__featured`
 *      - `c-workshops__list`
 *
 */
//.c-workshops__content
