.u-icon {
    background-repeat: no-repeat;

    {{#items}}
    &.u-icon-{{slug}} {
        background-image: url('{{{datauri}}}');
        width: {{width}}px;
        height: {{height}}px;
    }

    {{/items}}
}