/**
 * Footer social links list item
 */
.c-social-links__item
  display inline-block
  margin-left rem(-2px) // optical circle icon alignment
  padding-right rem(15px) // right space between items

  &:last-of-type
    padding-right 0
