<div class="o-wrapper">
  <countries-switcher></countries-switcher>

  <ul class="filter-list">
    <li class="filter-list__item o-btn o-btn--small o-btn--lightgrey c-btn--filter" ng-class="{ 'filter-list__item--active': filter.topics.length === 0 }" ng-click="resetTopicsFilter()">
      All Topics
    </li>
    <li class="filter-list__item o-btn o-btn--small o-btn--lightgrey c-btn--filter" 
      ng-repeat="topic in events|showTopics" 
      ng-class="{ 'filter-list__item--active': filter.topics.indexOf(topic.term_slug) > -1 }"
      ng-click="toggleTopicInFilter(topic.term_slug)"
      ng-bind-html="topic.term_name">
    </li>
  </ul>
</div>
<div class="o-wrapper--row">
  <carousel ng-if="filter.topics" class="owl-carousel" data-options="{ navigation: false, pagination: true, rewindnav : false }">
      <event-preview
        carousel-item="" ng-repeat="event in events|showEvents:filter" class="item"
        ng-click="openEvent(event.slug)"
        title="{{event.title}}"
        image="{{event.preview_image}}"
        year="{{event.year}}">
      </event-preview>
  </carousel>
  <div ui-view></div>
</div>
