<div class="lightbox">
  <div class="lightbox__wrapper">
    <div class="lightbox__close u-icon u-icon-close" ng-click="closeLightbox()">Close</div>
    <!-- close button -->

    <div class="o-wrapper--row event__header" >
      <!-- categories -->
      <ul class="c-categories-chain c-categories-chain--story">
        <li ng-repeat="timeline in event.timelines"
          class="c-categories-chain__item o-btn c-btn--mint c-btn--small">
          {{ timeline.term_name }}
        </li>
        <li ng-repeat="topic in event.topics"
          class="c-categories-chain__item o-btn c-btn--indigo c-btn--small"
          ng-bind-html="topic.term_name">
        </li>
        <li ng-repeat="group in event.groups"
          class="c-categories-chain__item o-btn c-btn--small"
          style="background-color: {{ group.term_color }}">
          {{ group.term_name }}
        </li>
      </ul>
      <!-- header -->
      <h1 class="o-heading c-heading--page-title">{{ event.title }}</h1>

      <!-- impact
      <div>...</div>
      -->

      <!-- soicail shares -->
      <ul class="o-social-icons o-social-icons__list">
        <li class="o-social-icons__item">
          <a class="o-icons-list__link u-icon u-icon-facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}">Facebook Share</a>
        </li>
        <li class="o-social-icons__item">
          <a class="o-icons-list__link u-icon u-icon-twitter" href="http://www.twitter.com/share?url={{ shareUrl }}">Tweet</a>
        </li>
      </ul>
    </div>

    <div class="o-wrapper--row event__content">
      <div class="event__body">
        <!-- main content -->
        <div ng-bind-html="event.main_content"></div>
      </div>
      <div class="event__sidebar">
        <!-- sidebar -->
      </div>
    </div>
  </div>
</div>
