<div class="lightbox">
  <div class="lightbox__wrapper">
    <!-- close button -->
    <div class="lightbox__close u-icon u-icon-close" ng-click="closeLightbox()">Close</div>

    <div class="o-wrapper--row event__header" >
      <!-- categories -->
      <ul class="c-categories-chain c-categories-chain--story">
        <li ng-repeat="timeline in event.timelines"
          class="c-categories-chain__item o-btn c-btn--mint c-btn--small">
          {{ timeline.term_name }}
        </li>
        <li ng-repeat="topic in event.topics"
          class="c-categories-chain__item o-btn c-btn--indigo c-btn--small"
          ng-bind-html="topic.term_name">
        </li>
        <li ng-repeat="group in event.groups"
          class="c-categories-chain__item o-btn c-btn--small"
          style="background-color: {{ group.term_color }}">
          {{ group.term_name }}
        </li>
      </ul>
      <!-- header -->
      <h1 class="o-heading c-heading--page-title">{{ event.title }}</h1>

      <!-- impact
      <div>...</div>
      -->

      <!-- social shares -->
      <ul class="o-social-icons o-social-icons__list">
        <li class="o-social-icons__item">
          <a class="o-icons-list__link u-icon u-icon-facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}">Facebook Share</a>
        </li>
        <li class="o-social-icons__item">
          <a class="o-icons-list__link u-icon u-icon-twitter" href="http://www.twitter.com/share?url={{ shareUrl }}">Tweet</a>
        </li>
      </ul>
    </div>

    <div class="o-wrapper--row event__content">
      <div class="event__body">
        <!-- main content -->
        <div ng-bind-html="event.main_content"></div>
      </div>
      <div class="event__sidebar">
        <!-- sidebar -->
        <div ng-repeat="item in event.sidebar" ng-switch="item.type">
          <div ng-switch-when="video">
            <h4>{{ item.title }}</h4>
            <iframe class="event__sidebar-video" ng-src="{{ trustSrc(item.videoUrl) }}" frameborder="0" allowfullscreen></iframe>
            <p>{{ item.caption }}</p>
            <a href="{{ item.credit_link }}">{{ item.credit }}</a>
          </div>
          <div ng-switch-when="sidenote">
            <h4>{{ item.title }}</h4>
            <p>{{ item.caption }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="o-wrapper--row">
      <div ng-if="event.sources" class="o-footnotes c-footnotes--sources">
        <h4 class="o-heading c-heading--page-section-title">{{ siteConfig.event_sources_title }}</h4>
        <!-- Sources -->
        <ol class="o-list o-list--decimal c-footnotes__list">
          <li ng-repeat="item in event.sources" ng-switch="item.source_type" class="c-footnotes__list-item">
            <span ng-switch-when="book">
              <span ng-if="item.authors && item.author!='0'">
                {{ item.authors }}.
              </span>
              <span ng-if="item.chapter">
                "{{ item.chapter }}".
              </span>
              <span ng-if="item.title && item.url">
                <em><a href="{{ item.url }}">{{ item.title }}</a></em>.
              </span>
              <span ng-if="item.title && !item.url">
                <em>{{ item.title }}</em>.
              </span>
              <span ng-if="item.editor && item.editor!='0'">
                {{ siteConfig.event_source_editors }} {{ item.editors }}.
              </span>
              <span ng-if="item.translator && item.translator!='0'">
                {{ siteConfig.event_source_translators }} {{ item.translators }}.
              </span>
              <span ng-if="item.edition">
                {{ siteConfig.event_source_edition}} {{ item.edition }}.
              </span>
              <span ng-if="item.volume">
                {{ siteConfig.event_source_volume }} {{ item.volume }}.
              </span>
              <span ng-if="item.location && !item.publisher">
                {{ item.location }}.
              </span>
              <span ng-if="item.location && item.publisher">
                {{ item.location }}:
              </span>
              <span ng-if="item.publisher && !item.date_published && !item.year_published">
                {{ item.publisher }}.
              </span>
              <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                {{ item.publisher }},
              </span>
              <span ng-if="item.date_published">
                {{ item.date_published }}.
              </span>
              <span ng-if="item.year_published && !item.date_published ">
                {{ item.year_published }}.
              </span>
              <span ng-if="item.pages">
                {{ siteConfig.event_source_pages }} {{ item.pages }}.
              </span>
              <span ng-if="item.isbn">
                {{ item.isbn }}.
              </span>
            </span>

            <span ng-switch-when="article">
              <span ng-if="item.authors && item.author!='0'">
                {{ item.authors }}.
              </span>
              <span ng-if="item.title && item.url">
                "<a href="{{ item.url }}">{{ item.title }}</a>".
              </span>
              <span ng-if="item.title && !item.url">
                "{{ item.title }}".
              </span>
              <span ng-if="item.periodical_title">
                <em>{{ item.periodical_title }}</em>.
              </span>
              <span ng-if="item.editors && item.editor!='0'">
                {{ siteConfig.event_source_editors }} {{ item.editors }}.
              </span>
              <span ng-if="item.translators && item.translator!='0'">
                {{ siteConfig.event_source_translators }} {{ item.translators }}.
              </span>
              <span ng-if="item.edition">
                {{ siteConfig.event_source_edition}} {{ item.edition }}.
              </span>
              <span ng-if="item.location && !item.publisher">
                {{ item.location }}.
              </span>
              <span ng-if="item.location && item.publisher">
                {{ item.location }}:
              </span>
              <span ng-if="item.publisher && !item.date_published && !item.year_published">
                {{ item.publisher }}.
              </span>
              <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                {{ item.publisher }},
              </span>
              <span ng-if="item.date_published">
                {{ item.date_published }}.
              </span>
              <span ng-if="item.year_published && !item.date_published ">
                {{ item.year_published }}.
              </span>
              <span ng-if="item.pages">
                {{ siteConfig.event_source_pages }} {{ item.pages }}.
              </span>
              <span ng-if="item.isbn">
                {{ item.isbn }}.
              </span>
              <span ng-if="item.date_accessed">
                {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
              </span>
            </span>

            <span ng-switch-when="website">
              <span ng-if="item.title">
                "<a ng-if="item.url" href="{{ item.url }}">{{ item.title }}</a>".
              </span>
              <span ng-if="item.website_name">
                <em>{{ item.website_name }}</em>.
              </span>
              <span ng-if="item.date_accessed">
                {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
              </span>
            </span>

            <span ng-switch-when="misc">
              <span ng-if="item.authors && item.author=!'0'">
                {{ item.authors }}.
              </span>
              <span ng-if="item.title && item.url">
                "<a href="{{ item.url }}">{{ item.title }}</a>".
              </span>
              <span ng-if="item.title && !item.url">
                "{{ item.title }}".
              </span>
              <span ng-if="item.periodical_title">
                <em>{{ item.periodical_title }}</em>.
              </span>
              <span ng-if="item.editors && item.editor!='0'">
                {{ siteConfig.event_source_editors }} {{ item.editors }}.
              </span>
              <span ng-if="item.translators && item.translator!='0'">
                {{ siteConfig.event_source_translators }} {{ item.translators }}.
              </span>
              <span ng-if="item.edition">
                {{ siteConfig.event_source_edition}} {{ item.edition }}.
              </span>
              <span ng-if="item.volume">
                {{ siteConfig.event_source_volume}} {{ item.volume }}.
              </span>
              <span ng-if="item.location && !item.publisher">
                {{ item.location }}.
              </span>
              <span ng-if="item.location && item.publisher">
                {{ item.location }}:
              </span>
              <span ng-if="item.publisher && !item.date_published && !item.year_published">
                {{ item.publisher }}.
              </span>
              <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                {{ item.publisher }},
              </span>
              <span ng-if="item.date_published">
                {{ item.date_published }}.
              </span>
              <span ng-if="item.year_published && !item.date_published ">
                {{ item.year_published }}.
              </span>
              <span ng-if="item.pages">
                {{ siteConfig.event_source_pages }} {{ item.pages }}.
              </span>
              <span ng-if="item.isbn">
                {{ item.isbn }}.
              </span>
              <span ng-if="item.date_accessed">
                {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
              </span>
            </span>
          </li>
        </ol>
      </div>

      <div ng-if="event.resources" class="o-footnotes c-footnotes--resources">
        <h4 class="o-heading c-heading--page-section-title">{{ siteConfig.event_resources_title }}</h4>
        <!-- Resources -->
        <ol class="o-list o-list--decimal c-footnotes__list">
          <li ng-repeat="item in event.resources" ng-switch="item.resource_type" class=" c-footnotes__list-item">
            <span ng-switch-when="book">
              <span ng-if="item.authors && item.author=!'0'">
                {{ item.authors }}.
              </span>
              <span ng-if="item.chapter">
                "{{ item.chapter }}".
              </span>
              <span ng-if="item.title && item.url">
                <em><a href="{{ item.url }}">{{ item.title }}</a></em>.
              </span>
              <span ng-if="item.title && !item.url">
                <em>{{ item.title }}</em>.
              </span>
              <span ng-if="item.editors && item.editor!='0'">
                {{ siteConfig.event_source_editors }} {{ item.editors }}.
              </span>
              <span ng-if="item.translators && item.translator!='0'">
                {{ siteConfig.event_source_translators }} {{ item.translators }}.
              </span>
              <span ng-if="item.edition">
                {{ siteConfig.event_source_edition}} {{ item.edition }}.
              </span>
              <span ng-if="item.volume">
                {{ siteConfig.event_source_volume }} {{ item.volume }}.
              </span>
              <span ng-if="item.location && !item.publisher">
                {{ item.location }}.
              </span>
              <span ng-if="item.location && item.publisher">
                {{ item.location }}:
              </span>
              <span ng-if="item.publisher && !item.date_published && !item.year_published">
                {{ item.publisher }}.
              </span>
              <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                {{ item.publisher }},
              </span>
              <span ng-if="item.date_published">
                {{ item.date_published }}.
              </span>
              <span ng-if="item.year_published && !item.date_published ">
                {{ item.year_published }}.
              </span>
              <span ng-if="item.pages">
                {{ siteConfig.event_source_pages }} {{ item.pages }}.
              </span>
              <span ng-if="item.isbn">
                {{ item.isbn }}.
              </span>
            </span>

            <span ng-switch-when="article">
              <span ng-if="item.authors && item.author!='0'">
                {{ item.authors }}.
              </span>
              <span ng-if="item.title && item.url">
                "<a href="{{ item.url }}">{{ item.title }}</a>".
              </span>
              <span ng-if="item.title && !item.url">
                "{{ item.title }}".
              </span>
              <span ng-if="item.periodical_title">
                <em>{{ item.periodical_title }}</em>.
              </span>
              <span ng-if="item.editors && item.editor!='0'">
                {{ siteConfig.event_source_editors }} {{ item.editors }}.
              </span>
              <span ng-if="item.translators && item.translator!='0'">
                {{ siteConfig.event_source_translators }} {{ item.translators }}.
              </span>
              <span ng-if="item.edition">
                {{ siteConfig.event_source_edition}} {{ item.edition }}.
              </span>
              <span ng-if="item.location && !item.publisher">
                {{ item.location }}.
              </span>
              <span ng-if="item.location && item.publisher">
                {{ item.location }}:
              </span>
              <span ng-if="item.publisher && !item.date_published && !item.year_published">
                {{ item.publisher }}.
              </span>
              <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                {{ item.publisher }},
              </span>
              <span ng-if="item.date_published">
                {{ item.date_published }}.
              </span>
              <span ng-if="item.year_published && !item.date_published ">
                {{ item.year_published }}.
              </span>
              <span ng-if="item.pages">
                {{ siteConfig.event_source_pages }} {{ item.pages }}.
              </span>
              <span ng-if="item.isbn">
                {{ item.isbn }}.
              </span>
              <span ng-if="item.date_accessed">
                {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
              </span>
            </span>

            <span ng-switch-when="website">
              <span ng-if="item.title">
                "<a ng-if="item.url" href="{{ item.url }}">{{ item.title }}</a>".
              </span>
              <span ng-if="item.website_name">
                <em>{{ item.website_name }}</em>.
              </span>
              <span ng-if="item.date_accessed">
                {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
              </span>
            </span>

            <span ng-switch-when="misc">
              <span ng-if="item.authors && item.author!='0'">
                {{ item.authors }}.
              </span>
              <span ng-if="item.title && item.url">
                "<a href="{{ item.url }}">{{ item.title }}</a>".
              </span>
              <span ng-if="item.title && !item.url">
                "{{ item.title }}".
              </span>
              <span ng-if="item.periodical_title">
                <em>{{ item.periodical_title }}</em>.
              </span>
              <span ng-if="item.editors && item.editor!='0'">
                {{ siteConfig.event_source_editors }} {{ item.editors }}.
              </span>
              <span ng-if="item.translators && item.translator!='0'">
                {{ siteConfig.event_source_translators }} {{ item.translators }}.
              </span>
              <span ng-if="item.edition">
                {{ siteConfig.event_source_edition}} {{ item.edition }}.
              </span>
              <span ng-if="item.volume">
                {{ siteConfig.event_source_volume}} {{ item.volume }}.
              </span>
              <span ng-if="item.location && !item.publisher">
                {{ item.location }}.
              </span>
              <span ng-if="item.location && item.publisher">
                {{ item.location }}:
              </span>
              <span ng-if="item.publisher && !item.date_published && !item.year_published">
                {{ item.publisher }}.
              </span>
              <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                {{ item.publisher }},
              </span>
              <span ng-if="item.date_published">
                {{ item.date_published }}.
              </span>
              <span ng-if="item.year_published && !item.date_published ">
                {{ item.year_published }}.
              </span>
              <span ng-if="item.pages">
                {{ siteConfig.event_source_pages }} {{ item.pages }}.
              </span>
              <span ng-if="item.isbn">
                {{ item.isbn }}.
              </span>
              <span ng-if="item.date_accessed">
                {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
              </span>
            </span>
          </li>
        </ol>
      </div>
    </div>

    <ul class="o-wrapper--row">
      <li ng-click="openEvent(item.slug)" ng-repeat="item in event.related_events">
        <img ng-if="item.preview_image" ng-src="{{ item.previewImgPath }}" alt="{{ item.post_title}} " />
      </li>
    </ul>
  </div>
</div>
