<div class="o-lightbox">
  <div class="o-lightbox__wrapper">
    <!-- close button -->
    <div class="c-lightbox__close u-icon u-icon-close-medium-gray" ng-click="closeLightbox()">Close</div>

    <div class="c-event__header" >
      <!-- categories -->
      <ul class="c-categories-chain c-categories-chain--event">
        <li ng-repeat="timeline in event.timelines"
          class="c-categories-chain__item o-btn c-btn--small c-btn--mint">
          {{ timeline.term_name }}
        </li>
        <li ng-repeat="topic in event.topics"
          class="c-categories-chain__item o-btn c-btn--small c-btn--indigo"
          ng-bind-html="topic.term_name">
        </li>
        <li ng-repeat="group in event.groups"
          class="c-categories-chain__item o-btn c-btn--small"
          style="background-color: {{ group.term_color }}">
          {{ group.term_name }}
        </li>
      </ul>
      <!-- header -->
      <h1 class="o-heading c-heading--event-title">{{ event.title }}</h1>
      <div class="c-event__date">
        <dateformat thedate="{{event.start_date}}" lang="EN" unknown="{{event.exact_dates_uknown}}"></dateformat>
        <span ng-show="event.end_date"> &mdash; </span>
        <dateformat ng-show="event.end_date" thedate="{{event.end_date}}" lang="EN" unknown="{{event.exact_dates_uknown}}"></dateformat>
      </div>
      <!-- impact
      <div>...</div>
      -->

      <!-- social shares -->
      <ul class="o-social-icons o-social-icons__list c-social-icons__list--post-share">
        <li class="o-social-icons__item">
          <a class="o-icons-list__link c-icons-list__link--post-share u-icon u-icon-facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}">Facebook Share</a>
        </li>
        <li class="o-social-icons__item">
          <a class="o-icons-list__link c-icons-list__link--post-share u-icon u-icon-twitter" href="http://www.twitter.com/share?url={{ shareUrl }}">Tweet</a>
        </li>
      </ul>
    </div>

    <div class="o-row">
      <div class="c-event__body c-event__content o-wp-editor">
        <!-- main content -->
        <div ng-bind-html="event.main_content"></div>
      </div>
      <div class="c-event__sidebar">
        <!-- sidebar -->
        <div ng-repeat="item in event.sidebar" ng-switch="item.type">
          <div ng-switch-when="video" class="c-sidebar-video">
            <div class="u-video-container">
              <anguvideo>
                <iframe ng-src="{{ trustSrc(item.videoUrl) }}" frameborder="0" allowfullscreen></iframe>
              </anguvideo>
            </div>
            <a ng-if="item.credit_link || item.credit" class="c-media-credits" href="{{ item.credit_link }}">{{ item.credit }}</a>
            <h4 class="o-heading c-sidebar-video__title">{{ item.title }}</h4>
            <p class="o-paragraph c-paragraph--sidebar c-sidebar-video__caption">{{ item.caption }}</p>
          </div>
          <div ng-switch-when="sidenote" class="c-sidebar-note">
            <h4 ng-bind-html="item.title" class="o-heading c-sidebar-note__text c-sidebar-note__text--event">{{ item.title }}</h4>
            <p class="o-paragraph c-paragraph--sidebar c-sidebar-note__caption">{{ item.caption }}</p>
          </div>
          <div ng-switch-when="quote" class="c-sidebar-quote">
            <div class="u-icon u-icon-quotation-mark-mint c-sidebar-quote__icon"></div>
            <h4 ng-bind-html="item.text" class="o-heading c-sidebar-quote__text">{{ item.text }}</h4>
            <div ng-if="item.author" class="c-sidebar-quote__author-block">
              <span class="c-sidebar-quote__dash">—</span>
              <span class="c-sidebar-quote__author">{{ item.author }}<span ng-if="item.source">, </span></span>
              <span ng-if="item.source" class="c-sidebar-quote__source">{{ item.source }}</span>
            </div>
          </div>
          <div ng-switch-when="image" class="c-sidebar-image">
            <div class="u-image-container u-image-ratio--8x2 c-sidebar-image__item" style="background-image: url({{item.url}})"></div>
            <a ng-if="item.credit_link || item.credit" class="c-media-credits" href="{{ item.credit_link }}">{{ item.credit }}</a>
            <h4 ng-bind-html="item.title" class="o-heading c-sidebar-image__title">{{ item.title }}</h4>
            <p class="o-paragraph c-paragraph--sidebar c-sidebar-image__caption">{{ item.caption }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="o-row">
      <div ng-if="event.sources" class="o-footnotes c-footnotes--sources">
        <h4 class="o-heading c-heading--section-title">{{ siteConfig.event_sources_title }}</h4>
        <!-- Sources -->
        <ol class="o-list o-list--decimal c-footnotes__list">
          <li ng-repeat="item in event.sources" ng-switch="item.source_type" class="c-footnotes__list-item">
            <span ng-switch-when="book">
              <span ng-if="item.authors && item.author!='0'">
                {{ item.authors }}.
              </span>
              <span ng-if="item.chapter">
                "{{ item.chapter }}".
              </span>
              <span ng-if="item.title && item.url">
                <em><a href="{{ item.url }}">{{ item.title }}</a></em>.
              </span>
              <span ng-if="item.title && !item.url">
                <em>{{ item.title }}</em>.
              </span>
              <span ng-if="item.editor && item.editor!='0'">
                {{ siteConfig.event_source_editors }} {{ item.editors }}.
              </span>
              <span ng-if="item.translator && item.translator!='0'">
                {{ siteConfig.event_source_translators }} {{ item.translators }}.
              </span>
              <span ng-if="item.edition">
                {{ siteConfig.event_source_edition}} {{ item.edition }}.
              </span>
              <span ng-if="item.volume">
                {{ siteConfig.event_source_volume }} {{ item.volume }}.
              </span>
              <span ng-if="item.location && !item.publisher">
                {{ item.location }}.
              </span>
              <span ng-if="item.location && item.publisher">
                {{ item.location }}:
              </span>
              <span ng-if="item.publisher && !item.date_published && !item.year_published">
                {{ item.publisher }}.
              </span>
              <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                {{ item.publisher }},
              </span>
              <span ng-if="item.date_published">
                {{ item.date_published }}.
              </span>
              <span ng-if="item.year_published && !item.date_published ">
                {{ item.year_published }}.
              </span>
              <span ng-if="item.pages">
                {{ siteConfig.event_source_pages }} {{ item.pages }}.
              </span>
              <span ng-if="item.isbn">
                {{ item.isbn }}.
              </span>
            </span>

            <span ng-switch-when="article">
              <span ng-if="item.authors && item.author!='0'">
                {{ item.authors }}.
              </span>
              <span ng-if="item.title && item.url">
                "<a href="{{ item.url }}">{{ item.title }}</a>".
              </span>
              <span ng-if="item.title && !item.url">
                "{{ item.title }}".
              </span>
              <span ng-if="item.periodical_title">
                <em>{{ item.periodical_title }}</em>.
              </span>
              <span ng-if="item.editors && item.editor!='0'">
                {{ siteConfig.event_source_editors }} {{ item.editors }}.
              </span>
              <span ng-if="item.translators && item.translator!='0'">
                {{ siteConfig.event_source_translators }} {{ item.translators }}.
              </span>
              <span ng-if="item.edition">
                {{ siteConfig.event_source_edition}} {{ item.edition }}.
              </span>
              <span ng-if="item.location && !item.publisher">
                {{ item.location }}.
              </span>
              <span ng-if="item.location && item.publisher">
                {{ item.location }}:
              </span>
              <span ng-if="item.publisher && !item.date_published && !item.year_published">
                {{ item.publisher }}.
              </span>
              <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                {{ item.publisher }},
              </span>
              <span ng-if="item.date_published">
                {{ item.date_published }}.
              </span>
              <span ng-if="item.year_published && !item.date_published ">
                {{ item.year_published }}.
              </span>
              <span ng-if="item.pages">
                {{ siteConfig.event_source_pages }} {{ item.pages }}.
              </span>
              <span ng-if="item.isbn">
                {{ item.isbn }}.
              </span>
              <span ng-if="item.date_accessed">
                {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
              </span>
            </span>

            <span ng-switch-when="website">
              <span ng-if="item.title">
                "<a ng-if="item.url" href="{{ item.url }}">{{ item.title }}</a>".
              </span>
              <span ng-if="item.website_name">
                <em>{{ item.website_name }}</em>.
              </span>
              <span ng-if="item.date_accessed">
                {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
              </span>
            </span>

            <span ng-switch-when="misc">
              <span ng-if="item.authors && item.author=!'0'">
                {{ item.authors }}.
              </span>
              <span ng-if="item.title && item.url">
                "<a href="{{ item.url }}">{{ item.title }}</a>".
              </span>
              <span ng-if="item.title && !item.url">
                "{{ item.title }}".
              </span>
              <span ng-if="item.periodical_title">
                <em>{{ item.periodical_title }}</em>.
              </span>
              <span ng-if="item.editors && item.editor!='0'">
                {{ siteConfig.event_source_editors }} {{ item.editors }}.
              </span>
              <span ng-if="item.translators && item.translator!='0'">
                {{ siteConfig.event_source_translators }} {{ item.translators }}.
              </span>
              <span ng-if="item.edition">
                {{ siteConfig.event_source_edition}} {{ item.edition }}.
              </span>
              <span ng-if="item.volume">
                {{ siteConfig.event_source_volume}} {{ item.volume }}.
              </span>
              <span ng-if="item.location && !item.publisher">
                {{ item.location }}.
              </span>
              <span ng-if="item.location && item.publisher">
                {{ item.location }}:
              </span>
              <span ng-if="item.publisher && !item.date_published && !item.year_published">
                {{ item.publisher }}.
              </span>
              <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                {{ item.publisher }},
              </span>
              <span ng-if="item.date_published">
                {{ item.date_published }}.
              </span>
              <span ng-if="item.year_published && !item.date_published ">
                {{ item.year_published }}.
              </span>
              <span ng-if="item.pages">
                {{ siteConfig.event_source_pages }} {{ item.pages }}.
              </span>
              <span ng-if="item.isbn">
                {{ item.isbn }}.
              </span>
              <span ng-if="item.date_accessed">
                {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
              </span>
            </span>
          </li>
        </ol>
      </div>

      <div ng-if="event.resources" class="o-footnotes c-footnotes--resources">
        <h4 class="o-heading c-heading--section-title">{{ siteConfig.event_resources_title }}</h4>
        <!-- Resources -->
        <ol class="o-list o-list--decimal c-footnotes__list">
          <li ng-repeat="item in event.resources" ng-switch="item.resource_type" class=" c-footnotes__list-item">
            <span ng-switch-when="book">
              <span ng-if="item.authors && item.author=!'0'">
                {{ item.authors }}.
              </span>
              <span ng-if="item.chapter">
                "{{ item.chapter }}".
              </span>
              <span ng-if="item.title && item.url">
                <em><a href="{{ item.url }}">{{ item.title }}</a></em>.
              </span>
              <span ng-if="item.title && !item.url">
                <em>{{ item.title }}</em>.
              </span>
              <span ng-if="item.editors && item.editor!='0'">
                {{ siteConfig.event_source_editors }} {{ item.editors }}.
              </span>
              <span ng-if="item.translators && item.translator!='0'">
                {{ siteConfig.event_source_translators }} {{ item.translators }}.
              </span>
              <span ng-if="item.edition">
                {{ siteConfig.event_source_edition}} {{ item.edition }}.
              </span>
              <span ng-if="item.volume">
                {{ siteConfig.event_source_volume }} {{ item.volume }}.
              </span>
              <span ng-if="item.location && !item.publisher">
                {{ item.location }}.
              </span>
              <span ng-if="item.location && item.publisher">
                {{ item.location }}:
              </span>
              <span ng-if="item.publisher && !item.date_published && !item.year_published">
                {{ item.publisher }}.
              </span>
              <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                {{ item.publisher }},
              </span>
              <span ng-if="item.date_published">
                {{ item.date_published }}.
              </span>
              <span ng-if="item.year_published && !item.date_published ">
                {{ item.year_published }}.
              </span>
              <span ng-if="item.pages">
                {{ siteConfig.event_source_pages }} {{ item.pages }}.
              </span>
              <span ng-if="item.isbn">
                {{ item.isbn }}.
              </span>
            </span>

            <span ng-switch-when="article">
              <span ng-if="item.authors && item.author!='0'">
                {{ item.authors }}.
              </span>
              <span ng-if="item.title && item.url">
                "<a href="{{ item.url }}">{{ item.title }}</a>".
              </span>
              <span ng-if="item.title && !item.url">
                "{{ item.title }}".
              </span>
              <span ng-if="item.periodical_title">
                <em>{{ item.periodical_title }}</em>.
              </span>
              <span ng-if="item.editors && item.editor!='0'">
                {{ siteConfig.event_source_editors }} {{ item.editors }}.
              </span>
              <span ng-if="item.translators && item.translator!='0'">
                {{ siteConfig.event_source_translators }} {{ item.translators }}.
              </span>
              <span ng-if="item.edition">
                {{ siteConfig.event_source_edition}} {{ item.edition }}.
              </span>
              <span ng-if="item.location && !item.publisher">
                {{ item.location }}.
              </span>
              <span ng-if="item.location && item.publisher">
                {{ item.location }}:
              </span>
              <span ng-if="item.publisher && !item.date_published && !item.year_published">
                {{ item.publisher }}.
              </span>
              <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                {{ item.publisher }},
              </span>
              <span ng-if="item.date_published">
                {{ item.date_published }}.
              </span>
              <span ng-if="item.year_published && !item.date_published ">
                {{ item.year_published }}.
              </span>
              <span ng-if="item.pages">
                {{ siteConfig.event_source_pages }} {{ item.pages }}.
              </span>
              <span ng-if="item.isbn">
                {{ item.isbn }}.
              </span>
              <span ng-if="item.date_accessed">
                {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
              </span>
            </span>

            <span ng-switch-when="website">
              <span ng-if="item.title">
                "<a ng-if="item.url" href="{{ item.url }}">{{ item.title }}</a>".
              </span>
              <span ng-if="item.website_name">
                <em>{{ item.website_name }}</em>.
              </span>
              <span ng-if="item.date_accessed">
                {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
              </span>
            </span>

            <span ng-switch-when="misc">
              <span ng-if="item.authors && item.author!='0'">
                {{ item.authors }}.
              </span>
              <span ng-if="item.title && item.url">
                "<a href="{{ item.url }}">{{ item.title }}</a>".
              </span>
              <span ng-if="item.title && !item.url">
                "{{ item.title }}".
              </span>
              <span ng-if="item.periodical_title">
                <em>{{ item.periodical_title }}</em>.
              </span>
              <span ng-if="item.editors && item.editor!='0'">
                {{ siteConfig.event_source_editors }} {{ item.editors }}.
              </span>
              <span ng-if="item.translators && item.translator!='0'">
                {{ siteConfig.event_source_translators }} {{ item.translators }}.
              </span>
              <span ng-if="item.edition">
                {{ siteConfig.event_source_edition}} {{ item.edition }}.
              </span>
              <span ng-if="item.volume">
                {{ siteConfig.event_source_volume}} {{ item.volume }}.
              </span>
              <span ng-if="item.location && !item.publisher">
                {{ item.location }}.
              </span>
              <span ng-if="item.location && item.publisher">
                {{ item.location }}:
              </span>
              <span ng-if="item.publisher && !item.date_published && !item.year_published">
                {{ item.publisher }}.
              </span>
              <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                {{ item.publisher }},
              </span>
              <span ng-if="item.date_published">
                {{ item.date_published }}.
              </span>
              <span ng-if="item.year_published && !item.date_published ">
                {{ item.year_published }}.
              </span>
              <span ng-if="item.pages">
                {{ siteConfig.event_source_pages }} {{ item.pages }}.
              </span>
              <span ng-if="item.isbn">
                {{ item.isbn }}.
              </span>
              <span ng-if="item.date_accessed">
                {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
              </span>
            </span>
          </li>
        </ol>
      </div>
    </div>

    <!-- <ul class="o-row">
      <li ng-click="openEvent(item.slug)" ng-repeat="item in event.related_events">
        <img ng-if="item.preview_image" ng-src="{{ item.previewImgPath }}" alt="{{ item.post_title}} " />
      </li>
    </ul> -->
  </div>
</div>
