header
  h1 
    - the_title()
  div
    dateformat
      - App\event_date('start');
    dateformat  
      - App\event_date('end');
  h3
    - App\taxonomy_terms('event_timeline', 'name')
  h4
    - App\taxonomy_terms('event_topic', 'name')
