/**
 * Event post sidenote title
*/
.c-event__sidenote
  @extend .o-sidenote

  +media-query(mediatype, bp-desktop)
    margin-bottom rem(15px)
  +media-query(mediatype, bp-desktop--medium)
    margin-bottom rem(30px)


.c-event__sidenote-title
  @extend .o-heading, .o-sidenote__title

  color $mint
  font-size $centi
  text-transform uppercase

  +media-query(mediatype, bp-tablet)
    font-size $deci
  +media-query(mediatype, bp-desktop--medium)
    font-size $mega

.c-event__sidenote-caption
  @extend .o-paragraph--small, .o-sidenote__caption
