/**
 * Button large (modifier)
 */
.o-btn--large

  +below('m')
    padding rem(23px) rem(36px)

  +between('m', 'l')
    padding rem(16px) rem(24px)
    min-width rem(160px)

  +between('l', 'xl')
    padding rem(19px) rem(26px)

  +above('xl')
    padding rem(22px) rem(34px)
