/**
 * Button small (modifier)
 */
.o-btn--small

  +below('m')
    padding rem(7px) rem(9px)

  +between('m', 'l')
    padding rem(10px) rem(12px)

  +between('l', 'xl')
    padding rem(10px) rem(12px)

  +above('xl')
    padding rem(11px) rem(14px)
