/**
 * Body
 *
 *    - hides content that overflows site width
 *    - enforces vertical scrolling
 *    - sets default background color
 */
body
  overflow-x hidden
  overflow-y scroll
  min-height 100%
  max-width 100%
  width 100%
  background-color $white
