/**
 * HTML
 *
 *    - enforces relative positioning
 *    - enforces 100% height
 *    - sets body substrate background color
 */
html
  position relative
  height 100%
  background-color $gray--light
