/**
 * Page title
 */
.c-page__title
  @extend .o-heading

  margin 0
  align('vertical')

  color $white

  +below('s')
    font-size $mega
    line-height 1.1

  +between('s', 'm')
    font-size $giga
    line-height 1.2

  +between('m', 'l')
    font-size $tera
    line-height 1.2

  +between('l', 'xl')
    font-size $exa

  +above('xl')
    font-size $yotta
    line-height 1
