/**
 * Media block credits (media or author credits text)
 */
.c-media-block__credits
  @extend .o-text-link

  margin-top rem(8px)
  display inline-block

  font-family $base-body-font
  font-weight $light
  font-style normal
  font-size $atto
  line-height 1.7
  color $gray--dark

  &:hover
  &:focus
    color $gray--medium
