/**
 * Media block title
 */
.c-media-block__title
  @extend .o-heading

  margin-top rem(15px)
  margin-bottom rem(12px)

  font-weight $regular
  letter-spacing 0
  text-transform none

  strong
  em
  b
    font-weight $semibold

  +below('l')
    font-size $centi
    line-height 1.2

  +between('l', 'xl')
    font-size $milli
    line-height 1.3

  +above('xl')
    font-size $deci
