/**
 * Quote
 *
 *    Wraps:
 *      - `c-quote__icon`
 *      - `c-quote__content`
 *
 */
.c-quote
  clearfix()

// Event modifier
.c-quote--event
  @extend .c-quote

  +below('l')
    margin-bottom rem(15px) // space between quote and other sidebar objects

  +between('l', 'hd')
    margin-bottom rem(20px)

  +above('hd')
    margin-bottom rem(40px)


// Story modifier
.c-quote--story
  @extend .c-quote

  +below('s')
    margin-bottom rem(20px) // space between quote and other sidebar objects

  +between('s', 'l')
    margin-bottom rem(30px)

  +between('l', 'hd')
    margin-bottom rem(40px)

  +above('hd')
    margin-bottom rem(45px)

// Workshop modifier
.c-quote--workshop
  @extend .c-quote

  +below('l')
    margin-bottom rem(15px) // space between quote and other sidebar objects

  +between('l', 'hd')
    margin-bottom rem(20px)

  +above('hd')
    margin-bottom rem(40px)
