.c-home__image
  // Set background image so that it looks good on every screen
  //background-position 15% 0
  background-image url(../images/backgrounds/home--1.2.2--narrower.jpg)
  background-repeat no-repeat
  background-size cover
  +media-query(mediatype, bp-tablet)
    background-position 50% 100%
  +media-query(mediatype, bp-desktop)
    background-position 50% 100%
  +media-query(mediatype, bp-desktop--medium)
    background-image url(../images/backgrounds/home--1.2.2--wider.jpg)
    //background-position auto
