.c-home-buttons__wrap
  display block
  float left
  margin-top rem(35px)
  +media-query(mediatype, bp-tablet)
    display block
    margin-top rem(50px)
  +media-query(mediatype, bp-tablet--landscape)
    margin-top rem(50px)
  +media-query(mediatype, bp-desktop)
    margin-top rem(50px)
  +media-query(mediatype, bp-desktop--medium)
    margin-top rem(60px)
  +media-query(mediatype, bp-desktop--large)
    margin-top rem(70px)

.c-home-buttons__item
  width 100%
  margin-bottom rem(20px)
  +media-query(mediatype, bp-tablet)
    width auto
    margin-bottom 0
    margin-right rem(15px)
  +media-query(mediatype, bp-tablet--landscape)
    margin-bottom 0
    margin-right rem(15px)
