.c-heading--home
  margin-top rem(20px)
  font-size size--femto
  letter-spacing rem(1px)
  color color--white
  +media-query( mediatype, bp-tablet )
    letter-spacing rem(2px)
    font-size size--mega
  +media-query( mediatype, bp-desktop )
    font-size size--tera
  +media-query(mediatype, bp-desktop--medium)
    margin-bottom rem(50px)
