/**
 * Events page content
 *
 *    Wraps:
 *      - `c-events__head`
 *      - `c-timeline`
 *
 */
.c-events__content
  clearfix()
  min-height rem(900px) // fix, untill angular preloader is implemented
