/**
 * Footnotes column
 *
 *    Wraps:
 *      - `c-section-title`
 *      - `c-footnotes__list`
 *
 *    Two columns layout on large screens,
 *    on small screens — stacked.
*/
.c-footnotes__column
  margin-bottom rem(30px) // when columns stacked on top of each other

  &:last-of-type
    margin-bottom 0

  +below('l')
    stack()

  +above('l')
    column(1/2)
