/**
 * Event post sidebar
 *
 *    - Stacks under main content on small screens
 *    - Displayed next to main content on larger screens
*/
.c-event__sidebar

  +below('l')
    stack()

  +above('l')
    column(1/3)
