/**
 * Iconfont icons (components)
 *
 *    Generated with `gulp-iconfont` task using template at `styles/templates/_icons.styl`
 *    @link: https://www.npmjs.com/package/gulp-iconfont
 */

.c-icon-arrow-down--circle
  @extend .o-icon

  &:before
    content: "\EA01" !important // @stylint ignore

.c-icon-arrow-left--circle
  @extend .o-icon

  &:before
    content: "\EA02" !important // @stylint ignore

.c-icon-arrow-right--circle
  @extend .o-icon

  &:before
    content: "\EA03" !important // @stylint ignore

.c-icon-close--circle
  @extend .o-icon

  &:before
    content: "\EA04" !important // @stylint ignore

.c-icon-closed-captions
  @extend .o-icon

  &:before
    content: "\EA05" !important // @stylint ignore

.c-icon-download--circle
  @extend .o-icon

  &:before
    content: "\EA06" !important // @stylint ignore

.c-icon-facebook--circle
  @extend .o-icon

  &:before
    content: "\EA07" !important // @stylint ignore

.c-icon-googleplus--circle
  @extend .o-icon

  &:before
    content: "\EA08" !important // @stylint ignore

.c-icon-info--circle
  @extend .o-icon

  &:before
    content: "\EA09" !important // @stylint ignore

.c-icon-menu--circle
  @extend .o-icon

  &:before
    content: "\EA0A" !important // @stylint ignore

.c-icon-minus--circle
  @extend .o-icon

  &:before
    content: "\EA0B" !important // @stylint ignore

.c-icon-more--circle
  @extend .o-icon

  &:before
    content: "\EA0C" !important // @stylint ignore

.c-icon-pin--circle
  @extend .o-icon

  &:before
    content: "\EA0D" !important // @stylint ignore

.c-icon-play--circle
  @extend .o-icon

  &:before
    content: "\EA0E" !important // @stylint ignore

.c-icon-plus--circle
  @extend .o-icon

  &:before
    content: "\EA0F" !important // @stylint ignore

.c-icon-quote
  @extend .o-icon

  &:before
    content: "\EA10" !important // @stylint ignore

.c-icon-search--circle
  @extend .o-icon

  &:before
    content: "\EA11" !important // @stylint ignore

.c-icon-search
  @extend .o-icon

  &:before
    content: "\EA12" !important // @stylint ignore

.c-icon-text--circle
  @extend .o-icon

  &:before
    content: "\EA13" !important // @stylint ignore

.c-icon-time--circle
  @extend .o-icon

  &:before
    content: "\EA14" !important // @stylint ignore

.c-icon-twitter--circle
  @extend .o-icon

  &:before
    content: "\EA15" !important // @stylint ignore

.c-icon-vimeo--circle
  @extend .o-icon

  &:before
    content: "\EA16" !important // @stylint ignore
