/**
 * Categories list
 */
.c-categories-list
  display block
  clearfix()

// Catgories list item
.c-categories-list__item
    @extend .o-btn, .o-btn--small, .o-btn--disabled

    display inline-block
    float left
    margin-right rem(2px)   /* space between items */
    margin-bottom rem(2px)  /* space between items */

    font-family $base-heading-font
    font-weight $thin
    font-size $femto
    letter-spacing rem(.5px)

    +media-query(mediatype, bp-tablet)
      font-size $pico
      letter-spacing rem(1px)
    +media-query(mediatype, bp-desktop)
      font-size $nano
    +media-query(mediatype, bp-desktop--medium)
      font-size $micro
