/**
 * Call-to-action button
 */
.c-cta-button
  @extend .o-btn
  text-align center

.c-cta-button__label
  vertical-align middle
  font-family $base-heading-font
  font-weight $thin
  color $white

  +below('xl')
    letter-spacing rem(.7px)
    font-size $micro

  +above('xl')
    font-size $milli
    letter-spacing rem(1px)

.c-cta-button__icon
  display inline-block
  margin-right rem(12px) // space between icon and label
  vertical-align middle
  color $white

  +below('xl')
    font-size rem(25px) // icon size

  +above('xl')
    font-size rem(28px)

// Home modifier
.c-cta-button--home
  @extend .c-cta-button

  display inline-block
  margin-right rem(15px) // space between buttons

  &:last-of-type
    margin-right 0

  background-color $indigo // color fallback
  background-color rgba($indigo, .95)
  border rem(1px) solid $indigo + 10%

  &:hover
  &:focus
    background-color $indigo - 5

  +below('xl')
    padding rem(20px)

  +above('xl')
    padding rem(22px)

  +at('hd')
    margin-right rem(30px)
    padding rem(40px)

    &:last-of-type
      margin-right 0

    // Modify label and icon size
    .c-cta-button__label
      font-size $giga
    .c-cta-button__icon
      margin-right rem(25px)
      font-size rem(55px)
