/**
 * Post share (options list)
*/
.c-post-share__list
  @extend .o-ui-list
  display block
  float left
  margin-bottom rem(25px)
  padding-top rem(25px)
  width 100%
  border-top rem(1px) solid $gray--light

.c-post-share__label
  display inline-block
  margin-right rem(20px)
  vertical-align middle
  font-family $base-heading-font
  font-weight $thin
  text-transform uppercase
  font-size $micro
  letter-spacing rem(.8)
  color $gray--medium

.c-post-share__item
  display inline-block
  margin-right rem(8px)
  vertical-align middle

.c-post-share__link
  @extend .o-btn
  font-size rem(30px)
  +media-query(mediatype, bp-tablet)
    font-size rem(32px)
  +media-query(mediatype, bp-desktop--medium)
    font-size rem(36px)

// Modifiers
.c-post-share__link--event
  @extend .c-post-share__link
  color $indigo
  &:hover
    color $indigo + 50

.c-post-share__link--story
  @extend .c-post-share__link
  color $blueberry
  &:hover
    color $blueberry + 50
