/**
 * Post-to-post navigation
 *
 *    Navigation appears on the sides of the post content
 *    inside the lightbox.
 *
 *    Navigation wrapper provides layout for page-height clickable area
 *    on the both sides of the post.
 *    Disabled on mobile screen.
 *
 */
.c-post-navigation__wrapper
  @extend .o-btn
  display none /* disable navigation on mobile screen */
  z-index 9999
  height 110vh
  +media-query(mediatype, bp-tablet)
    display block /* display navigation starting from tablet screen size */
    position relative
    width 5%
  +media-query(mediatype, bp-desktop--large)
    width 10%

.c-post-navigation__wrapper--left
  @extend .c-post-navigation__wrapper
  +media-query(mediatype, bp-mobile--landscape)
    float left

.c-post-navigation__wrapper--right
  @extend .c-post-navigation__wrapper
  +media-query(mediatype, bp-mobile--landscape)
    float right

// 'Close' icon postion, size and color
.c-post-navigation__close
  @extend .o-btn
  absolute rem(10px) rem(10px) false false
  font-size rem(25px)
  color $gray
  +media-query(mediatype, bp-tablet)
    absolute rem(20px) rem(20px) false false
    font-size rem(30px)
  +media-query(mediatype, bp-desktop)
    absolute rem(20px) rem(20px) false false
    font-size rem(35px)
  +media-query(mediatype, bp-desktop--medium)
    absolute rem(20px) rem(20px) false false
    font-size rem(45px)
  // Change icon color on hover/focus
  &:hover
  &:focus
    color $gray - 30
    transform rotate(90deg) /* cool rotation effect! */

// Arrow icon postion, size and color
.c-post-navigation__previous
.c-post-navigation__next
  @extend .o-btn
  position fixed
  bottom 50%
  font-size rem(45px) /* arrow icon size */
  color rgba($white, .65) /* arrow icon color */
  transition color .2s ease
  // Change icon color on hover/focus
  &:hover
    color $white
  +media-query(mediatype, bp-tablet)
    font-size rem(25px)
  +media-query(mediatype, bp-tablet--landscape)
    font-size rem(30px)
  +media-query(mediatype, bp-desktop)
    font-size rem(40px)
  +media-query(mediatype, bp-desktop--medium)
    font-size rem(50px)
  +media-query(mediatype, bp-desktop--large)
    font-size rem(65px)

.c-post-navigation__previous
  transform rotate(90deg) /* rotate arrow icon '<' */
  +media-query(mediatype, bp-tablet)
    left rem(3px)
  +media-query(mediatype, bp-tablet--landscape)
    left rem(5px)
  +media-query(mediatype, bp-desktop)
    left rem(6px)
  +media-query(mediatype, bp-desktop--medium)
    left rem(12px)
  +media-query(mediatype, bp-desktop--large)
    left rem(55px)

.c-post-navigation__next
  transform rotate(-90deg) /* rotate arrow icon '>' */
  +media-query(mediatype, bp-tablet)
    right rem(3px)
  +media-query(mediatype, bp-tablet--landscape)
    right rem(5px)
  +media-query(mediatype, bp-desktop)
    right rem(6px)
  +media-query(mediatype, bp-desktop--medium)
    right rem(12px)
  +media-query(mediatype, bp-desktop--large)
    right rem(55px)
