.c-404
  min-height 100%
  padding-top rem(50px)
  padding-bottom rem(50px)
  margin-top 0
  margin-bottom 0
  background-repeat no-repeat
  background-position 70% 100%
  background-size: cover
  +media-query($screen, $bp--tablet--portrait)
    background-position 50% 30%

.c-404__content
  col(12)

.c-404__title
  margin rem(50px) 0

.c-404__message
  margin-top rem(50px)
