.c-categories-chain
  display block
  max-width 90%
  clearfix()
 
// .c-categories-chain--event
// .c-categories-chain--story

.c-categories-chain__item
  float left
  margin-right rem(3px)
  margin-bottom rem(3px)
  display inline-block
