.c-categories-chain
  display block
  max-width 90%
  clearfix()

 .c-categories-chain--story
   margin-bottom rem(35px)

.c-categories-chain__item
  float left
  margin-left rem(2px)
  margin-bottom rem(2px)
  display inline-block
