.countries-switcer
  float left
  margin-bottom rem(10px)

.countries-switcher__icon
  display inline-block
  size rem(30px) rem(30px)
  background-size 100% auto
  margin-left 10px
  margin-bottom -6px

.countries-switcher__list
  position absolute

.countries-switcher li
  float left
  margin-right 1px
  margin-top 1px
  // box-shadow 0px 0px 3px rgba(0,0,0,0.3)
