.c-donate-modal__title
  font-size $size--kilo
  +media-query($screen, $bp--tablet)
    font-size $size--giga
  +media-query($screen, $bp--tablet--landscape)
    font-size $size--tera
  +media-query($screen, $bp--desktop)
    font-size $size--peta

.c-donate-modal__text
  font-size $size--micro
  font-weight $weight--thin

.c-donate-modal__tax-free,
.c-donate-modal__paypal
  margin-top rem(20px)
  p
    margin-top rem(15px)
    font-size $size--pico
    font-family $base--font-body
  +media-query($screen, $bp--tablet)
    col(6)
    margin-top rem(20px)

.c-donate-modal__paypal-icon
  display inline-block
  width 120px
  height 32px
  vertical-align middle
  +media-query($screen, $bp--tablet)
    width 80px
    height 21px
  +media-query($screen, $bp--desktop)
    width 100px
    height 27px
  +media-query($screen, $bp--desktop--medium)
    width 120px
    height 32px
  +media-query($screen, $bp--desktop--large)
    width 120px
    height 32px

.c-donate-modal__paypal-badges
  margin-top rem(30px)
  margin-bottom rem(30px)
  max-width 100%
  width 100%
  +media-query($screen, $bp--tablet)
    margin-top rem(20px)
    margin-bottom 0
    width 75%
    height 25%
