.event__header
  padding-top rem(20px)
  background-size cover

.event__content
  background white

.event__body
  col(12)
  +media-query($screen, $bp--desktop)
    col(8)

.event__sidebar
  col(12)
  +media-query($screen, $bp--desktop)
    col(4)

.event__sidebar-video
  width 100%
  height 300px
  +media-query($screen, $bp--tablet)
    height 500px
  +media-query($screen, $bp--desktop)
    height 200px
  +media-query($screen, $bp--desktop-large)
    height 300px
