.event-preview__wrapper
  float left
  width 100%

.event-preview__item
  position relative
  float left
  size 100% 200px
  background-size cover

.event-preview__content
  display block
  absolute false false 1em 1em

.event-preview__year
  float left
  width 100%
  margin-bottom 1em

.event-preview__title
  float left
  width 100%
