.event-preview__wrapper
  float left
  width 100%

.event-preview__item
  position relative
  float left
  size 100% 260px
  background-size cover
  background $color--dark-gray
  border-bottom solid 1px white
  border-left solid 1px white
  &:hover,
  &:focus
    cursor pointer
    opacity: 0.80

.event-preview__item--disabled
  opacity 0.5

.event-preview__content
  display block
  absolute false false 1em 1em

.event-preview__year
  float left
  width 100%
  margin-bottom rem(5px)
  font-family $base--font-heading
  font-weight $weight--thin
  font-size $size--delta
  color $color--white

.event-preview__title
  float left
  width 100%

