.c-event__header
  padding-top rem(20px)
  margin-bottom rem(20px)
  background-size cover
  +media-query($screen, $bp--tablet)
    margin-bottom rem(30px)

.c-event__content
  background white
  +media-query($screen, $bp--desktop)
    padding-bottom rem(30px)

.c-event__body
  col(12)
  +media-query($screen, $bp--desktop)
    col(8)

.c-event__body--full
  col(12)

.c-event__date
  margin-top rem(5px)
  margin-bottom rem(20px)
  font-family $base--font-heading
  font-weight $weight--thin
  font-size $size--pico
  letter-spacing rem(1.6px)
  +media-query($screen, $bp--tablet)
    margin-top rem(15px)
    margin-bottom rem(25px)
  +media-query($screen, $bp--desktop)
    margin-top rem(20px)
    margin-bottom rem(30px)
    font-size $size--micro
  +media-query($screen, $bp--desktop--medium)
    font-size $size--milli
