.filter-list
  clearfix()
  float left
  width 100%
  margin 0
  padding 0

.filter-list__item
  float left
  padding 3px 7px
  background grey
  margin 1px

.filter-list__item--active
  background blue
