.o-footnotes
  col(12)
  +media-query($screen, $bp--desktop)
    col(6)

.c-footnotes__list
  @extend .o-paragraph
  font-size $size--pico
  line-height 1.4
  +media-query($screen, $bp--desktop)
    font-size $size--pico

.c-footnotes__list-item
  margin-top rem(5px)
  line-height 1.4
  +media-query($screen, $bp--desktop)
    margin-top rem(6px)

//.c-footnotes--sources
  //

//.c-footnotes--resources
  //
