.c-home
  display block

.c-home__image
  // Set background image so that it looks good on every screen
  background-position 80% 0
  +media-query($screen, $bp--mobile--landscape)
    background-position 90% 20%
  +media-query($screen, $bp--tablet)
    background-position 80% 50%
  +media-query($screen, $bp--tablet--landscape)
    background-position 90% 0
  +media-query($screen, $bp--desktop)
    background-position 50% 0

.c-home__content
  position relative
  display block
  float left
  height rem(180px) // add extra height so JS adds desired padding on mobile screen
  +media-query($screen, $bp--tablet)
    height auto
  +media-query($screen, $bp--tablet--landscape)
    height rem(120px) // same in order to keep design neat on vertical iPad
  +media-query($screen, $bp--desktop)
    height auto

.c-home-title
  margin 0
  font-family $font--headings
  font-weight $weight--thin
  letter-spacing rem(1px)
  font-size 0
  text-transform uppercase
  color $color--white
  clearfix()

.c-home-title__line
  display block

.c-home-title__block
  display inline-block
  margin-right rem(3px)
  margin-bottom rem(3px)
  padding rem(2px) rem(5px)
  padding-bottom 0 // fix uneven padding
  font-size $size--kilo
  background-color rgba(239, 239, 241, 0.3)
  +media-query($screen, $bp--tablet)
    margin-right rem(4px)
    margin-bottom rem(4px)
    padding rem(12px) rem(13px)
    font-size $size--deca
  +media-query($screen, $bp--desktop--medium)
    margin-right rem(4px)
    margin-bottom rem(4px)
    padding rem(11px) rem(20px)
    padding-top rem(14px) // fix uneven padding
    font-size $size--giga
  +media-query($screen, $bp--desktop--large)
    margin-right rem(5px)
    margin-bottom rem(5px)
    padding rem(10px) rem(23px)
    padding-top rem(13px) // fix uneven padding
    font-size $size--tera

.c-home-buttons__wrap
  display block
  float left
  margin-top rem(35px)
  +media-query($screen, $bp--tablet)
    display block
    margin-top rem(50px)
  +media-query($screen, $bp--tablet--landscape)
    margin-top rem(50px)
  +media-query($screen, $bp--desktop)
    margin-top rem(50px)
  +media-query($screen, $bp--desktop--medium)
    margin-top rem(60px)
  +media-query($screen, $bp--desktop--large)
    margin-top rem(70px)

.c-home-buttons__item
  width 100%
  margin-bottom rem(20px)
  +media-query($screen, $bp--tablet)
    width auto
    margin-bottom 0
    margin-right rem(15px)
  +media-query($screen, $bp--tablet--landscape)
    margin-bottom 0
    margin-right rem(15px)
