.c-home-intro
  min-height 100%
  padding-top 50px
  padding-bottom 50px
  margin-top -50px
  margin-bottom -50px
  background-repeat no-repeat
  background-position 70% 100%
  background-size: cover
  +media-query($screen, $bp--tablet--portrait)
    background-position 50% 30%

.c-home-intro__content
  col(12)
