.lightbox
  position absolute
  z-index 1000
  top 0
  right 0
  width 100%
  background-color rgba(0,0,0,0.5)

.lightbox__wrapper
  position relative
  float left
  margin 80px
  background white

.lightbox__close
  absolute rem(10px) rem(10px) false false
  size rem(30px) rem(30px)
  background red
  border solid 3px green
  z-index 1000
