.owl-carousel 
  float left

.owl-carousel__arrows-wrapper
  position relative
  width 100%
  float left
  border solid 1px red

.owl-carousel__arrow
  size rem(30px) rem(30px)
  position absolute
  top rem(-40px)

.owl-carousel__arrow--prev
  left 0

.owl-carousel__arrow--next
  right 0
