.owl-carousel
  float left

.owl-carousel__arrows-wrapper
  position relative
  margin-bottom rem(50px)
  width 100%
  height rem(50px)
  float left
  text-align center

.owl-carousel__arrow
  //size rem(30px) rem(30px)
  position absolute
  height rem(50px)
  //top rem(-40px)

.owl-pagination
  margin-top rem(30px)

.owl-carousel__arrow--prev
  left 0

.owl-carousel__arrow--next
  right 0

.carousel-nav__item
  display block
  size rem(50px)
  background-size 100%
  margin-top -20px

.time-line
  display inline-block
  margin-top rem(25px)
  width 80%
  border-bottom 1px solid $color--light-gray