//.c-sidebar-quote

.c-sidebar-quote__icon
  display block
  margin-bottom rem(10px)
  size rem(25px)
  +media-query( $screen, $bp--tablet )
    margin-bottom rem(20px)
    size rem(35px)
  +media-query( $screen, $bp--desktop--medium )
    size rem(45px)

.c-sidebar-quote__icon--story
  display block
  margin-bottom rem(10px)
  size rem(25px)
  +media-query( $screen, $bp--tablet )
    margin-bottom rem(12px)
    size rem(32px)
  +media-query( $screen, $bp--desktop )
    margin-bottom rem(15px)
    size rem(35px)
  +media-query( $screen, $bp--desktop--medium )
    margin-bottom rem(20px)
    size rem(65px)

.c-sidebar-quote__text
  margin-bottom rem(20px)
  font-size $size--milli
  font-weight $weight--thin
  line-height 1.2
  text-transform none
  strong, em, b
    font-weight $weight--regular
  +media-query( $screen, $bp--tablet )
    font-size $size--centi
    line-height 1.35
  +media-query( $screen, $bp--desktop )
    font-size $size--centi
  +media-query( $screen, $bp--desktop--medium )
    font-size $size--hecto

.c-sidebar-quote__text--story
  +media-query( $screen, $bp--tablet )
    font-size $size--milli
    line-height 1.4
  +media-query( $screen, $bp--desktop )
    line-height 1.4
    font-size $size--micro
  +media-query( $screen, $bp--desktop--medium )
    line-height 1.3
    font-size $size--hecto

.c-sidebar-quote__author-block
  @extend .o-paragraph
  display inline-block
  float right
  margin-bottom rem(30px)
  line-height 1.2
  color $color--dark-gray
  text-align right
  +media-query( $screen, $bp--desktop )
    margin-bottom rem(1s0px)

.c-sidebar-quote__author-block--story
  margin-bottom rem(15px)

.c-sidebar-quote__author
  padding-left rem(3px)
  text-align right

.c-sidebar-quote__source
  margin-top rem(10px)
  font-size $size--femto
  line-height 1.2
  +media-query( $screen, $bp--tablet )
    display block
    padding-left rem(21px)
    text-indent 0
