.o-site-nav
  clearfix()
  line-height $base--line-height
  letter-spacing rem(1px)
  position relative

.o-site-nav__list
  list-style none
  overflow visible

.c-site-nav--head
  font-family $base--font-body
  font-style normal
  font-weight $weight--regular
  text-transform uppercase

.c-site-nav--footer
  font-family $base--font-body
  font-weight $weight--light
  text-align center
  +media-query($screen, $bp--tablet)
    text-align left

.c-site-nav__list--head
  display none // hidden by default unless menu is toggled
  position absolute
  padding rem(30px)
  z-index 1001
  width 100%
  text-align center
  background-color $color--indigo
  .is-active a
    color $color--mint

.c-site-nav__list--head--page
  +media-query($screen, $bp--tablet)
    margin-top rem(40px)
  +media-query($screen, $bp--tablet--landscape)
    // reset properties set in mobile view
    display block
    position relative
    float right
    margin-top 0
    padding 0
    width auto
    background-color transparent

.c-site-nav__list--head--home
  margin-top rem(10px)
  +media-query($screen, $bp--tablet)
    margin-top rem(60px)
  +media-query($screen, $bp--tablet--landscape)
    display none  // hidden by default unless menu is toggled
  +media-query($screen, $bp--desktop)
    // reset properties set in mobile/tablet views
    display block
    position relative
    float right
    margin-top 0
    padding 0
    width auto
    background-color transparent

.c-site-nav__list--head li
  position relative
  +media-query($screen, $bp--tablet--landscape)
    display inline-block

.c-site-nav__list--head--home li
  display block
  text-align center
  +media-query($screen, $bp--desktop)
    display inline-block

.c-site-nav__list--head li a
  display block
  font-size $size--pico
  line-height rem(30px)
  color $color--white
  &:hover,
  &:focus
    color $color--mint
  +media-query($screen, $bp--tablet)
    padding rem(10px) 0
    font-size $size--centi
  +media-query($screen, $bp--tablet--landscape)
    font-size $size--femto
    color $base--font-color
    padding 0 rem(12px)
  +media-query($screen, $bp--desktop)
    padding 0 rem(20px)
  +media-query($screen, $bp--desktop--medium)
    padding 0 rem(24px)

.c-site-nav__list--head li:last-of-type a
  // Remove right padding from the last element of navigation
  // on desktop screen
  +media-query($screen, $bp--desktop)
    padding-right 0

.c-site-nav__list--head--home li a
  color $color--white
  padding rem(10px) 0
  +media-query($screen, $bp--tablet)
    font-size $size--milli
  +media-query($screen, $bp--tablet--landscape)
    font-size $size--centi
  +media-query($screen, $bp--desktop)
    font-size $size--femto
    padding 0 rem(20px)
    padding-top rem(3px)

.c-site-nav__list--footer
  .is-active a
    color $color--mint
  +media-query($screen, $bp--tablet)
    display block
    float left

.c-site-nav__list--footer li
  display inline-block
  +media-query($screen, $bp--tablet)
    float left

.c-site-nav__list--footer li a
  display block
  font-size $size--atto
  line-height rem(30px)
  color $color--medium-gray
  padding 0 rem(6px)
  padding-top rem(8px)
  &:hover,
  &:focus
    color $color--mint
  +media-query($screen, $bp--tablet)
    padding-right rem(12px)
    padding-left rem(12px)
    font-size $size--femto
  +media-query($screen, $bp--desktop)
    padding-right rem(20px)
    padding-left rem(20px)

.c-site-nav__list--footer li:first-of-type a
  // Remove left padding from the first element of navigation
  padding-left 0

.c-site-nav__list--footer-extra
  margin-top rem(20px)
  +media-query($screen, $bp--tablet)
    margin-top 0
  +media-query($screen, $bp--tablet--landscape)
    float right
    margin-top 0
