.o-site-logo
  text-indent rem(-9999px)
  background-size 100% auto

.c-site-logo--nav
  display inline-block
  margin-top rem(20px)
  size rem(220px) rem(25px)
  +media-query($screen, $bp--tablet)
    margin-top rem(5px)
    margin-bottom 0
    size rem(180px) rem(19px)
  +media-query($screen, $bp--tablet--landscape)
    float left
    margin-top rem(5px)
    size rem(200px) rem(19px)

// Reimagine Belonging
.c-site-logo--home-intro
  display none
  +media-query($screen, $bp--desktop)
    display block
    width 100%
    height rem(135px)
  +media-query($screen, $bp--desktop--medium)
    height rem(155px)
  +media-query($screen, $bp--desktop--large)
    height rem(165px)

// Reimagine
// Belonging
.c-site-logo-alt--home-intro
  display inline-block
  size rem(340px) rem(125px)
  background-size contain
   +media-query($screen, $bp--mobile--landscape)
    display inline-block
    size rem(370px) rem(145px)
  +media-query($screen, $bp--tablet--portrait)
    size rem(520px) rem(220px)
  +media-query($screen, $bp--tablet--landscape)
    size rem(720px) rem(300px)
  +media-query($screen, $bp--desktop)
    display none