.c-site-footer
  position absolute
  bottom 0
  padding rem(12px) 0
  width 100%
  background-color $color--black
  line-height rem(120px)

/*.c-site-footer--home
  position absolute
  bottom 0*/

.c-footer-links
  float right

.c-footer-links a
  color $color--white
