.o-social-icons
  display block
  width 100%

.o-social-icons__list
  float left

.o-social-icons__item
  float left
  display block

.o-icons-list__link
  display block
  size rem(50px)
  background-size 100%
  text-indent rem(-9999px)

.c-icons-list__link--post-share
  margin-right rem(10px)
  size rem(30px)
  +media-query($screen, $bp--tablet)
    margin-right rem(15px)
    size rem(32px)
  +media-query($screen, $bp--desktop)
    size rem(32px)
  +media-query($screen, $bp--desktop--medium)
    size rem(36px)
