.c-story__sidebar
  col(12)
  margin-bottom rem(10px)
  +media-query($screen, $bp--tablet)
    margin-bottom rem(20px)
    padding-bottom rem(30px)   
  +media-query($screen, $bp--tablet--landscape)
    padding-left 0
  +media-query($screen, $bp--desktop)
    col(4)
    margin-bottom rem(30px)
    padding-left rem(35px)
  +media-query($screen, $bp--desktop--medium)
    col(3)
    padding-left rem(35px)
