.c-story__sidebar
  col(12)
  margin-bottom rem(10px)
  +media-query($screen, $bp--tablet)
    margin-bottom rem(20px)
    padding-bottom rem(30px)
  +media-query($screen, $bp--tablet--landscape)
    padding-left 0
  +media-query($screen, $bp--desktop)
    col(4)
    margin-bottom rem(30px)
    padding-left rem(35px)
  +media-query($screen, $bp--desktop--medium)
    col(3)
    padding-left rem(35px)

.c-closed-captions-notice
  display block
  margin-bottom rem(30px)
  clearfix()
  +media-query($screen, $bp--tablet)
    margin-bottom rem(20px)
    border-bottom rem(1px) solid $color--light-gray

.c-closed-captions-notice__icon
  display inline-block
  float left
  size rem(35px)
  background-size 100%
  +media-query($screen, $bp--tablet)
    size rem(80px)
  +media-query($screen, $bp--desktop)
    display block
    size rem(40px)
  +media-query($screen, $bp--desktop--medium)
    size rem(65px)

.c-closed-captions-notice__wrapper
  display inline-block
  padding-left rem(10px)
  float right
  width 85%
  clearfix()
  +media-query($screen, $bp--tablet)
    padding-left rem(10px)
    width 85%
  +media-query($screen, $bp--desktop)
    display block
    width auto
    margin-top rem(5px)
    padding-left 0

.c-closed-captions-notice__title
  margin-top 0
  margin-bottom rem(8px)
  font-size $size--pico
  font-weight $weight--semibold
  text-transform none
  letter-spacing normal
  line-height 1.2
  +media-query( $screen, $bp--tablet )
    margin-top 0
    margin-bottom rem(10px)
    font-size $size--pico
  +media-query( $screen, $bp--desktop )
    font-size $size--femto
  +media-query( $screen, $bp--desktop--medium )
    margin-bottom rem(8px)
    font-size $size--micro

.c-closed-captions-notice__text
  color $color--dark-gray
  font-size $size--atto
  line-height 1.5
  +media-query( $screen, $bp--tablet )
    font-size $size--femto
  +media-query( $screen, $bp--desktop )
    line-height 1.7
