.o-timeline_events-preview
  display block
  clearfix()

.owl-carousel
  float left

.owl-carousel__arrows-wrapper
  position relative
  margin-bottom rem(80px)
  width 100%
  height rem(50px)
  float left
  text-align center
  +media-query($screen, $bp--tablet)
    margin-bottom rem(40px)
  +media-query($screen, $bp--desktop)
    margin-bottom rem(40px)
  +media-query($screen, $bp--desktop--medium)
    margin-bottom rem(50px)

.owl-carousel__arrow
  position absolute
  height rem(50px)

.owl-pagination
  margin-top rem(15px)
  padding 0 rem(15px)
  +media-query($screen, $bp--tablet)
    margin-top rem(40px)
    padding 0 rem(60px)
  +media-query($screen, $bp--desktop--medium)
    margin-top rem(50px)

.owl-theme .owl-controls .owl-page span
  background $color--medium-gray !important

.owl-theme .owl-controls .owl-page.active span
  background $color--yolk !important
  //size 45px !important
  //border-radius 120px !important

.owl-page active
  background blue !important

.owl-carousel__arrow--prev
  left 0

.owl-carousel__arrow--next
  right 0

.carousel-nav__item
  display block
  size rem(38px)
  background-size 100%
  margin-top -21px
  +media-query($screen, $bp--tablet)
    margin-top -28px
    size rem(50px)

.time-line
  display inline-block
  margin-top rem(35px)
  width 55%
  border-bottom 1px solid $color--light-gray
  +media-query($screen, $bp--tablet)
    margin-top rem(10px)
    width 80%
  +media-query($screen, $bp--desktop)
    margin-top rem(10px)
    width 85%
  +media-query($screen, $bp--desktop--medium)
    width 90%
