//- Related stories (external uri, relative to events app)
div(ng-if="event.related_stories").c-event__content.c-event__related-stories
  h2.c-section-title {{ siteConfig.event_related_stories_title }}
  div.c-event__related-posts
    a(
      ng-repeat="story in event.related_stories"
      ng-href="{{ story.external_slug }}"
      ng-mouseenter="mouseHover=true"
      ng-mouseleave="mouseHover=false"
    ).c-story-preview--related
      include ../../../../story/ng/preview--related-post.pug
