.c-how-to-intro
  row()
  float left
  padding-top rem(80px)
  padding-bottom rem(40px)

.c-how-to-intro__about
  col(6)
  padding-right rem(60px)

.c-how-to__walkthrough
  col(6)
  padding-bottom rem(60px)

.c-how-to-faq
  row()
  float left
  display block
  padding-top rem(80px)
  padding-bottom rem(100px)
  background-color color--indigo
  min-height rem(400px)

.c-how-to-faq__title
  padding-bottom rem(45px)
  font-size size--deci
  line-height 1.2
  color color--white  
  +media-query(mediatype, bp-tablet)
    font-size size--tera
  +media-query(mediatype, bp-desktop)
    font-size size--peta
  +media-query(mediatype, bp-desktop--medium)
    font-size size--yotta
    line-height 1

.c-how-to-faq__list
  col(6)
  @extend .o-heading
  line-height 1.3
  font-weight weight--regular
  text-transform none
  color color--white

.c-how-to-faq__item
  padding rem(7px) 0
  padding-right rem(20px)

.c-how-to-faq__question
  font-size size--deci

.c-how-to-faq__answer
  @extend .o-paragraph
  margin-bottom rem(20px)
  font-size size--nano
  line-height 1.6
  color color--white
