/**
 * Workshop preview details list
 */
.c-workshop__details
  @extend .o-paragraph

  margin-bottom rem(40px)
  padding-bottom rem(30px)
  border-bottom rem(1px) solid $gray

  .is-detail
    font-size $nano
    line-height 1.9
    color $carbon-black + 20%

    strong
    em
    b
      font-weight $semibold
      color $carbon-black
