/**
 * Footnotes list
 *
 *    Style for event sources & resources list
 *
*/
.c-footnotes__list
  @extend .o-text-list, .o-text-list--decimal
  @extend .o-paragraph

  margin-left rem(15px) // indent list number
