<div class="c-stories__head">

  <h1 class="c-stories__title" ng-bind-html="siteConfig.stories_page_title"></h1>

  <!-- categories filter list -->
  <div class="c-categories-filter" ng-cloak ng-show="siteConfig.story_filters" >

    <!-- categories list -->
    <ul class="c-category-filter__list">

      <!-- 'all topics' button -->
      <li class="c-category-filter__item"
        ng-class="{ 'is-active--stories': filter.topics.length === 0 }"
        ng-click="resetTopicsFilter()">
        {{ siteConfig.all_stories_filter_label }}
      </li>

      <!-- topics -->
      <li class="c-category-filter__item"
        ng-repeat="topic in siteConfig.story_filters"
        ng-class="{ 'is-active--stories': filter.topics.indexOf(topic.slug) > -1 }"
        ng-click="toggleTopicInFilter(topic.slug)"
        ng-bind-html="topic.name">
      </li>

    </ul>

  </div>

  <!-- filter dashboard -->
  <div class="c-dashboard" ng-cloak ng-show="siteConfig.total_stories_label" >

    <ul class="c-dashboard__info">
      <!-- total entries -->
      <li class="c-dashboard__posts-total">
        {{ siteConfig.total_stories_label }}:
        <strong>{{ stories.length }}</strong>
      </li>
      <!-- filtered entries -->
      <li class="c-dashboard__posts-filtered" ng-show="stories.length != (stories|showStories:filter).length">
        {{ siteConfig.flitered_stories_label }}:
        <strong>{{ (stories|showStories:filter).length}}</strong>
      </li>
    </ul>

    <!-- pagination -->
    <div class="c-dashboard__pagination" ng-show="(stories|showStories:filter).length > perPage">
      <div class="c-pagination--dashboard">
        <div class="c-pagination__label">
          Pages:
        </div>
        <ul class="c-pagination__list">
          <li ng-repeat="(k, v) in getPages() track by $index" class="c-pagination__item"
              ng-click="toPage(k)"
              ng-class="{'is-active': k === page }">{{ k+1 }}
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>

<!-- stories list -->
<div class="c-stories__list">

  <story-preview
    ng-click="openStory(story.slug)"
    ng-class="{'c-story-preview--disabled': story.hide === true}"
    ng-repeat="(k, story) in stories|showStories:filter" ng-show="inPaginatorScope(k)">
  </story-preview>

</div>

<div ui-view></div>
