/**
 * Workshops page about section
 */
.c-workshops__about
  @extend .o-centered-content

  +below('l')
    padding-top rem(40px)
    padding-bottom rem(40px)

  +between('l', 'xl')
    padding-top rem(60px)
    padding-bottom rem(60px)

  +above('xl')
    padding-top rem(80px)
    padding-bottom rem(80px)
