/**
 * Workshops page main
 */
.c-workshops__main

  +below('l')
    stack()
    margin-bottom rem(30px) // between main and sidebar

  +between('l', 'xl')
    column(7/12)
    margin-bottom 0

  +above('xl')
    column(6/12)
