div.c-modal-menu.js-modal-menu
  a(data-target=".js-modal-menu").c-icon-close--circle.c-modal-menu__close.js-modal-menu-close

  nav.c-modal-menu__content
    - if (has_nav_menu('modal_navigation')) :
      - wp_nav_menu(['theme_location' => 'modal_navigation', 'menu_class' => 'c-modal-menu__list'])
    - endif
