/**
 * Event post main (aka 'main content')
 *
 *    - Wrapped inside `c-event__content`
 *    - Stacks on top of sidebar on mobile screen
 *    - Displayed next to sidebar on desktop screen
 */
.c-event__main
  stack()
  margin-bottom rem(30px) /* between main content and footnotes */
  +media-query(mediatype, bp-desktop)
    unstack()
    column(2/3)
