/**
 * Event post title
*/
.c-event__title
  @extend .o-heading

  font-weight $regular
  font-size $kilo
  line-height 1.2

  +media-query(mediatype, bp-tablet)
    margin-top rem(20px)
    font-size size--tera
  +media-query(mediatype, bp-desktop)
    font-size size--tera
  +media-query(mediatype, bp-desktop--medium)
    margin-top rem(30px)
    font-size $zetta
    line-height 1
