/**
 * Preview gradient
 *
 *    Color gradient overlaying preview image
 */
.c-strory-preview__gradient
  display block
  position absolute
  size 100%

  transition .5s ease-in // on `.c-story-preview__content` hover/focus

// Color gradient modifiers
.c-strory-preview__gradient--violet
  background-image linear-gradient(0deg, rgba($raspberry, .5) 0, rgba($raspberry, .0) 80%)

.c-strory-preview__gradient--indigo
  background-image linear-gradient(0deg, rgba(saturation($indigo, 120%), .5) 0, rgba($indigo, .0) 80%)

.c-strory-preview__gradient--blue
  background-image linear-gradient(0deg, rgba($sky, .5) 0, rgba($sky, .0) 80%)

.c-strory-preview__gradient--green
  background-image linear-gradient(0deg, rgba(saturation($mint, 120%), .5) 0, rgba($mint, .0) 80%)

.c-strory-preview__gradient--yellow
  background-image linear-gradient(0deg, rgba(saturation($yolk, 150%), .5) 0, rgba($yolk, .0) 80%)

.c-strory-preview__gradient--orange
  background-image linear-gradient(0deg, rgba($orange, .5) 0, rgba($orange, .0) 80%)

.c-strory-preview__gradient--red
  background-image linear-gradient(0deg, rgba($rose, .5) 0, rgba($rose, .0) 80%)
