/**
 * Story preview gradient (color gradient layer)
 */
.c-story-preview__gradient
  position absolute
  size 100%
  padding-top 20% // intitial state, changed on focus

  // Gradient container
  .has-gradient
    size 100%
    opacity .8 // initial state, changes on focus

  // Preview gradient
  .is-violet
    background-image linear-gradient(0deg, rgba($raspberry, .8) 0, rgba($raspberry, .0) 80%)

  .is-indigo
    background-image linear-gradient(0deg, rgba(saturation($indigo, 120%), .5) 0, rgba($indigo, .0) 80%)

  .is-blue
    background-image linear-gradient(0deg, rgba($sky, .8) 0, rgba($sky, .0) 80%)

  .is-green
    background-image linear-gradient(0deg, rgba(saturation($mint, 120%), .8) 0, rgba($mint, .0) 80%)

  .is-yellow
    background-image linear-gradient(0deg, rgba(saturation($yolk, 150%), .8) 0, rgba($yolk, .0) 80%)

  .is-orange
    background-image linear-gradient(0deg, rgba($orange, .8) 0, rgba($orange, .0) 80%)

  .is-red
    background-image linear-gradient(0deg, rgba($rose, .8) 0, rgba($rose, .0) 80%)
