/**
 * Story preview hero (and city)
 */
.c-story-preview__hero
  absolute false false rem(35px)
  font-family $base-heading-font
  font-size $nano
  font-style normal
  font-weight $thin
  letter-spacing rem(1px)
  text-transform uppercase
  color $white
  strong
  em
  b
    font-weight $regular
  +media-query(mediatype, bp-mobile--landscape)
    font-size $femto
    letter-spacing rem(1.2px)
    bottom rem(45px)
  +media-query(mediatype, bp-tablet--landscape)
    font-size $femto
    bottom rem(25px)
  +media-query(mediatype, bp-desktop)
    font-size $pico
  +media-query(mediatype, bp-desktop--medium)
    letter-spacing rem(2px)
  +media-query(mediatype, bp-desktop--large)
    font-size $nano
    bottom rem(30px)
