/**
 * Story preview
 *
 *    Wraps:
 *      - `c-strory-preview__image`
 *      -  c-strory-preview__gradient`
 *      - `c-story-preview__content`
 *
 *    Note on colors:
 *
 *    Each story has a color variable assigned to it. This variable's value is passed to
 *    the story preview item elements as CSS class modifier, like `--{{ story.preview_image_color }}`.
 *
 */
.c-story-preview
  @extend .o-btn

  position relative
  overflow hidden

  // Preview Aspect ratios
  +below('m', orientation: landscape)
    padding-bottom 65%

  +below('m', orientation: portrait)
    padding-bottom 80%

  // Only square ratio starting from 'm' size
  +between('m', 'l')
    span(1/3)
    padding-bottom 33.333333333333336%

  +between('l', 'xl')
    span(1/4)
    padding-bottom 25%

  +between('xl', 'hd')
    span(1/5)
    padding-bottom 20%

  +between('hd', 'uhd')
    span(1/6)
    padding-bottom 16.666666666666668%

  +above('uhd')
    span(1/6)
    padding-bottom 16.5%

  // Conditional classes
  .in-focus

    .c-story-preview__image
      // Blur image
      .has-image
        -webkit-filter blur(5px)
        -moz-filter blur(2px)
        -o-filter blur(2px)
        -ms-filter blur(2px)
        filter blur(2px)

    .c-story-preview__gradient
      padding-top 0
      // Decrease gradient opacity
      .has-gradient
        opacity 1

    .c-story-preview__title
      // Animate title background by chnaging bg position
      .has-background
        background-position -99%

// Related story modifier
.c-story-preview--related
  @extend .c-story-preview

  +below('m')
    stack()
    padding-bottom 65% // aspect ratio
    margin-bottom rem(20px) // between stacked items

  +between('m', 'l')
    column(1/3, gutter: 2, cycle: 3)
    padding-bottom 35%

    margin-top 0
    margin-bottom 0

    &:nth-child(n+4) // add top margin to every element in the new row
      margin-top rem(15px)

  +between('l', 'xl')
    column(1/4, gutter: 2, uncycle: 3, cycle: 4)
    padding-bottom 25% // square ratio from here on

    &:nth-child(n+4) // reset margin set by rule above
      margin-top 0

    &:nth-child(n+5)
      margin-top rem(15px)

  +above('xl')
    column(1/5, gutter: 2, uncycle: 4, cycle: 5)
    padding-bottom 20%

    &:nth-child(n+5)
      margin-top 0

    &:nth-child(n+6)
      margin-top rem(22px)

  // Conditional classes
  .in-focus

    .c-story-preview__title--related
      // Animate title background by chnaging bg position
      .has-background
        background-position -99%
