/**
 * Story preview
 *
 *    Wraps:
 *      - `c-strory-preview__gradient, c-strory-preview__gradient--{color-modifier}`
 *      - `c-story-preview__content`
 *
 *    Focus/hover:
 *      - Triggers title animation
 *      - Changes color gradient opacity
 *
 *    Color modifiers:
 *
 *    Each story has a color variable assigned to it. This variable's value is passed to
 *    the story preview item elements as CSS class modifier, like `--{{ story.preview_image_color }}`.
 *
 *    To style story preview based on assigned color we use
 *    predifined color modifiers for the following elements:
 *
 *    .c-story-preview--{color}          - color modifiers for the background image fallback
 *    .c-strory-preview__gradient--color - color modifiers for gradient overlaying the background image
 *    .c-story-preview__title--color     - color modifiers for title highlight animation on hover
 *
 */
.c-story-preview
  position relative

  transition .5s ease-in-out

  // Animation effects for child elements
  &:hover
  &:focus

    // trigger title background animation
    .c-story-preview__title
      background-position -99%

    // decrease gradient intensitiy
    .c-strory-preview__gradient
      opacity .45

  // Aspect ratios
  +between('xs', 'm', orientation: landscape)
    padding-bottom 65%

  +between('xs', 'm', orientation: portrait)
    padding-bottom 80%

  // Only square ratio starting from 'm' size
  +between('m', 'l')
    span(1/3)
    padding-bottom 33.333333333333336%

  +between('l', 'xl')
    span(1/4)
    padding-bottom 25%

  +between('xl', 'hd')
    span(1/5)
    padding-bottom 20%

  +between('hd', 'uhd')
    span(1/6)
    padding-bottom 16.666666666666668%

  +above('uhd')
    span(1/6)
    padding-bottom 16.5%

// Fallback color modifiers
.c-story-preview--red
  background-color $rose

.c-story-preview--orange
  background-color $orange

.c-story-preview--yellow
  background-color $yolk

.c-story-preview--green
  background-color $mint

.c-story-preview--blue
  background-color $sky

.c-story-preview--indigo
  background-color $indigo

.c-story-preview--violet
  background-color $violet
