/**
 * Story preview title
 *
 *    Animation effect:
 *    The story preview title has a special highlight animation effect
 *    on .c-story-preview__content element hover.
 *
 *    The basic higlight animation effect explained here: http://wesbos.com/css-highlight-animation/
 */
.c-story-preview__title
  @extend .o-heading  
  display inline
  font-size size--kilo
  font-weight weight--thin
  line-height 1.15
  text-transform none
  color color--white
  hyphens auto
  transition: .5s ease-in-out /* animation defaults */
  background-size 201% /* initial postion before animation starts */
  background-position 0 0
  strong
  em
  b
    font-weight weight--semibold
  +media-query(mediatype, bp-mobile--landscape)
    font-size size--mega
  +media-query(mediatype, bp-tablet)
    font-size size--centi
  +media-query(mediatype, bp-desktop)
    font-size size--deca
  +media-query(mediatype, bp-desktop--large)
    font-size size--mega

/**
 * Color modifiers
 */
.c-story-preview__title--red
  background-image linear-gradient(90deg, rgba(233, 66, 78, 0) 50%, rgba(233, 66, 78, .65) 50%)

.c-story-preview__title--orange
  background-image linear-gradient(90deg, rgba(255, 115, 20, 0) 50%, rgba(254, 137, 41, .65) 50%)

.c-story-preview__title--yellow
  background-image linear-gradient(90deg, rgba(250, 207, 26, 0) 50%, rgba(250, 207, 26, .65) 50%)

.c-story-preview__title--green
  background-image linear-gradient(90deg, rgba(66, 255, 221, 0) 50%, rgba(66, 255, 221, .65) 50%)

.c-story-preview__title--blue
  background-image linear-gradient(90deg, rgba(0, 201, 255, 0) 50%, rgba(0, 201, 255, .65) 50%)

.c-story-preview__title--indigo
  background-image linear-gradient(90deg, rgba(47, 65, 224, 0) 50%, rgba(47, 65, 224, .65) 50%)

.c-story-preview__title--violet
  background-image linear-gradient(90deg, rgba(158, 0, 255, 0) 50%, rgba(120, 0, 255, .65) 50%)
