article
  div.c-event-preview__gradient--related
  div.c-event-preview__content--related
    div.c-event-preview__year--related {{ item.year }}
    h3.c-event-preview__title--related {{ item.title }}
