article.u-image-cover.u-image-cover--square.c-event-preview
  div.c-event-preview__strip
  div.is-disabled
  div.c-event-preview__gradient
  div.is-in-focus
  div.c-event-preview__content
    div.c-event-preview__year {{ year }}
    h2.c-event-preview__title {{ title }}
