<div class="c-theater-view js-overlay">

  <!-- post navigation -->
  <div ng-click="prev()" class="c-post-navigation--left js-post-navigation">
    <div class="c-icon-arrow-left--circle is-previous">
      <span class="u-visually-hidden">{{ siteConfig.previous_button_label }}</span>
    </div>
  </div>

  <div ng-click="next()" class="c-post-navigation--right">
    <div class="c-icon-arrow-right--circle is-next">
      <span class="u-visually-hidden">{{ siteConfig.next_button_label }}</span>
    </div>
  </div>

  <!-- post content -->
  <div ng-cloak ng-show="event.main_content" class="c-event c-theater-view__content js-content">

    <!-- event content -->
    <div class="c-event__content">

      <!-- close button -->
      <div class="c-icon-close--circle c-post-navigation__close" ng-click="closeLightbox()">
        <span class="u-visually-hidden">{{ siteConfig.close_button_label }}</span>
      </div>

      <!-- event header -->
      <header class="c-event__head">

        <!-- event date -->
        <div ng-show="event.start_date" class="c-event__date">
          <dateformat thedate="{{event.start_date}}" lang="{{siteConfig.site_language}}" unknown="{{event.exact_dates_uknown}}"></dateformat>
          <span ng-show="event.end_date"> &mdash; </span>
          <dateformat ng-show="event.end_date" thedate="{{event.end_date}}" lang="{{siteConfig.site_language}}" unknown="{{event.exact_dates_uknown}}"></dateformat>
        </div>

        <h1 class="c-event__title">{{ event.title }}</h1>

      </header>

      <!-- main content (article) -->
      <main class="c-event__main s-headings s-paragraphs s-links s-text-lists">
        <div ng-bind-html="event.lead_text" class="c-lead"></div>
        <div ng-bind-html="event.main_content"></div>
      </main>

      <!-- sidebar -->
      <aside class="c-event__sidebar">

        <div ng-repeat="item in event.sidebar" ng-switch="item.type">

          <!-- sidebar video -->
          <div ng-switch-when="video" class="c-media-block">
            <div class="u-video-container">
              <ngvideo>
                <iframe ng-src="{{ trustSrc(item.videoUrl) }}" frameborder="0" allowfullscreen></iframe>
              </ngvideo>
            </div>
            <a ng-if="item.credit_link || item.credit" class="c-media-block__credits" href="{{ item.credit_link }}">{{ item.credit }}</a>
            <h4 class="c-media-block__title">{{ item.title }}</h4>
            <p class="c-media-block__caption">{{ item.caption }}</p>
          </div>

          <!-- sidebar sidenote -->
          <div ng-switch-when="sidenote" class="c-sidenote">
            <h4 ng-bind-html="item.title" class="c-sidenote__title--event">{{ item.title }}</h4>
            <p class="c-sidenote__caption">{{ item.caption }}</p>
          </div>

          <!-- sidebar quote -->
          <blockquote ng-switch-when="quote" class="c-quote--event">
            <div class="c-icon-quote c-quote__icon--event"></div>
            <div class="c-quote__content">
              <h4 ng-bind-html="item.text" class="c-quote__text--event">
                {{ item.text }}
              </h4>
              <div class="c-quote__meta">
                <span>
                  —
                </span>
                <span class="c-quote__author">
                  {{ item.author }}<span ng-if="item.source">, </span>
                </span>
                <span ng-if="item.source" class="c-quote__source">
                  {{ item.source }}
                </span>
              </div>
            </div>
          </blockquote>

          <!-- sidebar image -->
          <div ng-switch-when="image" class="c-media-block">
            <div class="u-image-cover u-image-cover--8x2 c-media-block__placeholder" style="background-image: url({{item.url}})"></div>
            <a ng-if="item.credit_link || item.credit" class="c-media-block__credits" href="{{ item.credit_link }}">{{ item.credit }}</a>
            <h4 ng-bind-html="item.title" class="c-media-block__title">{{ item.title }}</h4>
            <p class="c-media-block__caption">{{ item.caption }}</p>
          </div>

        </div>

        <!-- categories list (timelines) -->
        <div class="c-event__categories">

          <ul class="c-categories__list">

            <!-- timelines -->
            <li ng-repeat="timeline in event.timelines"
              class="c-categories__item t-mint">
              {{ timeline.term_name }}
            </li>

          </ul>

          <ul class="c-categories__list">

            <!-- topics -->
            <li ng-repeat="topic in event.topics"
              class="c-categories__item t-indigo"
              ng-bind-html="topic.term_name">
            </li>

            <!-- groups -->
            <li ng-repeat="group in event.groups"
              class="c-categories__item t-yolk"
              style="background-color: {{ group.term_color }}">
              {{ group.term_name }}
            </li>

          </ul>

        </div>

        <!-- share event -->
        <ul class="c-post-sharing__list">
          <h4 class="c-post-sharing__label">{{ siteConfig.share_event_label }}:</h4>
          <li class="c-post-sharing__item">
            <a class="c-icon-facebook--circle c-post-sharing__link--event" href="#"
              socialshare
              socialshare-provider="facebook"
              socialshare-url="{{ shareUrl }}"
              socialshare-text="{{ event.title }}"
              socialshare-via="{{ facebook_app_id }}"
              socialshare-ref="{{ facebook_user_name }}">
              <span class="u-visually-hidden">{{ siteConfig.share_label}} Facebook</span>
            </a>
          </li>
          <li class="c-post-sharing__item">
            <a class="c-icon-twitter--circle c-post-sharing__link--event" href="#"
              socialshare
              socialshare-provider="twitter"
              socialshare-text="{{ event.title }}"
              socialshare-hashtags="{{ siteConfig.social_hashtags }}"
              socialshare-url="{{ shareUrl }}">
              <span class="u-visually-hidden">{{ siteConfig.share_label}} Twitter</span>
            </a>
          </li>
          <li class="c-post-sharing__item">
            <a class="c-icon-googleplus--circle c-post-sharing__link--event" href="#"
              socialshare
              socialshare-provider="google"
              socialshare-url="{{ shareUrl }}">
              <span class="u-visually-hidden">{{ siteConfig.share_label}} Google Plus</span>
            </a>
          </li>
        </ul>

      </aside>
      <!-- post footnotes -->
      <footer class="c-event__footer">

        <div class="c-footnotes">

          <!-- post sources -->
          <div ng-if="event.sources" class="c-footnotes__column">

            <h4 class="c-section-title">{{ siteConfig.event_sources_title }}</h4>

            <!-- list of sources -->
            <ol class="c-footnotes__list">

              <li ng-repeat="item in event.sources" ng-switch="item.source_type" class="c-footnotes__item">

                <!-- source: book -->
                <span ng-switch-when="book">
                  <span ng-if="item.authors && item.author!='0'">
                    {{ item.authors }}.
                  </span>
                  <span ng-if="item.chapter">
                    "{{ item.chapter }}".
                  </span>
                  <span ng-if="item.title && item.url">
                    <em><a href="{{ item.url }}">{{ item.title }}</a></em>.
                  </span>
                  <span ng-if="item.title && !item.url">
                    <em>{{ item.title }}</em>.
                  </span>
                  <span ng-if="item.editor && item.editor!='0'">
                    {{ siteConfig.event_source_editors }} {{ item.editors }}.
                  </span>
                  <span ng-if="item.translator && item.translator!='0'">
                    {{ siteConfig.event_source_translators }} {{ item.translators }}.
                  </span>
                  <span ng-if="item.edition">
                    {{ siteConfig.event_source_edition}} {{ item.edition }}.
                  </span>
                  <span ng-if="item.volume">
                    {{ siteConfig.event_source_volume }} {{ item.volume }}.
                  </span>
                  <span ng-if="item.location && !item.publisher">
                    {{ item.location }}.
                  </span>
                  <span ng-if="item.location && item.publisher">
                    {{ item.location }}:
                  </span>
                  <span ng-if="item.publisher && !item.date_published && !item.year_published">
                    {{ item.publisher }}.
                  </span>
                  <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                    {{ item.publisher }},
                  </span>
                  <span ng-if="item.date_published">
                    {{ item.date_published }}.
                  </span>
                  <span ng-if="item.year_published && !item.date_published ">
                    {{ item.year_published }}.
                  </span>
                  <span ng-if="item.pages">
                    {{ siteConfig.event_source_pages }} {{ item.pages }}.
                  </span>
                  <span ng-if="item.isbn">
                    {{ item.isbn }}.
                  </span>
                </span>

                <!-- source: article -->
                <span ng-switch-when="article">
                  <span ng-if="item.authors && item.author!='0'">
                    {{ item.authors }}.
                  </span>
                  <span ng-if="item.title && item.url">
                    "<a href="{{ item.url }}" class="o-text-link">{{ item.title }}</a>".
                  </span>
                  <span ng-if="item.title && !item.url">
                    "{{ item.title }}".
                  </span>
                  <span ng-if="item.periodical_title">
                    <em>{{ item.periodical_title }}</em>.
                  </span>
                  <span ng-if="item.editors && item.editor!='0'">
                    {{ siteConfig.event_source_editors }} {{ item.editors }}.
                  </span>
                  <span ng-if="item.translators && item.translator!='0'">
                    {{ siteConfig.event_source_translators }} {{ item.translators }}.
                  </span>
                  <span ng-if="item.edition">
                    {{ siteConfig.event_source_edition}} {{ item.edition }}.
                  </span>
                  <span ng-if="item.location && !item.publisher">
                    {{ item.location }}.
                  </span>
                  <span ng-if="item.location && item.publisher">
                    {{ item.location }}:
                  </span>
                  <span ng-if="item.publisher && !item.date_published && !item.year_published">
                    {{ item.publisher }}.
                  </span>
                  <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                    {{ item.publisher }},
                  </span>
                  <span ng-if="item.date_published">
                    {{ item.date_published }}.
                  </span>
                  <span ng-if="item.year_published && !item.date_published ">
                    {{ item.year_published }}.
                  </span>
                  <span ng-if="item.pages">
                    {{ siteConfig.event_source_pages }} {{ item.pages }}.
                  </span>
                  <span ng-if="item.isbn">
                    {{ item.isbn }}.
                  </span>
                  <span ng-if="item.date_accessed">
                    {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
                  </span>
                </span>

                <!-- source: website -->
                <span ng-switch-when="website">
                  <span ng-if="item.title">
                    "<a ng-if="item.url" href="{{ item.url }}" class="o-text-link">{{ item.title }}</a>".
                  </span>
                  <span ng-if="item.website_name">
                    <em>{{ item.website_name }}</em>.
                  </span>
                  <span ng-if="item.date_accessed">
                    {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
                  </span>
                </span>

                <!-- source: misc -->
                <span ng-switch-when="misc">
                  <span ng-if="item.authors && item.author=!'0'">
                    {{ item.authors }}.
                  </span>
                  <span ng-if="item.title && item.url">
                    "<a href="{{ item.url }}" class="o-text-link">{{ item.title }}</a>".
                  </span>
                  <span ng-if="item.title && !item.url">
                    "{{ item.title }}".
                  </span>
                  <span ng-if="item.periodical_title">
                    <em>{{ item.periodical_title }}</em>.
                  </span>
                  <span ng-if="item.editors && item.editor!='0'">
                    {{ siteConfig.event_source_editors }} {{ item.editors }}.
                  </span>
                  <span ng-if="item.translators && item.translator!='0'">
                    {{ siteConfig.event_source_translators }} {{ item.translators }}.
                  </span>
                  <span ng-if="item.edition">
                    {{ siteConfig.event_source_edition}} {{ item.edition }}.
                  </span>
                  <span ng-if="item.volume">
                    {{ siteConfig.event_source_volume}} {{ item.volume }}.
                  </span>
                  <span ng-if="item.location && !item.publisher">
                    {{ item.location }}.
                  </span>
                  <span ng-if="item.location && item.publisher">
                    {{ item.location }}:
                  </span>
                  <span ng-if="item.publisher && !item.date_published && !item.year_published">
                    {{ item.publisher }}.
                  </span>
                  <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                    {{ item.publisher }},
                  </span>
                  <span ng-if="item.date_published">
                    {{ item.date_published }}.
                  </span>
                  <span ng-if="item.year_published && !item.date_published ">
                    {{ item.year_published }}.
                  </span>
                  <span ng-if="item.pages">
                    {{ siteConfig.event_source_pages }} {{ item.pages }}.
                  </span>
                  <span ng-if="item.isbn">
                    {{ item.isbn }}.
                  </span>
                  <span ng-if="item.date_accessed">
                    {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
                  </span>
                </span>

              </li>
            </ol>

          </div>

          <!-- post resources -->
          <div ng-if="event.resources" class="c-footnotes__column">

            <h4 class="o-heading c-section-title">{{ siteConfig.event_resources_title }}</h4>

            <!-- list of resources -->
            <ol class="c-footnotes__list">

              <li ng-repeat="item in event.resources" ng-switch="item.resource_type" class=" c-footnotes__item">

                <!-- resource: book -->
                <span ng-switch-when="book">
                  <span ng-if="item.authors && item.author=!'0'">
                    {{ item.authors }}.
                  </span>
                  <span ng-if="item.chapter">
                    "{{ item.chapter }}".
                  </span>
                  <span ng-if="item.title && item.url">
                    <em><a href="{{ item.url }}" class="o-text-link">{{ item.title }}</a></em>.
                  </span>
                  <span ng-if="item.title && !item.url">
                    <em>{{ item.title }}</em>.
                  </span>
                  <span ng-if="item.editors && item.editor!='0'">
                    {{ siteConfig.event_source_editors }} {{ item.editors }}.
                  </span>
                  <span ng-if="item.translators && item.translator!='0'">
                    {{ siteConfig.event_source_translators }} {{ item.translators }}.
                  </span>
                  <span ng-if="item.edition">
                    {{ siteConfig.event_source_edition}} {{ item.edition }}.
                  </span>
                  <span ng-if="item.volume">
                    {{ siteConfig.event_source_volume }} {{ item.volume }}.
                  </span>
                  <span ng-if="item.location && !item.publisher">
                    {{ item.location }}.
                  </span>
                  <span ng-if="item.location && item.publisher">
                    {{ item.location }}:
                  </span>
                  <span ng-if="item.publisher && !item.date_published && !item.year_published">
                    {{ item.publisher }}.
                  </span>
                  <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                    {{ item.publisher }},
                  </span>
                  <span ng-if="item.date_published">
                    {{ item.date_published }}.
                  </span>
                  <span ng-if="item.year_published && !item.date_published ">
                    {{ item.year_published }}.
                  </span>
                  <span ng-if="item.pages">
                    {{ siteConfig.event_source_pages }} {{ item.pages }}.
                  </span>
                  <span ng-if="item.isbn">
                    {{ item.isbn }}.
                  </span>
                </span>

                <!-- resource: article -->
                <span ng-switch-when="article">
                  <span ng-if="item.authors && item.author!='0'">
                    {{ item.authors }}.
                  </span>
                  <span ng-if="item.title && item.url">
                    "<a href="{{ item.url }}" class="o-text-link">{{ item.title }}</a>".
                  </span>
                  <span ng-if="item.title && !item.url">
                    "{{ item.title }}".
                  </span>
                  <span ng-if="item.periodical_title">
                    <em>{{ item.periodical_title }}</em>.
                  </span>
                  <span ng-if="item.editors && item.editor!='0'">
                    {{ siteConfig.event_source_editors }} {{ item.editors }}.
                  </span>
                  <span ng-if="item.translators && item.translator!='0'">
                    {{ siteConfig.event_source_translators }} {{ item.translators }}.
                  </span>
                  <span ng-if="item.edition">
                    {{ siteConfig.event_source_edition}} {{ item.edition }}.
                  </span>
                  <span ng-if="item.location && !item.publisher">
                    {{ item.location }}.
                  </span>
                  <span ng-if="item.location && item.publisher">
                    {{ item.location }}:
                  </span>
                  <span ng-if="item.publisher && !item.date_published && !item.year_published">
                    {{ item.publisher }}.
                  </span>
                  <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                    {{ item.publisher }},
                  </span>
                  <span ng-if="item.date_published">
                    {{ item.date_published }}.
                  </span>
                  <span ng-if="item.year_published && !item.date_published ">
                    {{ item.year_published }}.
                  </span>
                  <span ng-if="item.pages">
                    {{ siteConfig.event_source_pages }} {{ item.pages }}.
                  </span>
                  <span ng-if="item.isbn">
                    {{ item.isbn }}.
                  </span>
                  <span ng-if="item.date_accessed">
                    {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
                  </span>
                </span>

                <!-- resource: webstie -->
                <span ng-switch-when="website">
                  <span ng-if="item.title">
                    "<a ng-if="item.url" href="{{ item.url }}" class="o-text-link">{{ item.title }}</a>".
                  </span>
                  <span ng-if="item.website_name">
                    <em>{{ item.website_name }}</em>.
                  </span>
                  <span ng-if="item.date_accessed">
                    {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
                  </span>
                </span>

                <!-- resource: misc -->
                <span ng-switch-when="misc">
                  <span ng-if="item.authors && item.author!='0'">
                    {{ item.authors }}.
                  </span>
                  <span ng-if="item.title && item.url">
                    "<a href="{{ item.url }}" class="o-text-link">{{ item.title }}</a>".
                  </span>
                  <span ng-if="item.title && !item.url">
                    "{{ item.title }}".
                  </span>
                  <span ng-if="item.periodical_title">
                    <em>{{ item.periodical_title }}</em>.
                  </span>
                  <span ng-if="item.editors && item.editor!='0'">
                    {{ siteConfig.event_source_editors }} {{ item.editors }}.
                  </span>
                  <span ng-if="item.translators && item.translator!='0'">
                    {{ siteConfig.event_source_translators }} {{ item.translators }}.
                  </span>
                  <span ng-if="item.edition">
                    {{ siteConfig.event_source_edition}} {{ item.edition }}.
                  </span>
                  <span ng-if="item.volume">
                    {{ siteConfig.event_source_volume}} {{ item.volume }}.
                  </span>
                  <span ng-if="item.location && !item.publisher">
                    {{ item.location }}.
                  </span>
                  <span ng-if="item.location && item.publisher">
                    {{ item.location }}:
                  </span>
                  <span ng-if="item.publisher && !item.date_published && !item.year_published">
                    {{ item.publisher }}.
                  </span>
                  <span ng-if="item.publisher && item.date_published || item.publisher && item.year_published">
                    {{ item.publisher }},
                  </span>
                  <span ng-if="item.date_published">
                    {{ item.date_published }}.
                  </span>
                  <span ng-if="item.year_published && !item.date_published ">
                    {{ item.year_published }}.
                  </span>
                  <span ng-if="item.pages">
                    {{ siteConfig.event_source_pages }} {{ item.pages }}.
                  </span>
                  <span ng-if="item.isbn">
                    {{ item.isbn }}.
                  </span>
                  <span ng-if="item.date_accessed">
                    {{ siteConfig.event_source_date_accessed }}: {{ item.date_accessed }}.
                  </span>
                </span>

              </li>
            </ol>

          </div>

        </div><!-- .c-footnotes -->

      <!-- <h2>Related Stories</h2>
      <ul>
        <li ng-click="openStory(item.slug)" ng-repeat="item in event.related_stories">
          <img ng-if="item.preview_image" ng-src="{{ item.previewImgPath }}" alt="{{ item.post_title}} " />
        </li>
      </ul>

      <h2>Related Events</h2>
      <ul>
        <li ng-click="openEvent(item.slug)" ng-repeat="item in event.related_events">
          <img ng-if="item.preview_image" ng-src="{{ item.previewImgPath }}" alt="{{ item.post_title}} " />
        </li>
      </ul> -->

    </footer>

    </div>
</div>
