/*
 * Style headings in submitted content (i.e. via WordPress editor)
*/
.s-headings
  h2
  h3
  h4
  h5
  h6
    @extend .o-heading
    margin-top rem(30px)
    margin-bottom rem(10px)

.s-headings
  h2
    font-size $deci
    font-weight $regular
    line-height 1.3
    strong, em, b
      font-weight $semibold
    +media-query( mediatype, bp-tablet )
      margin-top rem(35px)
      margin-bottom rem(20px)
      font-size $centi
    +media-query( mediatype, bp-desktop )
      margin-top rem(40px)
      margin-bottom rem(15px)
      font-size size--deca
    +media-query( mediatype, bp-desktop--medium )
      font-size $kilo

  h2:first-of-type
  h3:first-of-type
    margin-top 0

  h3
    font-size $centi
    font-weight $light
    line-height 1.2
    +media-query( mediatype, bp-tablet )
      margin-top rem(30px)
      margin-bottom rem(15px)
      font-size $micro
    +media-query( mediatype, bp-desktop )
      font-size $milli
      font-weight $light
    +media-query( mediatype, bp-desktop--medium )
      margin-bottom rem(20px)
      font-size $deci
  h4
    font-size $micro
    font-weight $light
    line-height 1.2
    +media-query( mediatype, bp-tablet )
      margin-top rem(30px)
      margin-bottom rem(10px)
      font-size $nano
    +media-query( mediatype, bp-desktop )
      font-size $micro
    +media-query( mediatype, bp-desktop--medium )
      margin-bottom rem(15px)
      font-size $milli
  h5
    margin-bottom rem(8px)
    font-size $nano
    font-weight $light
    line-height 1.2
    +media-query( mediatype, bp-tablet )
      margin-top rem(30px)
      margin-bottom rem(10px)
      font-size $pico
    +media-query( mediatype, bp-desktop )
      font-size $nano
    +media-query( mediatype, bp-desktop--medium )
      margin-bottom rem(15px)
      font-size $micro
  h6
    margin-bottom rem(8px)
    font-size $nano
    font-weight $semibold
    text-transform none
    letter-spacing normal
    line-height 1.2
    +media-query( mediatype, bp-tablet )
      margin-top rem(30px)
      margin-bottom rem(15px)
      font-size $pico
    +media-query( mediatype, bp-desktop )
      font-size $nano
    +media-query( mediatype, bp-desktop--medium )
      margin-bottom rem(12px)
      font-size $micro
