/*
 * Style paragraphs in submitted content (i.e. via WordPress editor)
*/
.s-paragraphs

  p
    @extend .o-paragraph

    +below('l')
      margin-bottom rem(20px)

    +above('l')
      margin-bottom rem(30px)

    &:last-of-type
      margin-bottom 0
