/**
 * Blueberry theme
 *
 *    --foucs modifier changes background color on element hover/focus
*/
.t-blueberry
  color $white
  background-color $blueberry

.t-blueberry--focus
  @extend .t-blueberry

  &:hover
  &:focus
    background-color $blueberry - 20%
