/**
 * Carbon-black theme
 *
 *    --foucs modifier changes background color on element hover/focus
*/
.t-carbon-black
  color $white
  background-color $carbon-black

.t-carbon-black--focus
  @extend .t-carbon-black
  variations = monochrome($carbon-black)
  &:hover
  &:focus
    background-color variations[1]
