/*
 * Dark-gray theme
 *
 *    --foucs modifier changes background color on element hover/focus
*/
.t-dark-gray
  color $white
  background-color $gray--dark

.t-dark-gray--focus
  @extend .t-dark-gray
  variations = monochrome($gray--dark)
  &:hover
  &:focus
    background-color variations[1]
