/**
 * Indigo theme
 *
 *    --foucs modifier changes background color on element hover/focus
*/
.t-indigo
  color $white
  background-color $indigo

.t-indigo--focus
  @extend .t-indigo

  &:hover
  &:focus
    background-color $indigo - 10%
