/**
 * Lemon theme
 *
 *    --foucs modifier changes background color on element hover/focus
*/
.t-lemon
  color $white
  background-color $lemon

.t-lemon--focus
  @extend .t-lemon
  variations = monochrome($lemon)
  &:hover
  &:focus
    background-color variations[1]
