/*
 * Lightgray theme
 *
 *    --foucs modifier changes background color on element hover/focus
*/
.t-lightgray
  color $gray--medium
  background-color $gray--light

.t-lightgray--focus
  @extend .t-lightgray
  variations = monochrome($gray--light)
  &:hover
  &:focus
    background-color variations[1]
