/**
 * Mint theme
 *
 *    --foucs modifier changes background color on element hover/focus
*/
.t-mint
  color $white
  background-color $mint

.t-mint--focus
  @extend .t-mint

  &:hover
  &:focus
    background-color $mint - 10%
