/**
 * Mint theme
 *
 *    --foucs modifier changes background color on element hover/focus
*/
.t-mint
  color color--white
  background-color color--mint

.t-mint--focus
  @extend .t-mint
  variations = monochrome(color--mint)
  &:hover
  &:focus
    background-color variations[1]
