/**
 * White theme
 *
 *    --foucs modifier changes background color on element hover/focus
*/
.t-white
  color $carbon-black
  background-color $white

.t-white--focus
  @extend .t-white
  variations = monochrome($white)
  &:hover
  &:focus
    background-color variations[1]
