/**
 * Yolk theme
 *
 *    --foucs modifier changes background color on element hover/focus
*/
.t-yolk
  color $white
  background-color $yolk

.t-yolk--focus
  @extend .t-yolk
  variations = monochrome($yolk)
  &:hover
  &:focus
    background-color variations[1]
