/**
 * Quote source
 */
.c-quote__source
  margin-top rem(10px) // between source and author name

  font-size $femto
  line-height 1.2

  +above('m')
    display block // takes whole block
    padding-left rem(21px)
    text-indent 0
