div.c-theater-view--workshop.js-overlay
  
  //- Theater view content
  div(ng-cloak ng-show="workshop.main_text").js-workhop.c-workshop.c-theater-view__content
    include ../../../../partials/ng/close-button.pug
    include ./includes/content.pug
    include ./includes/footer.pug
