/**
 *  Story theater view mode backdrop
 *
 */

// Background transition aniamtion
.c-story__theater-backdrop
  transition background-color 1s ease-in-out

// Background color modifiers
.c-story__theater-backdrop--red
  @extend .c-story__theater-backdrop
  background-color rgba(246, 49, 43, .75)

.c-story__theater-backdrop--orange
  @extend .c-story__theater-backdrop
  background-color rgba(224, 118, 20, .85)

.c-story__theater-backdrop--yellow
  @extend .c-story__theater-backdrop
  background-color rgba(color--yolk, .85)

.c-story__theater-backdrop--green
  @extend .c-story__theater-backdrop
  background-color rgba(18, 238, 218, .85)

.c-story__theater-backdrop--blue
  @extend .c-story__theater-backdrop
  background-color rgba(0, 201, 255, .75)

.c-story__theater-backdrop--indigo
  @extend .c-story__theater-backdrop
  background-color rgba(47, 65, 224, .85)

.c-story__theater-backdrop--violet
  @extend .c-story__theater-backdrop
  background-color rgba(232, 22, 198, .75)
