/**
 *  Lead object
 *
 *    Use to style an opening paragraph of a post, or page.
 *    link: https://en.wikipedia.org/wiki/Lead_paragraph
 */
.c-lead
  @extend .o-heading

  font-weight $thin
  line-height 1.3

  strong
  em
  b
    font-weight $regular

  +below('m')
    font-size $micro
    margin-bottom rem(20px)

  +between('m', 'l')
    font-size $centi
    margin-bottom rem(25px)

  +between('l', 'xl')
    font-size $deca

  +between('xl', 'hd')
    font-size rem(33px)
    margin-bottom rem(30px)

  +above('hd')
    font-size $mega


// Size modifier
.c-lead--small
  @extend .c-lead

  font-weight $light

  strong
  em
  b
    font-weight $medium

  +below('m')
    font-size $micro

  +between('m', 'xl')
    font-size $centi
    line-height 1.4

  +above('xl')
    font-size $deca
    line-height 1.45
