//- Post type query
:php
  $the_query = new WP_Query([
  	'post_type'        => 'event',
  	'posts_per_page'   => -1,
  	'meta_key'         => 'start_date',
  	'orderby'          => 'meta_value_num',
  	'order'            => 'DESC'
  ]);
  
- if($the_query->have_posts()) :
  - while($the_query->have_posts()) : $the_query->the_post()

    //- Get Event preview template
    - get_template_part('content/post-types/event/crawler/preview')

    - wp_reset_postdata()
  - endwhile
- endif
