div.c-workshop__details
  div.is-detail
    strong {{ siteConfig.workshop_target_group_label }}: 
    span {{ workshop.target_group }}
  div.is-detail
    strong {{ siteConfig.workshop_group_size_label }}: 
    span {{ workshop.group_size }}    
  div.is-detail
    strong {{ siteConfig.workshop_duration_label }}: 
    span {{ workshop.duration }}
  div.is-detail
    strong {{ siteConfig.workshop_language_label }}: 
    span(ng-repeat="language in workshop.language")
      | {{ language.term_name }}{{ $last ? '' : ($index==term_name.length-2) ? ', and ' : ',&nbsp;' }}
  div.is-detail
    strong {{ siteConfig.workshop_location_label }}: 
    span(ng-repeat="location in workshop.location")
      | {{ location.term_name }}{{ $last ? '' : ($index==term_name.length-2) ? ', and ' : ',&nbsp;' }}
