footer.c-workshop__footer
  div.c-workshop__content
    
    //- Related posts
    h2.c-section-title {{ siteConfig.workshop_related_workshops_label }}
    div.c-workshop__related-posts  
      article(
        ng-repeat="workshop in workshop.related_workshops"
        ng-click="openWorkshop(workshop.slug)"
        ng-mouseenter="mouseHover=true"
        ng-mouseleave="mouseHover=false"      
      ).c-workshop-preview--related
        include ../preview--related-post.jade
