div(ng-cloak ng-show="workshop.sidebar").c-workshop__sidebar
  include ./categories.jade  
  include ./details.jade
  include ./booking.jade
  
  //- Sidebar objects from the content
  div(ng-repeat="item in workshop.sidebar" ng-switch="item.type")
    include ../../../../../partials/ng/media-blocks/video.jade
    include ../../../../../partials/ng/media-blocks/image.jade
    include ./quote.jade
    include ./sidenote.jade
  
  include ./share.jade
