/**
 * Category filter list active item
 */

// Events modifier
.c-category-filter__list
  .is-active--events

    color $white
    background-color $indigo

    &:hover
    &:focus
      color $white
      background-color $indigo - 10%

// Stories modifier
.c-category-filter__list
  .is-active--stories

    color $white
    background-color $blueberry

    &:hover
    &:focus
      color $white
      background-color $blueberry - 10%
