/**
 * Hero (page hero)
 *
 *   Wraps:
 *      - `c-hero__content`
 *      - `c-hero__title`
 *
 */
.c-hero
  display block
  clearfix()

// Event modifier
.c-hero--event
  @extend .c-hero

  +below('l')
    margin-bottom rem(25px)

  +between('l', 'xl')
    margin-bottom rem(45px)

  +above('hd')
    margin-bottom rem(60px)

// Workshops page modifier
.c-hero--workshops
  @extend .c-hero

  min-height rem(600px)
  transition all .3s ease-in-out
  background-color $blueberry

  +below('m')
    padding-bottom rem(30px)

  +between('m', 'l')
    padding-bottom rem(40px)

  +between('l', 'xl')
    padding-bottom rem(60px)

  +above('hd')
    padding-bottom rem(80px)
