.c-donate-modal__tax-free,
.c-donate-modal__paypal
  margin-top rem(20px)
  p
    margin-top rem(15px)
    font-size $pico
    font-family $base-body-font
  +media-query(mediatype, bp-tablet)
    col(6)
    margin-top rem(20px)
