.c-donate-modal__tax-free,
.c-donate-modal__paypal
  margin-top rem(20px)
  p
    margin-top rem(15px)
    font-size size--pico
    font-family base--font-body
  +media-query(mediatype, bp-tablet)
    col(6)
    margin-top rem(20px)
