.c-donate__paypal-badges
  margin-top rem(30px)
  margin-bottom rem(30px)
  max-width 100%
  width 100%
  +media-query(mediatype, bp-tablet)
    margin-top rem(20px)
    margin-bottom 0
    width 75%
    height 25%
