.c-donate__paypal-icon
  display inline-block
  width 120px
  height 32px
  vertical-align middle
  +media-query(mediatype, bp-tablet)
    width 80px
    height 21px
  +media-query(mediatype, bp-desktop)
    width 100px
    height 27px
  +media-query(mediatype, bp-desktop--medium)
    width 120px
    height 32px
  +media-query(mediatype, bp-desktop--large)
    width 120px
    height 32px
