.c-donate-modal__title
  font-size $kilo
  +media-query(mediatype, bp-tablet)
    font-size $giga
  +media-query(mediatype, bp-tablet--landscape)
    font-size size--tera
  +media-query(mediatype, bp-desktop)
    font-size $peta
