.c-donate-modal__title
  font-size size--kilo
  +media-query(mediatype, bp-tablet)
    font-size size--giga
  +media-query(mediatype, bp-tablet--landscape)
    font-size size--tera
  +media-query(mediatype, bp-desktop)
    font-size size--peta
