/**
 * 404 page title
 */
.c-404__title
  font-weight $regular
  color $white

  +below('m')
    font-size $kilo

  +between('m', 'l')
    font-size $giga

  +between('l', 'hd')
    font-size $tera

  +above('hd')
    font-size $exa
