/**
 * Paragraph small (modifier)
 */
.o-paragraph--small

  +below('l')
    font-size $femto
    line-height 1.6

  +between('l', 'hd')
    font-size $pico
    line-height 1.7

  +at('hd')
    font-size $nano

  +above('hd')
    font-size $nano
