//- 404 Error page specific layout
//- No header and no footer in this layout.

doctype html

//- Note: 'gulp-jade-php' doesn't support php functions inside tag, 
//- bypassing by using an actual html tag.
<html <? language_attributes(); ?>>

include ../partials/head.jade

body.c-404.js-404
  - include App\template_unwrap()
  - wp_footer()

</html>
