//- Basic layout

doctype html

//- Note: 'gulp-jade-php' doesn't support php functions inside tag, 
//- bypassing by using an actual html tag.
<html <? language_attributes(); ?>>

include ../partials/head.jade

body
  - App\get_facebook_sdk()
  include ../partials/header.jade
  - include App\template_unwrap()
  include ../partials/footer/footer.jade
  
</html>
