/**
 * Owl Carousel outter wrapper (overwrites)
 */
.owl-wrapper-outer

  +below('xl')
    margin-bottom rem(30px) // space between carousel items and pagination

  +above('xl')
    margin-bottom rem(40px)
