/**
 * Timeline switcher icon
 */
.c-timeline-switcher__icon
  display inline-block
  margin-left rem(10px)
  vertical-align middle

  +below('l')
    font-size rem(20px)

  +between('l', 'xl')
    font-size rem(25px)

  +between('xl', 'hd')
    font-size rem(30px)
    margin-left rem(12px)

  +above('hd')
    font-size rem(32px)
    margin-left rem(14px)
