/**
 * Event categories
 *
 *    Wraps:
 *      - `c-categories__list`
*/
.c-event__categories
  clearfix()

  +below('m')
    margin-bottom rem(25px)

  +between('m', 'hd')
    margin-bottom rem(40px)

  +above('hd')
    margin-bottom rem(45px)
