/**
 * Post footnotes
 *
 *   Wraps:
 *      - `c-footnotes__column`
 *
*/
.c-footnotes
  clearfix()
  border-top rem(1px) solid $gray--light

  +below('xl')
    padding-top rem(30px) // horizontal line padding

  +above('xl')
    padding-top rem(40px)
