/**
 * Post footnotes
 *
 *   Wraps:
 *      - `c-footnotes__column`
 *
*/
.c-footnotes
  clearfix()
  float left

  padding-top rem(30px) // horizontal line padding
  width 100%
  border-top rem(1px) solid $gray--light
