header.c-hero--workshops
  div.c-hero__content
    h1(ng-bind-html="siteConfig.workshops_page_title").c-workshops__title

    div(ng-cloak ng-show="(workshops|showWorkshops:filter).length > perPage").js-workshops-list.c-workshops__list
      workshop-preview(
        ng-show="inPaginatorScope(k)"
        ng-repeat="(k, workshop) in workshops" 
        ng-click="openWorkshop(workshop.slug)"
      )

    include ./includes/dashboard.jade
    
div(ui-view="")
