/**
 * Head
 *
 *    Site head (header)
 *
 *    --home modifier
 *      - larger height
 *      - transparent background
 *      - no border
 */
.c-head
  position relative
  z-index 99

  height rem(50px)

  background-color $white
  border-bottom solid rem(1px) $gray--light

.c-head--home
  position relative
  z-index 99
  background-color transparent

  +between('xs', 's')
    height rem(50px)

  +between('s', 'l')
    height rem(80px)

  +above('l')
    height rem(100px)
