/**
 * Head
 *
 *    Site head (header)
 *
 *    --home modifier
 *      Due to significally different front page (home) layout and style
 *      head is positioned and styled differently from the rest of the pages:
 *
 *      - absolute position
 *      - transparent background
 */
.c-head
  position relative
  z-index 100
  border-bottom solid rem(1px) #f3f3f3
  background-color color--white
  +media-query(mediatype, bp-tablet)
    padding-top rem(10px)
    padding-bottom rem(10px)

.c-head--home
  position absolute
  top rem(15px)
  z-index 100
  padding 0
  width 100%
  background-color transparent
  +media-query(mediatype, bp-tablet)
    top rem(25px)
    padding-top: rem(10px)
    padding-bottom: rem(10px)
  +media-query(mediatype, bp-desktop)
    top rem(35px)
  +media-query(mediatype, bp-desktop--medium)
    top rem(40px)
