/**
 * Head Logo
 */
.c-head__logo
  float left
  height rem(20px) // logo size
  fill $carbon-black

.c-head__logo--home
  @extend .c-head__logo

  fill $white

  +above('m')
    height rem(25px) // homepage logo is a bit bigger on tablet/desktop screens
