/*
 * Defult head-menu items
*/

/*
 * Homepage head-menu items
 *
 * As we cannot path class '--home' modifier to the NavWalker menu list element,
 * we will scope style elements of the menu list
*/
// .c-head-menu__list--home
//
//   .c-head-menu__item
//     display block
//     text-align center
//     +media-query(mediatype, bp-desktop)
//       display inline-block
//
//   .c-head-menu__item a
//     color color--white
//     padding rem(10px) 0
//     +media-query(mediatype, bp-tablet)
//       font-size size--milli
//     +media-query(mediatype, bp-tablet--landscape)
//       font-size size--centi
//     +media-query(mediatype, bp-desktop)
//       font-size size--femto
//       padding 0 rem(20px)
//       padding-top rem(3px)
