.c-head-menu__toggle
  @extend .o-btn
  float right
  font-size rem(32px) /* menu icon size */
  color color--mint /* menu icon color */
  transform rotate(-90deg) /* turn menu 'more' icon vertically */
  &:hover
  &:focus
    color color--mint + 50
  +media-query(mediatype, bp-tablet)
    font-size rem(30px)
  +media-query(mediatype, bp-desktop)
    display none /* hide icon on sizes bigger than tablet */

.c-head-menu__toggle--frontpage
  @extend .c-head-menu__toggle
  color color--white
  &:hover
  &:focus
    color color--mint
