/**
 * Head menu (site navigation)
 *
 *    Has same margins as main content wrapper
 */
.c-head-menu
  clearfix()
  @extend .o-content-wrapper
  line-height base--line-height
  letter-spacing rem(1px)
  position relative
  font-family base--font-body
  font-style normal
  font-weight weight--regular
  text-transform uppercase
