//- Related events (within events app)
div(ng-if="event.related_events").c-event__content.c-event__related-events
  h2.c-section-title--negative {{ siteConfig.event_related_events_title }}
  div.c-event__related-posts
    article(
      ng-repeat="event in event.related_events"
      ng-click="openEvent(event.slug)"
      ng-mouseenter="mouseHover=true"
      ng-mouseleave="mouseHover=false"
    ).c-event-preview--related
      include ../../preview--related-post.jade
