/**
 * Story preview caption
 *
 *    Wraps:
 *      - `c-story-preview__title`
 *      - `c-story-preview__protagonist`
 *
 */
.c-story-preview__caption
  position relative

  width 80% // prevents title from spanning across entire preview image
  height 100%
