/**
 * Story preview protagonist (hero)
 *
 *   Also styles protagonist's location (city)
 */
.c-story-preview__protagonist
  position absolute
  bottom 0

  font-family $base-heading-font
  font-weight $thin
  font-style normal
  letter-spacing rem(1.2px)
  color $white

  strong
  em
  b
    font-weight $regular

  +below('l')
    font-size $micro

  +between('l', 'xl')
    font-size $milli

  +above('xl')
    font-size $centi

// Related post modifier
.c-story-preview__protagonist--related
  @extend .c-story-preview__protagonist

  +below('l')
    font-size $micro

  +between('l', 'xl')
    font-size $nano

  +above('xl')
    font-size $micro
