/**
 * Story post content
 *
 *    Wraps:
 *      - `c-story__main`
 *      - `c-story__sidebar`
*/
.c-story__content
  center()

  +below('l')
    height 100vh // temporary solution until vertical centering with angular app is implemented

  +above('l')
    height 50vh // temporary solution until vertical centering with angular app is implemented
