/**
 * Story post content
 *
 *    Wraps:
 *      - `c-story__main`
 *      - `c-story__sidebar`
*/
.c-story__content
  center()

  +below('m')
    margin-bottom rem(20px) // between content and footer

  +above('m')
    margin-bottom rem(40px)
