/**
 * Story post content
 *
 *    Wraps:
 *      - `c-story__main`
 *      - `c-story__sidebar`
*/
.c-story__content
  clearfix()

  +below('m')
    padding rem(15px)

  +between('m', 'l')
    padding rem(30px)

  +between('l', 'xl')
    padding rem(30px) rem(40px)

  +between('xl', 'uhd')
    padding rem(40px) rem(80px)

  +above('uhd')
    padding rem(60px) rem(100px)
