/**
 * Story post footer
 *
 *   Wraps:
 *      - `c-story__categories`
 *
*/
.c-story__footer
  float left
  clearfix()

  +below('xl')
    margin-top rem(30px) // between  main/sidebar and footer

  +above('xl')
    margin-top rem(40px)
