/**
 * Story post main
 */
.c-story__main

  +below('m')
    stack()
    margin-bottom rem(20px) // between main content and sidebar

  +between('m', 'l')
    margin-bottom rem(40px)

  +above('l')
    column(4/6)
    margin-bottom 0
