/*
 * Story post related events
 */
.c-story__related-events
  background-color $yolk

  +below('m')
    center(rem(600px))
    width 100%

  +between('m', 'l')
    center(rem(860px))
    margin-top rem(20px)
    width 90%

  +between('l', 'xl')
    center(rem(1050px))
    margin-top rem(30px)
    width 90%

  +between('xl', 'uhd')
    center(rem(1200px))
    width 80%

  +above('uhd')
    center(rem(1660px))
