/**
 * Site header menu
 *
 *    Wraps:
 *      - `c-header__logo`
 *      - `c-header__menu-icon`
 *      - `c-header__list`
*/
.c-header__menu
  @extend .o-centered-content

  align(both)
  width 100%
