div(ng-switch-when="workshop").c-event__featured-workshop
  //- Section title
  h3.has-title
    span {{ siteConfig.event_featured_workshop_title }}
        
  article
    header.c-workshop-preview__head
      h2.c-workshop-preview__title {{ item.title }}

    main.c-workshop-preview__content
      p.c-workshop-preview__caption {{ item.caption }}
      
      //- Details
      div.c-workshop-preview__details
        div.is-detail
          strong {{ siteConfig.workshop_target_group_label }}: 
          span {{ item.target_group }}
        div.is-detail
          strong {{ siteConfig.workshop_duration_label }}: 
          span {{ item.duration }}
        div.is-detail
          strong {{ siteConfig.workshop_type_label }}: 
          span(ng-repeat="type in item.types")
            | {{ type.term_name }}{{ $last ? '' : ($index==term_name.length-2) ? ', and ' : ',&nbsp;' }}

    footer.c-workshop-preview__footer__
      a(ng-href="{{ item.external_slug }}").c-workshop-preview__cta
        | {{ siteConfig.workshop_preview_cta_button_label }}
