div.c-workshop__booking
  a(href!="{{ siteConfig.workshop_external_form_url }}").c-workshop__cta-button
    | {{ siteConfig.workshop_booking_button_label }}
    span.c-icon-arrow-right--circle.has-icon
