div.c-workshop__details
  div(ng-if="workshop.target_group").is-detail
    strong {{ siteConfig.workshop_target_group_label }}: 
    span {{ workshop.target_group }}
  div(ng-if="workshop.group_size").is-detail
    strong {{ siteConfig.workshop_group_size_label }}: 
    span {{ workshop.group_size }}    
  div(ng-if="workshop.duration").is-detail
    strong {{ siteConfig.workshop_duration_label }}: 
    span {{ workshop.duration }}
  div(ng-if="language.term_name").is-detail
    strong {{ siteConfig.workshop_language_label }}: 
    span(ng-repeat="language in workshop.languages")
      | {{ language.term_name }}{{ $last ? '' : ($index==term_name.length-2) ? ', and ' : ',&nbsp;' }}
