/**
 * Section title
 */
.c-section-title
  @extend .o-heading
  margin-top rem(25px)
  margin-bottom rem(15px)
  font-size $pico
  font-weight $regular
  letter-spacing rem(1px)
  strong
  em
  b
  font-weight $semibold
  +media-query(mediatype, bp-tablet)
    margin-top rem(10px)
    font-size $nano
  +media-query(mediatype, bp-desktop)
    font-size $micro
  +media-query(mediatype, bp-desktop--medium)
    margin-top rem(25px)
    margin-bottom rem(25px)
    font-size $milli
