/**
 *  Theater
 *
 *    Styles `o-overlay` layer to create distraction-free view
 *    for modal media content.
 *
*/
.c-theater-view
  @extend .o-overlay
  background-color rgba($black, .65) /* dark backdrop */

// Theater container for the actual content
// Ads margins, paddings and background for the
.c-theater-view__content
  position relative
  float left
  background-color $white
  padding rem(15px) /* padding around post content */
  width 100% /* sets content width, no post navigation on the sides */
  +media-query(mediatype, bp-tablet)
    margin rem(40px) 0  /* vertical space between post content and viewport edges */
    padding rem(20px) 3%
    width 90%
  +media-query(mediatype, bp-desktop)
    margin rem(60px) 0
    padding rem(20px) 5%
  +media-query(mediatype, bp-desktop--medium)
    padding rem(30px) 5%
  +media-query(mediatype, bp-desktop--large)
    margin rem(80px) 0
    padding rem(40px) 6%
    width 80%
