div(ng-click="prev()").c-post-navigation--left.js-post-navigation
  div.c-icon-arrow-left--circle.is-previous
    span.u-visually-hidden {{ siteConfig.previous_button_label }}

div(ng-click="next()").c-post-navigation--right
  div.c-icon-arrow-right--circle.is-next
    span.u-visually-hidden {{ siteConfig.next_button_label }}
