.c-faq__title
  padding-bottom rem(45px)
  color $white

  +below('l')
    font-size $deci
    line-height 1.2

  +between('l', 'xl')
    font-size $tera

  +between('xl', 'hd')
    font-size $peta

  +above('hd')
    font-size $yotta
    line-height 1
