<div class="c-events__head js-wrapper-block">

  <h1 class="c-events__title" ng-bind-html="siteConfig.events_page_title"></h1>

  <!-- timeline switcher-->
  <timeline-switcher></timeline-switcher>

  <!-- categories filter -->
  <div class="c-categories-filter">

    <!-- categories list -->
    <ul class="c-category-filter__list">

      <!-- 'all topics' button -->
      <li class="c-category-filter__item"
        ng-class="{ 'is-active--events': filter.topics.length === 0 }"
        ng-click="resetTopicsFilter()">
        {{ siteConfig.all_events_filter_label }}
      </li>

      <!-- topics -->
      <li class="c-category-filter__item"
        ng-repeat="topic in siteConfig.event_filters"
        ng-class="{ 'is-active--events': filter.topics.indexOf(topic.slug) > -1 }"
        ng-click="toggleTopicInFilter(topic.slug)"
        ng-bind-html="topic.name">
      </li>

    </ul>

  </div>

  <!-- filter dashboard -->
  <div class="c-dashboard">

    <ul class="c-dashboard__info">
      <!-- total entries -->
      <li class="c-dashboard__posts-total">
        {{ siteConfig.timeline_total_events_label }}:
        <strong>{{ events.length }}</strong>
      </li>
      <!-- filtered entries -->
      <li class="c-dashboard__posts-filtered" ng-show="events.length != (events|filter: {hide: false}).length">
        {{ siteConfig.timeline_filtered_events_label }}:
        <strong>{{ (events|filter: {hide: false}).length}}</strong>
      </li>
    </ul>

  </div>

</div>

<div ui-view></div>

<!-- events list (timeline)  -->
<div class="c-timeline">

  <!-- timeline events corousel -->
  <carousel ng-if="filter.topics" class="c-timeline__events" data-options="{ items: 5, touchDrag: true, navigation: false, pagination: true, rewindnav: false }">
      <event-preview
        carousel-item=""
        class="c-event-preview"
        ng-class="{'c-event-preview--disabled': event.hide === true}"
        ng-repeat="event in events|showEvents:filter"
        ng-click="openEvent(event.slug)"
        title="{{event.title}}"
        image="{{event.preview_image}}"
        year="{{event.year}}">
      </event-preview>
  </carousel>

  <!-- timeline events navigation -->
  <div class="c-timeline__navigation">
    <a href="#" class="c-icon-arrow-left--circle is-previous js-timeline__previous"></a>
    <div class="c-timeline__line"></div>
    <a href="#" class="c-icon-arrow-right--circle is-next js-timeline__next"></a>
  </div>


</div>
