//- Post type query
:php
  $the_query = new WP_Query([
  	'post_type'        => 'workshop',
  	'posts_per_page'   => -1,
  	'order'            => 'DESC'
  ]);
  
- if($the_query->have_posts()) :
  - while($the_query->have_posts()) : $the_query->the_post()
    
      //- Get Workshop preview template
      - get_template_part('content/post-types/workshop/crawler/preview')
    
    - wp_reset_postdata()
  - endwhile
- endif
