/**
 * Post sharing link
 */
.c-post-sharing__link
  @extend .o-btn
  transition all .2s ease-in

  +below('m')
    font-size rem(30px)

  +between('m', 'hd')
    font-size rem(32px)

  +above('hd')
    font-size rem(36px)

  &:hover
  &:focus
    transform translateY(rem(-3px))

// Event post modifier
.c-post-sharing__link--event
  @extend .c-post-sharing__link

  color $indigo + 5%

  &:hover
  &:focus
    color $indigo - 30%

// Story post modifier
.c-post-sharing__link--story
  @extend .c-post-sharing__link

  color $blueberry + 10%

  &:hover
  &:focus
    color $blueberry - 15%
