/**
 * Post sharing list
 *
 *   Wraps:
 *      - `c-post-sharing__label`
 *      - `c-post-sharing__item`
 *
*/
.c-post-sharing__list
  @extend .o-ui-list

  display block
  float left
  margin-bottom rem(25px)
  padding-top rem(25px)
  width 100%
  border-top rem(1px) solid $gray--light
