/**
 * Home (body class)
 *
 *   Wraps:
 *      - `c-home__content`
 *
 */
.c-home
  position relative

  // Background image
  .has-background
    position relative
    overflow hidden
    height 100vh // ensures background size equals window height, if javascript fails

    background-repeat no-repeat
    background-size cover
    background-color $indigo // fallback color
    transition all .5s ease // smooth transition on screen orientation change

    // Note: Image aspect ratio 16:9

    +below('l')
      background-image url(../images/home/diagonals--mobile.jpg)
      +retina()
        background-image url(../images/home/diagonals--mobile@hidpi.jpg)

    +between('l', 'hd')
      background-image url(../images/home/diagonals--desktop.jpg)
      +retina()
        background-image url(../images/home/diagonals--desktop@hidpi.jpg)

    +above('hd')
      background-image url(../images/home/diagonals--hd-screen@hidpi.jpg)
      +retina()
        background-image url(../images/home/diagonals--hd-screen@hidpi.jpg)

    // Customized bakcground position for different screens
    +at('xs', orientation: portrait)
      min-height rem(500px) // extra space for the content on smallest screens

    +between('xs', 'm', orientation: portrait)
      background-position 95%

    +at('m', orientation: portrait)
      background-position 40%

    +at('l', orientation: landscape)
      background-position 85%

    +above('hd', orientation: landscape)
      background-position 100%
