.c-home__tanya-image
  absolute false 0 0 false
  z-index 0
  height 95% // keeps image below head menu
  background-repeat no-repeat
  background-size cover

  // Mobile & Tablet screens
  +below('s', orientation: portrait)
    min-height rem(500px)
    width 100%
    background-image url(../images/home/tanya--mobile-portrait.png)
    +retina()
      background-image url(../images/home/tanya--mobile-portrait@hidpi.png)

  +between('s', 'l', orientation: landscape)
    width 50%
    background-image url(../images/home/tanya--mobile.png)
    +retina()
      background-image url(../images/home/tanya--mobile@hidpi.png)

  +between('m', 'l', orientation: portrait)
    width 85%
    background-image url(../images/home/tanya--desktop.png)
    +retina()
      background-image url(../images/home/tanya--desktop@hidpi.png)

  // Laptop & Desktop screens
  +between('l', 'xl')
    width 50%
    height 92%
    background-image url(../images/home/tanya--desktop.png)
    +retina()
      background-image url(../images/home/tanya--desktop@hidpi.png)

  +above('hd')
    width 45%
    height 90%
    background-image url(../images/home/tanya--hd-screen.png)
    +retina()
      background-image url(../images/home/tanya--hd-screen@hidpi.png)
