/**
 *  Owl Carousel pagination item (dot) (overwrites)
 */

.owl-theme
  .owl-controls
    .owl-page
      span
        @extend .o-btn

        background $gray--medium !important // @stylint ignore
        transition all .2s ease-in

        &:hover
        &:focus
          transform scale(1.35)

    // Active item
    .active
      span
        background $yolk !important // @stylint ignore
