/**
 * Centers text horizontally
*/
.u-text-center
  text-align center !important // @stylint ignore

.u-text-right
  text-align right !important // @stylint ignore

.u-text-left
  text-align center !important // @stylint ignore
