/**
 * Centers content vertically
 *
 *    example: <div class="u-centering-wrapper">
 *               <div class="u-centered">
 *                   <p>Content</p>
 *                </div>
 *              </div>
*/
.u-centering-wrapper
  display table
  width 100%
  min-height 100%

.u-centered
  display table-cell
  text-align center
  vertical-align middle
