/**
 * Hides contente for sighted users while still keeping it
 * accessible by screen readers
*/
.u-visually-hidden
  position absolute
  overflow hidden
  clip rect(0 0 0 0)
  size 1px
  margin -1px
  padding 0
  border 0
