/**
 * Event preview content
 *
 *    Wraps:
 *      - `c-event-preview__year`
 *      - `c-event-preview__title`
 */
.c-event-preview__content
  display block
  position absolute
  bottom rem(20px) // compensates `.c-event-preview__strip` height

  width 100%

  transition all .3s ease-in // on `.c-event-preview` hover/focus

  +below('l')
    padding rem(20px)

  +above('l')
    padding rem(25px)

// Related post modifier
.c-event-preview__content--related
  @extend .c-event-preview__content

  bottom 0 // no `.c-event-preview__strip` in this modifier
  padding rem(15px)
