/**
 * Pagination list active item
 */
.c-pagination__list

  .is-active
    font-weight $regular
    color $carbon-black

    &:hover
    &:focus
      // no hover effect
      color $carbon-black
      cursor default
