/**
 * CTA button icon
 */
.c-cta-button__icon
  display inline-block
  margin-right rem(12px) // space between icon and label
  vertical-align middle
  color $white

  +below('xl')
    font-size rem(25px) // icon size

  +above('xl')
    font-size rem(28px)
