/**
 * CTA button label (text)
 */
.c-cta-button__label
  vertical-align middle
  font-family $base-heading-font
  font-weight $thin
  color $white

  +below('xl')
    letter-spacing rem(.7px)
    font-size $micro

  +above('xl')
    font-size $milli
    letter-spacing rem(1px)
