  <div class="o-wrapper">
    <ul class="c-filter-list">
      <li class="c-filter-list__item o-btn c-btn--medium c-btn--lightgray"
        ng-class="{ 'c-filter-list__item--active--blueberry': filter.topics.length === 0 }"
        ng-click="resetTopicsFilter()">
        {{ siteConfig.all_stories_filter_label }}
      </li>
      <li class="c-filter-list__item o-btn c-btn--medium c-btn--lightgray"
        ng-repeat="topic in siteConfig.story_filters"
        ng-class="{ 'c-filter-list__item--active--blueberry': filter.topics.indexOf(topic.slug) > -1 }"
        ng-click="toggleTopicInFilter(topic.slug)"
        ng-bind-html="topic.name">
      </li>
    </ul>
    <ul class="c-filter-counter">
      <li class="c-filter-counter__item">{{ siteConfig.total_stories_label }}: <strong>{{ stories.length }}</strong></li>
      <li class="c-filter-counter__item" ng-show="stories.length != (stories|showStories:filter).length">
        {{ siteConfig.flitered_stories_label }}: <strong>{{ (stories|showStories:filter).length}}</strong>
      </li>
    </ul>
  </div>
  <div class="c-wrapper--row">
    <story-preview
      class="story-preview__item"
      ng-click="openStory(story.slug)"
      ng-class="{'story-preview__item--disabled': story.hide === true}"
      ng-repeat="(k, story) in stories|showStories:filter" ng-show="inPaginatorScope(k)">
    </story-preview>
  </div>

  <div ui-view></div>

  <div class="o-wrapper c-wrapper--row">
    <ul class="c-pagination c-pagination--stories" ng-show="(stories|showStories:filter).length > perPage">
      <li ng-click="prevPage()" ng-show="page > 0" class="c-pagination__item c-pagination__icon u-icon u-icon-arrow-left"></li>
      <li ng-repeat="(k, v) in getPages() track by $index" class="c-pagination__item "
          ng-click="toPage(k)"
          ng-class="{'c-pagination__item--active': k === page }">{{ k+1 }}</li>
      <li ng-click="nextPage()" ng-show="page < (getPages()).length-1" class="c-pagination__icon u-icon u-icon-arrow-right"></li>
    </ul>
  </div>
