  <div class="o-wrapper">
    <ul class="filter-list">
      <li class="filter-list__item o-btn c-btn--medium c-btn--lightgrey"
        ng-class="{ 'filter-list__item--active--blueberry': filter.topics.length === 0 }"
        ng-click="resetTopicsFilter()">
        {{ siteConfig.all_stories_filter_label }}
      </li>
      <li class="filter-list__item o-btn c-btn--medium c-btn--lightgrey"
        ng-repeat="topic in siteConfig.story_filters"
        ng-class="{ 'filter-list__item--active--blueberry': filter.topics.indexOf(topic.slug) > -1 }"
        ng-click="toggleTopicInFilter(topic.slug)"
        ng-bind-html="topic.name">
      </li>
    </ul>
    <ul class="filter-counter">
      <li class="filter-counter__item">{{ siteConfig.total_stories_label }}: <strong>{{ stories.length }}</strong></li>
      <li class="filter-counter__item" ng-show="stories.length != (stories|showStories:filter).length">
        {{ siteConfig.flitered_stories_label }}: <strong>{{ (stories|showStories:filter).length}}</strong>
      </li>
    </ul>
  </div>
  <div class="c-wrapper--row">
    <story-preview
      class="story-preview__item"
      ng-click="openStory(story.slug)"
      ng-class="{'story-preview__item--disabled': story.hide === true}"
      ng-repeat="(k, story) in stories|showStories:filter" ng-show="inPaginatorScope(k)">
    </story-preview>
  </div>

  <div ui-view></div>

  <div class="c-wrapper--row">
    <ul class="pagination">
      <li ng-click="prevPage()" ng-show="page > 0">Previous</li>
      <li ng-repeat="(k, v) in getPages() track by $index" 
          ng-click="toPage(k)" 
          ng-class="{'pagination__item--active': k === page }">{{ k+1 }}</li>
      <li ng-click="nextPage()" ng-show="page < (getPages()).length-1">Next</li>
    </ul>
  </div>

