<div class="o-lightbox c-lightbox--story js-lightbox">

  <div ng-click="prev()" class="c-lightbox__nav-wrapper c-lightbox__nav-wrapper--left js-lightbox-nav-wrapper">
    <div class="c-lightbox__nav c-lightbox__nav--prev o-icon c-icon-arrow-left-negative">
      {{ siteConfig.previous_button_label }}
    </div>
  </div>

  <div ng-click="next()" class="c-lightbox__nav-wrapper c-lightbox__nav-wrapper--right">
    <div class="c-lightbox__nav c-lightbox__nav--next o-icon c-icon-arrow-right-negative">
      {{ siteConfig.next_button_label }}
    </div>
  </div>

  <div ng-cloak ng-show="story.video_url" class="o-lightbox__content-wrapper c-lightbox__content-wrapper--story">
    <!-- close button -->
    <div class="c-lightbox__nav c-lightbox__nav--close o-icon c-icon-close-medium-gray" ng-click="closeLightbox()">
      {{ siteConfig.close_button_label }}
    </div>

    <div class="c-story__header">
      <ul class="c-categories-chain">
        <li ng-repeat="topic in story.topics"
          class="c-categories-chain__item o-btn c-btn--blueberry c-btn--small"
          ng-bind-html="topic.term_name">
        </li>
      </ul>
      <h1 class="o-heading c-heading--story-title">{{ story.title }}</h1>
      <h2 class="c-story__hero">
        <strong>{{ story.hero }}</strong>, {{ story.city[0].term_name }}
      </h2>
    </div>

    <div class="o-row c-story__content">
      <div class="c-story__body o-wp-editor">
        <!-- main content -->
        <div class="u-video-container c-story__video">
          <anguvideo ng-model="story.video_url"></anguvideo>
        </div>
      </div>
      <!-- sidebar -->
      <div class="c-story__sidebar">
        <div ng-if="story.subtitles_notification == 1" class="c-closed-captions-notice">
          <div class="o-icon c-icon-closed-captions c-closed-captions-notice__icon"></div>
          <div class="c-closed-captions-notice__wrapper">
            <h3 ng-bind-html="siteConfig.story_cc_notice_title" class="o-heading c-closed-captions-notice__title"></h3>
            <p ng-bind-html="siteConfig.story_cc_notice_text" class="o-paragraph c-paragraph--sidebar c-closed-captions-notice__text"></p>
          </div>
        </div>
        <div ng-if="story.excerpt" class="c-story__quote">
          <div class="o-icon c-icon-quotation-mark-blueberry c-sidebar-quote__icon c-sidebar-quote__icon--story"></div>
          <h2 ng-bind-html="story.excerpt" class="o-heading c-sidebar-quote__text c-sidebar-quote__text--story"></h2>
          <div class="c-sidebar-quote__author-block c-sidebar-quote__author-block--story">
            <span class="c-sidebar-quote__dash">—</span>
            <span class="c-sidebar-quote__author">{{ story.hero }}<span>, {{ story.city[0].term_name }}</span></span>
          </div>
        </div>
        <!-- soicail shares -->
        <ul class="o-social-icons o-social-icons__list c-social-icons__list--post-share">
          <li class="o-social-icons__item">
            <a class="o-icons-list__link c-icons-list__link--post-share o-icon c-icon-facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}">Facebook Share</a>
          </li>
          <li class="o-social-icons__item">
            <a class="o-icons-list__link c-icons-list__link--post-share o-icon c-icon-twitter" href="http://www.twitter.com/share?url={{ shareUrl }}">Tweet</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</div>
