<div class="lightbox">
  <div class="lightbox__wrapper">
    <div class="lightbox__close u-icon u-icon-close" ng-click="closeLightbox()">Close</div>
    <!-- close button -->

    <div class="o-wrapper--row story__header">
      <ul class="c-categories-chain">
        <li ng-repeat="topic in story.topics"
          class="c-categories-chain__item o-btn c-btn--blueberry c-btn--small"
          ng-bind-html="topic.term_name">
        </li>
      </ul>
      <h2 class="o-heading c-heading--page-title"><strong>{{ story.hero }} </strong></h2>
      <h1 class="o-heading c-heading--story-title">{{ story.title }}</h1>
      <!-- soicail shares -->
      <ul class="o-social-icons o-social-icons__list">
        <li class="o-social-icons__item">
          <a class="o-icons-list__link u-icon u-icon-facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}">Facebook Share</a>
        </li>
        <li class="o-social-icons__item">
          <a class="o-icons-list__link u-icon u-icon-twitter" href="http://www.twitter.com/share?url={{ shareUrl }}">Tweet</a>
        </li>
      </ul>
    </div>
    <div class="o-wrapper--row story__content">
      <div class="story__body">
        <!-- main content -->
        <div class="u-video-container">
          <anguvideo ng-model="story.video_url" width="100%"></anguvideo>
        </div>
      </div>
    </div>
  </div>
</div>
