// Mobile
.u-margin-top--mobile
  margin-top $base--margin
  +media-query($screen, $bp--tablet)
    margin-top 0

.u-margin-right--mobile
  margin-right $base--margin
  +media-query($screen, $bp--tablet)
    margin-right 0

.u-margin-bottom--mobile
  margin-bottom $base--margin
  +media-query($screen, $bp--tablet)
    margin-bottom 0

.u-margin-left--mobile
  margin-left $base--margin
  +media-query($screen, $bp--tablet)
    margin-left 0

// Tablet
.u-margin-top--tablet
  +media-query($screen, $bp--tablet)
    margin-top $base--margin
  +media-query($screen, $bp--desktop)
    margin-top 0

.u-margin-right--tablet
  +media-query($screen, $bp--tablet)
    margin-right $base--margin
  +media-query($screen, $bp--desktop)
    margin-top 0

.u-margin-bottom--tablet
  +media-query($screen, $bp--tablet)
    margin-bottom $base--margin
  +media-query($screen, $bp--desktop)
    margin-top 0

.u-margin-left--tablet
  +media-query($screen, $bp--tablet)
    margin-left $base--margin
  +media-query($screen, $bp--desktop)
    margin-top 0

// Desktop
.u-margin-top--desktop
  +media-query($screen, $bp--desktop)
    margin-top $base--margin

.u-margin-right--desktop
  +media-query($screen, $bp--desktop)
    margin-right $base--margin

.u-margin-bottom--desktop
  +media-query($screen, $bp--desktop)
    margin-bottom $base--margin

.u-margin-left--desktop
  +media-query($screen, $bp--desktop)
    margin-left $base--margin
