/**
 * Story post sidebar
 *
 *    Wraps:
 *      - `c-quote--story`
 *      - `c-cc-notice`
 *      - `c-story__categories`
 *      - `c-post-sharing`
 */
.c-story__sidebar
  clearfix()

  +below('l')
    stack()

  +above('l')
    column(2/6)

  // Top margin (aligns nicely with the title)
  +between('l', 'uhd')
    margin-top rem(90px)

  +above('uhd')
    margin-top rem(105px)
