/**
 * Page content (layout)
 *
 *    Wrapps:
 *      - `c-page__main`
 *      - `c-page__sidebar`
*/
.c-page__content
  center()
  padding-bottom rem(100px) /* ensure that footer doesn't stick right to the content */
