/**
 * PAge main (aka 'main content')
 *
 *    - Wrapped inside `c-page__content`
 *    - Stacks on top of sidebar on mobile screen
 *    - Displayed next to sidebar on desktop screen
 */
.c-page__main
  stack()
  +media-query(mediatype, bp-tablet--landscape)
    unstack()
    column(5/8)
