/**
 * Sidenote title
 *
 *    extends `o-sidenote__title`
 */
.o-sidenote__title--page
  @extend .o-sidenote__title
  color $mint
  font-size $centi
  +media-query( mediatype, bp-tablet )
    font-size size--deca
  +media-query( mediatype, bp-desktop )
    font-size $mega
  +media-query( mediatype, bp-desktop--medium )
    font-size size--tera
    line-height 1.2
