/**
 * Page subtitle
 */
.c-page-subtitle
  font-size size--micro
  font-weight weight--regular
  strong
  em
  b
    font-weight weight--bold
  +media-query(mediatype, bp-tablet)
    font-size size--centi
  +media-query(mediatype, bp-desktop--medium)
    font-size size--deci
