/**
 * Page subtitle
 */
.c-page-subtitle
  font-size $micro
  font-weight $regular
  strong
  em
  b
    font-weight $bold
  +media-query(mediatype, bp-tablet)
    font-size $centi
  +media-query(mediatype, bp-desktop--medium)
    font-size $deci
