/**
 * Page title
 */
.c-page__title
  font-size size--deci
  line-height 1.2
  //text-transform none
  +media-query(mediatype, bp-tablet)
    font-size size--tera
  +media-query(mediatype, bp-desktop)
    font-size size--peta
  +media-query(mediatype, bp-desktop--medium)
    font-size size--yotta
    line-height 1
