/**
 * Workshop preview
 *
 *    Wraps:
 *      - `c-workshop-preview__head`
 *      - `c-workshop-preview__summary`
 */
.c-workshop-preview
  column(1/6)

  margin-bottom rem(20px)
  padding rem(30px)
  min-height rem(490px)
  background-color $gray--light

// Featured modifier
.c-workshop-preview--featured
  colum(3/6)
